<template>
  <page-wrapper spacing="px-1 py-4">
    <v-row align="center" justify="center">
      <v-col cols="12" class="px-8">
        <v-card flat align="center" justify="center">
          <v-app-bar flat tile color="transparent">
            <v-toolbar-title>{{ $t('system.title') }}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-menu left bottom disabled>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
            </v-menu>
          </v-app-bar>

          <v-divider></v-divider>

          <v-card-text>
            <v-layout row wrap>
              <v-flex xs6 class="my-2">
                <v-card
                  class="ml-4 mr-2"
                  align="center"
                  justify="center"
                  height="100%"
                >
                  <v-app-bar flat tile color="transparent">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>{{
                      $t('system.sections.runtime')
                    }}</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-menu left bottom disabled>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>
                    </v-menu>
                  </v-app-bar>

                  <v-divider></v-divider>

                  <v-card-text>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1">OS:</v-col>
                      <v-col cols="6" class="text-left text-body-1"
                        >macOS</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >CPU Numbers:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">8</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Compiler:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">gc</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Go Version:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >1.16.1</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Go Routine Numbers:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">15</v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs6 class="my-2">
                <v-card
                  class="ml-2 mr-4"
                  align="center"
                  justify="center"
                  height="100%"
                >
                  <v-app-bar flat tile color="transparent">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>{{
                      $t('system.sections.disk')
                    }}</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-menu left bottom disabled>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>
                    </v-menu>
                  </v-app-bar>

                  <v-divider></v-divider>

                  <v-card-text>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Total (MB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >203400</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Used (MB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >29021</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Total (GB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">212</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Used (GB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">22</v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs6 class="my-2">
                <v-card
                  class="ml-4 mr-2"
                  align="center"
                  justify="center"
                  height="100%"
                >
                  <v-app-bar flat tile color="transparent">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>{{
                      $t('system.sections.cpu')
                    }}</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-menu left bottom disabled>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>
                    </v-menu>
                  </v-app-bar>

                  <v-divider></v-divider>

                  <v-card-text>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Physical Number of Cores::</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">3</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Core 0:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >29021</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Core 1:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">212</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Core 2:</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">22</v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs6 class="my-2">
                <v-card
                  class="ml-2 mr-4"
                  align="center"
                  justify="center"
                  height="100%"
                >
                  <v-app-bar flat tile color="transparent">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>{{
                      $t('system.sections.ram')
                    }}</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-menu left bottom disabled>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>
                    </v-menu>
                  </v-app-bar>

                  <v-divider></v-divider>

                  <v-card-text>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Total (MB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >203400</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Used (MB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1"
                        >29021</v-col
                      >
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Total (GB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">212</v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="text-left text-body-1"
                        >Used (GB):</v-col
                      >
                      <v-col cols="6" class="text-left text-body-1">22</v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </page-wrapper>
</template>

<script>
import pageMixin from '@/mixins/pageMixin'
import { getSystemState } from '@/api/system'

export default {
  name: 'State',
  mixins: [pageMixin],
  data() {
    return {
      timer: null,
      state: {},
      colors: [
        { color: '#5cb87a', percentage: 20 },
        { color: '#e6a23c', percentage: 40 },
        { color: '#f56c6c', percentage: 80 },
      ],
    }
  },
  created() {
    this.reload()
    this.timer = setInterval(() => {
      this.reload()
    }, 1000 * 10)
  },
  beforeDestroy() {
    clearInterval(this.timer)
    this.timer = null
  },
  methods: {
    async reload() {
      const { data } = await getSystemState()
      this.state = data.server
    },
  },
}
</script>

<style scoped></style>
