<template>
  <canvas ref="canvas"
          v-bind="canvasAttrs">
  </canvas>
</template>

<script>
export default {
  name: 'PdfPage',
  props: ['page', 'scale'],
  data () {
    return {
      viewport: null,
      renderTask: null
    }
  },
  computed: {
    canvasAttrs () {
      const { width, height } = this.viewport
      return { width, height }
    }
  },
  methods: {
    // Render PDF page into canvas context
    renderPage() {
      this.renderTask = this.page.render(this.getRenderContext())
      this.renderTask.promise.then(() => {
        console.log('Page rendered')
      })
    },
    getRenderContext() {
      console.log('canvas element: ', this.$refs.canvas)
      const canvas = this.$refs.canvas
      const canvasContext = canvas.getContext('2d')

      return {
        canvasContext,
        viewport: this.viewport
      }
    }
  },
  created () {
    this.viewport = this.page.getViewport({ scale: this.scale })
    console.log('viewport: ', this.viewport)
  },
  mounted () {
    this.renderPage()
  }
}
</script>
