<template>
  <v-dialog v-model="dialog" dark fullscreen hide-overlay transition="dialog-bottom-transition">
    <template v-slot:activator="{ on }">
      <v-tooltip top>
        <template v-slot:activator="{ tooltip }">
          <v-btn 
            icon
            v-on="on"
            color="primary" 
            class="mr-4"
            v-show="show"
            @click="$emit('click')"
          >
            <v-icon v-on="tooltip">mdi-file-document-box-search-outline</v-icon>
          </v-btn>
        </template>
        <span>File preview</span>
      </v-tooltip>
    </template>
    <v-card tile :loading="loading">
      <v-app-bar dense fixed>
        <v-spacer></v-spacer>
        <v-btn icon @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text class="text-center mt-8">
        <pdf-page v-for="page in pages"
                  :key="page.pageNumber"
                  :page="page"
                  :scale="scale">
        </pdf-page>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import range from 'lodash/range'
import PdfPage from './PdfPage'

export default {
  name: 'PdfViewer',
  components: { PdfPage },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    scale: {
      type: Number,
      default: 1.25
    }
    // encodedData: {
    //   type: String, // based64 encoded data
    //   required: true
    // },
  },
  data () {
    return {
      pdf: null,
      pages: [],
      dialog: false,
      loading: false
    }
  },
  // watch: {
  //   encodedData () {
  //     const decodedData = this.decode(this.encodedData)
  //     this.getDocument(decodedData)
  //   }
  // },
  methods: {
    // Given the decoded data
    getDocument (data) {
      import('pdfjs-dist/webpack').then(pdfjs => {
        pdfjs.getDocument({ data }).promise.then(pdf => {
          this.pdf = pdf
          // console.log('pdf: ', this.pdf)
          // console.log('numPages: ', this.pdf.numPages) // TODO: show numPages
          this.getPages()
        })
      })
    },
    // Given the path to the pdf file
    getDocumentByUrl (url) {
      import('pdfjs-dist/webpack').then(pdfjs => {
        pdfjs.getDocument(url).promise.then(pdf => {
          this.pdf = pdf
          // console.log('getDocumentByUrl, pdf: ', this.pdf)
          // console.log('numPages: ', this.pdf.numPages) // TODO: show numPages
          this.getPages()
        })
      })
    },
    getPages () {
      const promises = range(1, this.pdf.numPages + 1).map(num => this.pdf.getPage(num))
      Promise.all(promises)
        .then(pages => {
          this.pages = pages
          // console.log('pages fetched: ', this.pages)
        })
    },
    decode (encodedData) {
      try {
        return window.atob(encodedData)
      } catch(e) {
        // check for 'e.code === 5' for invalid base64 ('DOMException.INVALID_CHARACTER_ERR === 5')
        // console.log('Failed decoding: ', e)
      }
    }
  },
  // For test only
  mounted () {
    this.getDocumentByUrl(process.env.BASE_URL + 'study_id_card_EFC15858.pdf')
    // decodes a string of data which has been encoded using base-64 encoding
    // const testData = atob(
    //   'JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwog' +
    //   'IC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAv' +
    //   'TWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0K' +
    //   'Pj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAg' +
    //   'L1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+' +
    //   'PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9u' +
    //   'dAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2Jq' +
    //   'Cgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJU' +
    //   'CjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVu' +
    //   'ZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4g' +
    //   'CjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAw' +
    //   'MDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9v' +
    //   'dCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G')
    // this.getDocument(testData)
  }
}
</script>
