<template>
  <v-app-bar
    color="white"
    dense
    flat
    class="ag-table-toolbar"
  >
    <slot name="toolbar.before.start" />
    <ag-table-filter
      style="width: 26%;"
      :visible="searchable"
      :grid-options="gridOptions"
    />
    <slot name="toolbar.after.start" />
    <v-spacer />
    <slot name="toolbar.before.end" />
    <ag-table-page-size
      v-if="pageSizeResizable"
      class="mr-2"
      :grid-options="gridOptions"
    />
    <checkbox-menu
      v-if="columnsVisible"
      class="mr-2"
      :items="menuItems"
      :label="menuLabel"
      :prepend-icon="menuPrependIcon"
      :show-text="showText"
      :small="small"
      :x-small="xsmall"
      @input="onColSelectionChanged"
    />
    <ag-table-exporter
      v-if="exportable"
      class="mr-2"
      :grid-options="gridOptions"
      :dataset-name="datasetName"
      :show-text="showText"
      dialog-title="Export Options"
      :small="small"
      :x-small="xsmall"
    />
    <slot name="toolbar.after.end" />
  </v-app-bar>
</template>

<script>
import CheckboxMenu from '@/components/general/menus/CheckboxMenu'
import AgTableFilter from '@/components/general/tables/controls/AgTableFilter'
import AgTableExporter from '@/components/general/tables/controls/AgTableExporter'
import AgTablePageSize from '@/components/general/tables/controls/AgTablePageSize'

export default {
  name: 'AgTableToolbar',
  components: { 
    CheckboxMenu, 
    AgTableFilter,
    AgTableExporter,
    AgTablePageSize
  },
  props: {
    gridOptions: {
      type: Object,
      required: true,
    },
    menuList: {
      type: Array,
      required: true,
    },
    datasetName: {
      type: String,
      default: '',
    },
    menuLabel: {
      type: String,
      default: 'columns',
    },
    menuPrependIcon: {
      type: String,
      default: 'mdi-format-list-bulleted',
    },
    searchable: {
      type: Boolean,
      default: true,
    },
    showText: {
      type: Boolean,
      default: true,
    },
    columnsVisible: {
      type: Boolean,
      default: true,
    },
    exportable: {
      type: Boolean,
      default: true,
    },
    pageSizeResizable: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    menuItems() {
      return this.menuList.map((colDef) => {
        return {
          name: colDef.field,
          value: !colDef.hide,
          default: !colDef.hide,
          label: colDef.headerName,
        }
      })
    },
    small() {
      return this.showText ? true : false
    },
    xsmall() {
      return this.showText ? false : true
    },
  },
  methods: {
    onColSelectionChanged(field, value) {
      this.$emit('col-selection-changed', field, value)
    },
  },
}
</script>

<style>
.ag-table-toolbar .v-toolbar__content {
  padding: 0px !important;
}
</style>
