<template>
  <div>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="500px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          outlined
          color="primary"
          v-bind="attrs"
          :fab="!showText"
          :x-small="xSmall"
          :small="small"
          :large="large"
          :x-large="xLarge"
          class="text-capitalize"
          v-on="on"
        >
          <div v-if="showText">
            <v-icon
              left
              small
            >
              {{ icon }}
            </v-icon>
            {{ label }}
          </div>
          <v-icon
            v-else
            small
          >
            {{ icon }}
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-app-bar
          dark
          dense
          color="primary"
          class="form-header px-2"
        >
          {{ dialogTitle }}
          <v-spacer />
          <v-btn
            icon
            small
            style="margin-right: -6px"
            @click="dialog = false"
          >
            <v-icon small>
              mdi-close
            </v-icon>
          </v-btn>
        </v-app-bar>
        <v-divider />
        <v-card-text style="height: 400px; padding-bottom: 0px">
          <div>
            <alert
              v-if="alert"
              :alert="alert"
            />
            <v-row>
              <v-col
                cols="12"
                sm="4"
              >
                <p style="margin-top: 20px">
                  Target Columns:
                </p>
              </v-col>
              <v-col
                cols="12"
                sm="8"
              >
                <v-radio-group
                  v-model="targetTableCols"
                  :mandatory="true"
                >
                  <v-radio
                    label="Selected columns"
                    value="selected"
                  />
                  <v-radio
                    label="All columns"
                    value="all"
                  />
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="4"
              >
                <p style="margin-top: 20px">
                  {{ targetTypeLabel }}:
                </p>
              </v-col>
              <v-col
                cols="12"
                sm="8"
              >
                <v-radio-group
                  v-model="targetTableRows"
                  :mandatory="true"
                >
                  <v-radio
                    :label="allDataRadioName"
                    value="all"
                  />
                  <v-radio
                    :label="selectedDataRadioName"
                    value="selected"
                  />
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="4"
              >
                <p style="margin-top: 20px">
                  Format:
                </p>
              </v-col>
              <v-col
                cols="12"
                sm="8"
              >
                <v-radio-group
                  v-model="format"
                  :mandatory="true"
                >
                  <v-radio
                    label="Excel"
                    value="xlsx"
                  />
                  <v-radio
                    label="CSV"
                    value="csv"
                  />
                </v-radio-group>
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            rounded
            outlined
            color="primary"
            @click="onExportClicked"
          >
            Export
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { capitalize } from '@/utils'
import pageMixin from '@/mixins/pageMixin'
import { processCellCallback } from '@/components/general/tables/common/grid-callbacks'

export default {
  name: 'AgTableExporter',
  components: {},
  mixins: [pageMixin],
  props: {
    gridOptions: {
      type: Object,
      required: true,
    },
    datasetName: {
      type: String,
      default: 'rows',
    },
    icon: {
      type: String,
      default: 'mdi-download',
    },
    label: {
      type: String,
      default: 'Export',
    },
    dialogTitle: {
      type: String,
      default: 'Export Table Data',
    },
    fileName: {
      type: String,
      default: 'export',
    },
    showText: {
      type: Boolean,
      default: true,
    },
    xSmall: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    large: {
      type: Boolean,
      default: false,
    },
    xLarge: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dialog: false,
      format: 'xlsx',
      targetTableCols: 'selected',
      targetTableRows: 'all',
    }
  },
  computed: {
    gridApi() {
      if (this.gridOptions && this.gridOptions.api) {
        return this.gridOptions.api
      }
      return null
    },
    storedFileName() {
      return `${this.fileName}.${this.format}`
    },
    targetTypeLabel() {
      return `Target ${capitalize(this.datasetName)}`
    },
    allDataRadioName() {
      return `All ${this.datasetName.toLowerCase()}`
    },
    selectedDataRadioName() {
      return `Selected ${this.datasetName.toLowerCase()}`
    },
  },
  methods: {
    onExportClicked() {
      const params = {
        fileName: this.storedFileName,
        columnGroups: true,
      }
      if (this.targetTableCols === 'all') {
        params['allColumns'] = true
      }
      if (this.targetTableRows === 'selected') {
        params['onlySelectedAllPages'] = true
      }
      if (this.format === 'csv') this.exportAsCsv(params)
      if (this.format === 'xlsx') this.exportAsExcel(params)
    },
    exportAsCsv(params) {
      if (!this.gridApi || !params) {
        this.onFailure(
          `Export CSV failed with unknown error, please try again later.`
        )
        return
      }

      try {
        if (
          this.targetTableCols === 'selected' &&
          this.gridApi.columnController.allDisplayedColumns.length === 0
        ) {
          this.onFailure(`There is no any columns found.`)
          return
        }

        if (
          this.targetTableRows === 'selected' &&
          this.gridApi.getSelectedRows().length === 0
        ) {
          this.onFailure(`There is no any selected rows.`)
          return
        }

        this.gridApi.exportDataAsCsv({
          processCellCallback,
        })
        this.dialog = false
      } catch (e) {
        this.onFailure(
          `Export CSV failed with error: ${e}, please try again later.`
        )
      }
    },
    exportAsExcel(params) {
      if (!this.gridApi || !params) {
        this.onFailure(
          `Export Excel failed with unknown error, please try again later.`
        )
        return
      }

      try {
        if (
          this.targetTableCols === 'selected' &&
          this.gridApi.columnController.allDisplayedColumns.length === 0
        ) {
          this.onFailure(`There is no any columns found.`)
          return
        }

        if (
          this.targetTableRows === 'selected' &&
          this.gridApi.getSelectedRows().length === 0
        ) {
          this.onFailure(`There is no any selected rows.`)
          return
        }

        this.gridApi.exportDataAsExcel({
          processCellCallback,
        })
        this.dialog = false
      } catch (e) {
        this.onFailure(
          `Export Excel failed with error: ${e}, please try again later.`
        )
      }
    },
    onFailure(message) {
      this.loading = false
      this.alert = { type: 'error', message }
      setTimeout(() => {
        this.alert = null
      }, 3000)
    },
  },
}
</script>
