<template>
  <base-render-card
    v-if="!!geoData && !!mapData"
    :title="title"
    :alert="alert"
    :loading="loading"
    :prepend-icon="'mdi-earth'"
    :custom-options="cardOptions"
  >
    <template v-slot:default>
      <l-map
        :zoom="zoom"
        :center="center"
        :options="options"
        :style="{ height: height + 'px' }"
      >
        <choropleth-layer
          :data="mapData"
          :value="value"
          :extra-values="extraValues"
          :geojson="geoData"
          :colorScale="colorScale"
          idKey="COUNTRY_CODE"
          geojsonIdKey="iso_a3"
          titleKey="COUNTRY_NAME"
        >
          <template slot-scope="props">
            <info-control
              :item="props.currentItem"
              :unit="props.unit"
              :title="legendTitle"
              position="topright"
              placeholder="Hover over a country to view details"
            ></info-control>
            <reference-chart
              :title="legendTitle"
              :colorScale="colorScale"
              :min="props.min"
              :max="props.max"
              position="bottomleft"
            ></reference-chart>
          </template>
        </choropleth-layer>
      </l-map>
    </template>
  </base-render-card>
</template>

<script>
import { has } from 'lodash'
import { mapState } from 'vuex'
import { parseJSON } from '@/utils'
import { LMap } from 'vue2-leaflet'
import { ChoroplethLayer } from 'vue-choropleth'
import InfoControl from '@/components/general/map/LInfoControl'
import ReferenceChart from '@/components/general/map/LReferenceChart'
import BaseRenderCard from '@/components/general/BaseRenderCard'

export default {
  name: 'BaseLMap',
  components: {
    LMap,
    InfoControl,
    ReferenceChart,
    ChoroplethLayer,
    BaseRenderCard,
  },
  data() {
    return {
      alert: null,
      loading: false,
      zoom: 2,
      center: [30, 30],
      enableTooltip: true,
      defaultOptions: {
        attributionControl: false,
      },
    }
  },
  props: {
    data: {
      type: String,
    },
    value: {
      type: Object,
      // value must contain two properties, key and metric
      validator: function (value) {
        return has(value, 'key') && has(value, 'metric')
      },
    },
    extraValues: {
      type: Array,
      // each item must contain two properties, key and metric
      validator: function (value) {
        return value.reduce((acc, item) => {
          acc = acc && has(item, 'key') && has(item, 'metric')
          return acc
        }, true)
      },
    },
    title: {
      type: String,
      default: '',
    },
    height: {
      type: [Number, String],
      default: 550,
    },
    legendTitle: {
      type: String,
      default: '',
    },
    colorScale: {
      type: Array,
      default: function () {
        return ['#D1C4E9', '#4527A0', '#311B92']
      },
    },
    customOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  computed: {
    ...mapState('geo', ['geoData']),
    options() {
      return { ...this.defaultOptions, ...this.customOptions }
    },
    mapData() {
      return parseJSON(this.data)
    },
  },
}
</script>

<style>
.img_middle {
  vertical-align: top;
}

@import '~leaflet/dist/leaflet.css';
.leaflet-container {
  background: #dbe9f3 !important;
  outline: 0;
}

.vue2leaflet-map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 14px;
  color: #757575;
}
</style>
