<template>
  <div></div>
</template>

<script>
export default {
  name: 'InfoControl',
  props: {
    item: Object,
    unit: String,
    placeholder: {
      type: String,
      default: '',
    },
    title: String,
    position: {
      type: String,
      default: 'bottomleft',
    },
  },
  mounted() {
    const { unit, title, placeholder, position } = this;
    this.mapObject = L.control({
      position: position,
    });
    this.mapObject.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'showScore'); // create a div with a class "showScore"
      this.update({ name: '', value: 0, unit, placeholder, title });
      return this._div;
    };
    this.mapObject.update = function ({ name, value, extraValues = undefined, unit, title, placeholder }) {
      if (name.length > 0) {
        this._div.innerHTML = `<p>
                                  <span style="font-size:18px; color:#757575"> ${title}: ${value} </span>
                                </p>
                                <b><span style="color: #757575; font-size:14px;">${name}</span></b>`;

        if (extraValues) {
          for (let x of extraValues) {
            this._div.innerHTML = this._div.innerHTML + `<br />${x.metric}: ${x.value}`;
          }
        }
      } else {
        this._div.innerHTML = `<b><span style="color:#757575">${placeholder}</span></b>`;
      }
    };
    if (this.$parent._isMounted) {
      this.deferredMountedTo(this.$parent.mapObject);
    }
  },
  methods: {
    deferredMountedTo(parent) {
      this.parent = parent;
      this.mapObject.addTo(parent);
    },
  },
  watch: {
    item: function (newValue) {
      this.mapObject.update({
        ...newValue,
        unit: this.unit,
        title: this.title,
        placeholder: this.placeholder,
      });
    },
  },
  beforeDestroy() {
    if (this.parent) {
      this.parent.removeControl(this.mapObject);
    }
  },
};
</script>

<style>
.showScore {
  padding: 6px 8px;
  /* font: 18px/20px sans-serif; */
  font-size: .875rem;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.showScore h4 {
  margin: 0 0 10px;
}
.showScore .hint{
  color: #757575;
}
.infoGridiente {
  font-size: .875rem;
  font-weight: 600;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
</style>
