<template>
  <div>
    <v-slider
      v-model="field.value"
      :max="100"
      :height="field.height || 30"
      :color="color"
      :label="label"
      :dense="dense"
      :rules="rules"
      :loading="loading"
      :disabled="disabled"
      :hint="field.hint"
      :readonly="readonly"
      :hide-details="hideDetails"
      :append-icon="field.appendIcon"
      :prepend-icon="field.prependIcon"
      :class="`align-center rva-custom-slider ${classes}`"
      :persistent-hint="field.persistentHint"
      @click.stop="onSliderClicked"
      @click:append="$emit('appendIconClicked')"
      @click:prepend="$emit('prependIconClicked')"
      @input="$emit('input', $event)"
      @change="$emit('change', $event)"
    >
      <template #label>
        <slot name="label" />
      </template>
      <template #append>
        <v-text-field
          :background-color="field.inputBgColor"
          v-model="field.value"
          :class="`mt-0 pt-0 percentage ${field.inputClasses}`"
          type="number"
          outlined
          dense
          hide-details
          min="0"
          max="100"
          :height="field.height || 30"
          :style="`width: ${field.width || 80}px;font-size: ${
            field.inputFontSize || 16
          }px;`"
        >
          <template #append>
            <span class="mt-0">%</span>
          </template>
        </v-text-field>
      </template>
    </v-slider>
  </div>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'BaseSlider',
  mixins: [fieldMixin],
  methods: {
    onSliderClicked(e) {
      // should not change the value when click the label
      if (e.target instanceof HTMLSpanElement) {
        this.$children[0].noClick = true
      }
    },
  },
}
</script>

<style>
.rva-custom-slider .v-input__slot {
  padding: 0 6px !important;
  min-height: 20px !important;
}
.rva-custom-slider > .v-input__control > .v-input__slot {
  padding: 0 6px 0 0 !important;
}
.rva-custom-slider .v-input__slot .v-label {
  margin-right: 4px !important;
}
.rva-custom-slider .v-input__append-outer {
  margin: 0 !important;
}
</style>
