<template>
  <v-checkbox
    v-model="checked"
    :class="classes"
    :dense="dense"
    hide-details
    :color="color"
    :hint="field.hint"
    :disabled="disabled"
    class="mt-1"
  >
    <template #label>
      <div>
        {{ field.label }}
        <v-menu
          v-if="helpText"
          right
          offset-x
          open-on-hover
          max-width="300"
          max-height="700"
          nudge-right="10"
          nudge-top="20"
          origin="center center"
          transition="scale-transition"
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on: menu }">
            <v-icon
              dark
              small
              color="grey"
              class="icon"
              v-on="{ ...menu }"
            >
              {{ field['helpIcon'] || 'mdi-help-circle-outline' }}
            </v-icon>
          </template>

          <v-card raised>
            <v-card-text>
              <ul v-if="helpText.length > 1">
                <li
                  v-for="(item, index) in helpText"
                  :key="index"
                >
                  <span v-text="helpText[index]" />
                </li>
              </ul>
              <span
                v-else
                v-text="helpText[0]"
              />
            </v-card-text>
          </v-card>
        </v-menu>
      </div>
    </template>
  </v-checkbox>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'Checkbox',
  mixins: [fieldMixin],
  data() {
    return {
      helpText: null,
    }
  },
  computed: {
    checked: {
      set: function (v) {
        this.field.value = v
      },
      get: function () {
        return this.field.value || this.field.default
      },
    },
  },
  watch: {
    checked(newVal) {
      this.$forceUpdate()
      this.$emit('input', newVal)
    },
  },
  mounted() {
    this.helpText = this.formatHelpText()
  },
  methods: {
    formatHelpText() {
      if (this.field.helpText) {
        return this.field.helpText.split('\n').map((str) => str.trim())
      }
    },
  },
}
</script>
