<template>
  <v-combobox
    chips
    multiple
    :class="classes"
    :label="label"
    :dense="dense"
    :rules="rules"
    :color="color"
    :disabled="disabled"
    :value="field.value"
    :items="field.items"
    :item-text="itemText"
    :item-value="itemValue"
    :outlined="outlined"
    :clearable="clearable"
    :hide-details="hideDetails"
    :delimiters="field.delimiters"
    :hint="field.hint"
    :return-object="returnObject"
    :search-input.sync="search"
    :persistent-hint="field.persistentHint"
    @input="onInputChange($event)"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one.
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
    <template v-slot:selection="data">
      <v-chip
        close
        v-bind="data.attrs"
        :input-value="data.selected"
        :key="JSON.stringify(data.item.text)"
        @click:close="data.parent.selectItem(data.item)"
      >
        <v-avatar
          left
          class="white--text"
          v-text="getTagProp('avatar', data.item.tag)"
          :color="`${getTagProp('color', data.item.tag)}`"
        ></v-avatar>
        {{ data.item.text }}
      </v-chip>
    </template>
    <template v-slot:item="data">
      <v-list-item-avatar class="mr-2">
        <v-avatar size="28"
                  class="white--text"
                  v-text="getTagProp('avatar', data.item.tag)"
                  :color="`${getTagProp('color', data.item.tag)}`"
        ></v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="data.item.text"></v-list-item-title>
      </v-list-item-content>
      <v-list-item-action @click.stop="">
        <v-menu top
                offset-y 
                nudge-top=10
                :close-on-click="false"
                :close-on-content-click="false"
                transition="slide-y-transition"
        >
          <template v-slot:activator="{ on: menu }">
            <v-tooltip right>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn 
                  text
                  icon
                  small
                  v-on="{ ...tooltip, ...menu }"
                >
                  <v-icon small>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Edit tag</span>
            </v-tooltip>
          </template>
          <v-list dense rounded>
            <v-list-item-group :value="getActiveTag(data.item.tag)" :color="color">
              <v-list-item
                v-for="(tag, index) in tags"
                :key="index"
                @click.stop.prevent="onClickTag(data.item, tag.value)"
              >
                <v-list-item-avatar class="mr-2 my-0">
                  <v-avatar size="26"
                            class="white--text"
                            v-text="tag.avatar"
                            :color="tag.color"
                  ></v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ tag.text }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </v-list-item-action>      
    </template>
  </v-combobox>
</template>

<script>
import find from 'lodash/find'
import cloneDeep from 'lodash/cloneDeep'
import findIndex from 'lodash/findIndex'
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'Combobox',
  mixins: [fieldMixin],
  data () {
    return {
      search: null,
      /**
       * Note: the field must include the definition of tags in an array like: 
       * tags: [{ text: 'optional', value: 'optional', avatar: 'O', color: '#F5D684' }]
       */
      tags: cloneDeep(this.field.tags)
    }
  },
  methods: {
    getTagProp (prop, value) {
      const tag = find(this.tags, { 'value': value })
      return tag[prop]
    },
    getActiveTag (value) {
      // return the index of active tag
      return findIndex(this.tags, { 'value': value })
    },
    onClickTag (item, newTag) {
      if (item.tag === newTag) return
      this.$emit('edit-tag', item, newTag)
    },
    onInputChange (input) {
      const value = input.map(item => {
        if (typeof item === 'string') {
          item = {
            text: item,
            tag: 'must' // default tag
          }
          this.$emit('add-item', item)
        }
        return item
      })
      this.$emit('input', value)
    }
  }
}
</script>
