<template>
  <v-row>
    <v-col
      v-for="subfield of subfields"
      :key="subfield.name"
      class="py-0"
      :cols="subfield.col || 12"
    >
      <component
        :is="subfield.type"
        :field="subfield"
        @input="onInputChange(subfield, $event)"
      />
    </v-col>
  </v-row>
</template>

<script>
import has from 'lodash/has';
import filter from 'lodash/filter';
import isEmpty from 'lodash/isEmpty';
import DatePicker from '@/components/general/form/fields/DatePicker';
import Checkbox from '@/components/general/form/fields/Checkbox';

export default {
  name: 'DateRangeComboFlat',
  components: { DatePicker, Checkbox },
  props: {
    // field value must be either undefined or an object
    field: Object,
  },
  data() {
    return {
      subfields: [
        // Date From
        {
          name: `${this.field['name']}_min`,
          label: `${
            this.field.label ? this.field.label + ':' : ''
          } From`.trim(),
          type: 'DatePicker',
          datePickerType: this.field.datePickerType, // 'date' or 'month'
          prependInnerIcon: 'mdi-calendar-month',
          col: 6,
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
        },
        // Date To
        {
          name: `${this.field['name']}_max`,
          label: `${this.field.label ? this.field.label + ':' : ''} To`.trim(),
          type: 'DatePicker',
          datePickerType: this.field.datePickerType,
          prependInnerIcon: 'mdi-calendar-month',
          col: 6,
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
        },
      ],
    };
  },
  computed: {},
  created() {
    this.init();
  },
  methods: {
    init() {
      // init checkbox fields (if any)
      if (has(this.field, 'checkboxes')) {
        this.field.checkboxes.forEach(checkbox => {
          this.subfields.push({
            type: 'Checkbox',
            col: checkbox.col,
            name: checkbox.name,
            label: checkbox.label,
            default: checkbox.default,
            value: checkbox.default,
          });
        });
      }
      // init values of subfields
      if (has(this.field, 'value')) {
        const values = this.field.value;
        this.subfields.forEach(subfield => {
          const name = subfield.name;
          const found = Object.keys(values).find(key => {
            return key.includes(name);
          });
          if (subfield.type === 'Checkbox') {
            subfield.value = typeof found !== 'undefined' ? true : false;
            subfield.default = subfield.value;
          }
          if (subfield.type === 'DatePicker') {
            subfield.value = typeof found !== 'undefined' ? values[found] : '';
          }
        });
      }
    },
    /**
     * If has checkboxes, at least one checkbox must be ticked. Otherwise, returns {}
     * If has no checkboxes or at least one checkbox is ticked, returns the picked dates in an object:
     * {
     *  actual_field_name_min: ''
     *  anticipated_field_name_min: ''
     *  actual_field_name_max: ''
     *  anticipated_field_name_max: ''
     * }
     * If no dates get picked, returns {}
     */
    onInputChange(subfield, value) {
      // set the value of subfield
      this.$set(subfield, 'value', value);

      // return the combined value to parent component
      const result = {};
      const dates = filter(this.subfields, { type: 'DatePicker' });
      const checkboxes = filter(this.subfields, {
        type: 'Checkbox',
        value: true,
      });

      // if has checkboxes, at least one checkbox must be ticked; otherwise, return {}
      if (
        has(this.field, 'checkboxes') &&
        !isEmpty(this.field.checkboxes) &&
        isEmpty(checkboxes)
      ) {
        console.error(
          `Error: at least one checkbox of ${this.field.name} must be ticked`
        );
        this.$emit('input', {});
        return;
      }

      dates.forEach(date => {
        if (!date.value || typeof date.value === 'undefined') return;
        if (!isEmpty(checkboxes)) {
          checkboxes.forEach(checkbox => {
            const name = `${checkbox.name}_${date.name}`;
            result[name] = date.value;
          });
        } else {
          result[date.name] = date.value;
        }
      });
      this.$emit('input', result);
    },
  },
};
</script>

<style scoped>
.subheader {
  height: 20px;
}
</style>
