<template>
  <div>
    <v-subheader class="pl-0 subheader">
      {{ field.label }}
    </v-subheader>
    <v-card flat color="transparent">
      <v-row>
        <v-col
          v-for="subfield of subfields"
          :key="subfield.name"
          :cols="subfield.col || 12"
          class="py-2"
        >
          <component
            :is="subfield.type"
            :field="subfield"
            @input="onInputChanged(subfield, $event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { has, filter, isEmpty } from 'lodash'
import Checkbox from '@/components/general/form/fields/Checkbox'
import DatePicker from '@/components/general/form/fields/DatePicker'

export default {
  name: 'DateRangeCombo',
  components: { DatePicker, Checkbox },
  props: {
    field: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  data() {
    return {
      subfields: [
        // Date From
        {
          name: `${this.field['name']}_min`,
          label: 'From',
          type: 'DatePicker',
          datePickerType: this.field.datePickerType, // 'date' or 'month'
          prependIcon: 'mdi-calendar-month',
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
        },
        // Date To
        {
          name: `${this.field['name']}_max`,
          label: 'To',
          type: 'DatePicker',
          datePickerType: this.field.datePickerType,
          prependIcon: 'mdi-calendar-month',
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
        },
      ],
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      // init checkbox fields (if any)
      if (has(this.field, 'checkboxes')) {
        this.field.checkboxes.forEach((checkbox) => {
          this.subfields.push({
            type: 'Checkbox',
            col: checkbox.col,
            name: checkbox.name,
            label: checkbox.label,
            default: checkbox.default,
            helpText: checkbox.helpText,
            value: checkbox.default,
            hint: checkbox.hint,
          })
        })
      }
      // init values of subfields
      if (has(this.field, 'value')) {
        const values = this.field.value
        console.log('value passed into date combo:', values)
        this.subfields.forEach((subfield) => {
          const name = subfield.name
          const found = Object.keys(values).find((key) => {
            return key.includes(name)
          })
          if (subfield.type === 'Checkbox') {
            subfield.value = typeof found !== 'undefined' ? true : false
            subfield.default = subfield.value
          }
          if (subfield.type === 'DatePicker') {
            subfield.value = typeof found !== 'undefined' ? values[found] : ''
          }
        })
        console.log('subfields after init: ', this.subfields)
      }
    },
    /**
     * If has checkboxes, at least one checkbox must be ticked. Otherwise, returns {}
     * If has no checkboxes or at least one checkbox is ticked, returns the picked dates in an object:
     * {
     *  actual_field_name_min: ''
     *  anticipated_field_name_min: ''
     *  actual_field_name_max: ''
     *  anticipated_field_name_max: ''
     * }
     * If no dates get picked, returns {}
     */
    onInputChanged(subfield, value) {
      this.$set(subfield, 'value', value)

      const result = {}
      const dates = filter(this.subfields, { type: 'DatePicker' })
      const checkboxes = filter(this.subfields, {
        type: 'Checkbox',
        value: true,
      })

      if (
        has(this.field, 'checkboxes') &&
        !isEmpty(this.field.checkboxes) &&
        isEmpty(checkboxes)
      ) {
        console.error(
          `Error: at least one checkbox of ${this.field.name} must be ticked`
        )
        this.$emit('input', {})
        return
      }

      dates.forEach((date) => {
        if (!date.value || typeof date.value === 'undefined') return
        if (!isEmpty(checkboxes)) {
          checkboxes.forEach((checkbox) => {
            const name = `${checkbox.name}_${date.name}`
            result[name] = date.value
          })
        } else {
          result[date.name] = date.value
        }
      })
      this.$emit('input', result)
    },
  },
}
</script>

<style scoped>
.subheader {
  height: 20px;
}
</style>
