<template>
  <v-menu
    v-model="menu"
    offset-y
    max-width="320"
    :close-on-content-click="false"
    transition="scale-transition"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        :class="classes"
        :value="field.value"
        :label="field.label"
        :hint="dateFormat"
        :dense="dense"
        :color="color"
        :rules="rules"
        :disabled="disabled"
        :outlined="outlined"
        :clearable="clearable"
        :hide-details="hideDetails"
        :append-icon="field.appendIcon"
        :prepend-icon="field.prependIcon"
        :prepend-inner-icon="field.prependInnerIcon"
        v-on="on"
        @click:clear="$emit('input', '')"
      />
    </template>
    <v-date-picker
      full-width
      scrollable
      :color="color"
      :value="field.value"
      :min="field.min"
      :max="field.max"
      :landscape="field.landscape"
      :allowed-dates="field.allowedDates"
      :type="field.datePickerType || 'date'"
      @input="onInputChanged($event)"
    >
      <template v-slot:default>
        <v-spacer />
        <v-btn
          depressed
          width="100%"
          color="primary"
          @click="menu = false"
        >
          OK
        </v-btn>
        <v-spacer />
      </template>
    </v-date-picker>
  </v-menu>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'DatePicker',
  mixins: [fieldMixin],
  data () {
    return {
      menu: false
    }
  },
  computed: {
    dateFormat () {
      // yyyy-mm-dd for date pick, yyyy-mm for month picker
      return this.field.datePickerType === 'month' ? 'yyyy-mm' : 'yyyy-mm-dd'
    }
  },
  methods: {
    onInputChanged (value) {
      this.$emit('input', value)
    }
  }
}
</script>
