<template>
  <!-- Note: the value is a single or array of file objects ([] by default) -->
  <v-file-input
    :value="field.value"
    :counter="field.counter"
    :label="field.label"
    :rules="rules"
    :class="classes"
    :dense="dense"
    :color="color"
    :hint="field.hint"
    :loading="loading"
    :outlined="outlined"
    :show-size="field.showSize"
    :accept="field.accept"
    :clearable="clearable"
    :multiple="field.multiple"
    :placeholder="field.placeholder"
    :prepend-icon="field.prependIcon"
    :persistent-hint="field.persistentHint"
    :truncate-length="field.truncateLength"
    @change="$emit('input', $event)"
  >
  </v-file-input>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin';

export default {
  name: 'FileInput',
  mixins: [fieldMixin],
};
</script>
