<template>
  <div class="rva-custom-file-uploader">
    <v-row>
      <v-col cols="auto" class="py-0 pr-0" align-self="center">
        <v-dialog persistent v-model="dialog" max-width="650px">
          <template #activator="{ on: dialog }">
            <v-tooltip right>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  icon
                  :class="`${field['btnClasses']}`"
                  :disabled="disabled"
                  v-on="{ ...dialog, ...tooltip }"
                  :color="field.color || 'primary'"
                >
                  <v-icon>
                    mdi-cloud-upload
                  </v-icon>
                </v-btn>
              </template>
              <span>Click to upload a file</span>
            </v-tooltip>
          </template>

          <v-form ref="form">
            <v-card
              raised
              :loading="uploadFormLoading"
              :disabled="uploadFormLoading"
            >
              <v-app-bar
                dense
                dark
                color="primary"
                class="font-weight-bold px-2"
              >
                Upload A File
                <v-spacer />
                <v-btn icon small @click="reset">
                  <v-icon>
                    mdi-close
                  </v-icon>
                </v-btn>
              </v-app-bar>

              <alert :alert="alert" :dismissible="false" class="mx-2"> </alert>

              <v-card-text>
                <form-generator
                  class="my-4"
                  :formFields="formFields"
                  @input="onChange"
                >
                </form-generator>
              </v-card-text>

              <v-card-actions class="px-6 pb-6">
                <v-spacer></v-spacer>
                <v-btn
                  small
                  rounded
                  outlined
                  color="primary"
                  class="mr-2"
                  @click.prevent="reset"
                >
                  Cancel
                </v-btn>
                <v-btn
                  small
                  rounded
                  depressed
                  color="primary"
                  @click.prevent="submit"
                >
                  Upload
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-col>
      <v-col class="py-0 pl-2" align-self="center">
        <v-tooltip right>
          <template v-slot:activator="{ on: tooltip }">
            <v-text-field
              single-line
              hide-details
              dense
              outlined
              readonly
              :color="field.color"
              :disabled="disabled"
              @click="dialog = true"
              v-on="{ ...tooltip }"
              :height="field.inputHeight || 36"
              :value="field.label"
              :class="`${field['inputClasses']}`"
            >
            </v-text-field>
          </template>
          <span>{{ field.label }}</span>
        </v-tooltip>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import find from 'lodash/find'
import { mapGetters } from 'vuex'
import fieldMixin from '@/mixins/fieldMixin'
import Alert from '@/components/general/notifs/Alert'
import { baseClient } from '@/service/http-client/grpc'
import FormGenerator from '@/components/general/form/FormGenerator'

const UPLOAD_FIELDS = [
  {
    value: [],
    dense: true,
    name: 'file',
    counter: true,
    showSize: true,
    multiple: false,
    type: 'FileInput',
    truncateLength: 80,
    persistentHint: true,
    placeholder: 'Select a file to upload',
    hint:
      'Only accept files in audio/*,video/*,image/*,.doc,.docx,.xml,.pdf,.csx,.xlsx,.csv format',
    rules: [(v) => !!v.length || 'Please select a file'],
    accept:
      'audio/*,video/*,image/*,.doc,.docx,.xml,.pdf,.csx,.xlsx,.csv,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
  },
] // TODO: enhance the supported file types in the future

export default {
  name: 'FileUploader',
  mixins: [fieldMixin],
  components: { FormGenerator, Alert },
  props: {},
  data() {
    return {
      alert: null,
      dialog: false,
      uploadFormLoading: false,
      formFields: UPLOAD_FIELDS,
    }
  },
  computed: {
    ...mapGetters('user', ['userId']),
    formData() {
      const data = {}
      this.formFields.forEach((field) => {
        if (field.type === 'FileInput') {
          data[field.name] = field.value.length > 0 ? field.value[0] : null
        } else {
          data[field.name] =
            !field.value || typeof field.value === 'undefined'
              ? ''
              : field.value
        }
      })
      return data
    },
    filename() {
      return this.formData['file'] ? this.formData['file'].name : ''
    },
  },
  methods: {
    onChange(name, value) {
      const field = find(this.formFields, { name: name })
      this.$set(field, 'value', value)
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.dismissAlert()
        this.toggleLoading()
        this.fileToBase64(this.formData['file'])
          .then((bytes) => this.uploadFile(bytes))
          .then(this.onSuccess)
          .catch(this.onFailure)
          .finally(this.toggleLoading)
      }
    },
    reset() {
      this.dialog = false
      this.$refs.form.reset()
      this.dismissAlert()
    },
    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = () => {
          const base64result = reader.result.split(',')[1]
          resolve(base64result)
        }
        reader.onerror = (error) => reject(error)
        if (file) {
          reader.readAsDataURL(file)
        }
      })
    },
    uploadFile(bytes) {
      return new Promise((resolve, reject) => {
        if (!bytes) {
          reject('No file content, please choose a file with content.')
          return
        }

        baseClient
          .post('/rva/file/upload', {
            file_name: this.filename,
            file_category: this.field.category,
            file_content: bytes,
            user_id: this.userId,
          })
          .then((res) => {
            if (!res || !res.data) {
              reject('Update file failed.')
            } else {
              resolve(res.data)
            }
          })
          .catch((e) => {
            console.error(e)
            reject(
              `Upload file failed, please try again later and contact with admin if it still exists.`
            )
          })
      })
    },
    onSuccess(fileInfo) {
      this.reset()
      if (fileInfo) {
        if (fileInfo['file_name']) {
          this.$set(this.field, 'label', fileInfo['file_name'])
        }
        if (fileInfo['file_id']) {
          this.$set(this.field, 'value', fileInfo['file_id'])
          this.$emit('input', fileInfo['file_id'])
        }
      }
    },
    onFailure(err) {
      this.alert = { type: 'error', message: err }
    },
    dismissAlert() {
      this.alert = null
    },
    toggleLoading() {
      this.uploadFormLoading = !this.uploadFormLoading
    },
  },
  created() {},
}
</script>

<style>
.rva-custom-file-uploader .v-input__slot {
  min-height: 20px !important;
}
</style>
