<template>
  <v-combobox
    :label="label"
    :dense="dense"
    :rules="rules"
    :class="classes"
    :color="color"
    :disabled="disabled"
    :hint="field.hint"
    :chips="field.chips"
    :outlined="outlined"
    :clearable="clearable"
    :value="field.value"
    :items="field.items"
    :multiple="field.multiple"
    :search-input.sync="search"
    :persistent-hint="field.persistentHint"
    @input="$emit('input', $event)"
  >
    <!-- <template v-slot:no-data>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one.
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template> -->
  </v-combobox>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'InputSelect',
  mixins: [fieldMixin],
  data() {
    return {
      search: null
    }
  }
}
</script>
