<template>
  <div>
    <v-card flat>
      <v-row>
        <v-col
          v-for="subfield of subfields"
          :key="subfield.name"
          :cols="subfield.col ? subfield.col : 12"
          class="py-0"
        >
          <component
            :is="subfield.type"
            :field="subfield"
            :items="subfield.items"
            @input="onSelectionChange(subfield, $event)"
            class="checkbox"
          ></component>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import has from "lodash/has";
import filter from "lodash/filter";
import isEmpty from "lodash/isEmpty";
import MultiSelect from "@/components/general/form/fields/MultiSelect";
import Checkbox from "@/components/general/form/fields/Checkbox";

export default {
  name: "MultiSelectCombo",
  components: { MultiSelect, Checkbox },
  props: {
    field: Object
  },
  data() {
    return {
      subfields: [
        {
          name: this.field["name"],
          label: this.field.label,
          type: "MultiSelect",
          outlined: true,
          col: (this.field.singleLine && 6) || this.field.cols,
          items: this.field.items
        }
      ]
    };
  },
  methods: {
    init() {
      if (has(this.field, "checkboxes")) {
        this.field.checkboxes.forEach(checkbox => {
          this.subfields.push({
            type: "Checkbox",
            col: checkbox.col,
            name: checkbox.name,
            label: checkbox.label,
            default: checkbox.default,
            value: checkbox.default
          });
        });
      }
      if (has(this.field, "value")) {
        const values = this.field.value;

        this.subfields.forEach(subfield => {
          const name = subfield.name;
          const found = Object.keys(values).find(key => {
            return key.includes(name);
          });
          if (subfield.type === "Checkbox") {
            subfield.value = typeof found !== "undefined" ? true : false;
            subfield.default = subfield.value;
          }
          if ((subfield.type === "MultiSelect")) {
            subfield.value = typeof found !== "undefined" ? values[found] : "";
          }
        });
      }
    },
    onSelectionChange(subfield, value) {
      this.$set(subfield, "value", value);

      const result = {};
      const selections = filter(this.subfields, { type: "MultiSelect" });
      const checkboxes = filter(this.subfields, {
        type: "Checkbox",
        value: true
      });

      if (
        has(this.field, 'checkboxes')
        && !isEmpty(this.field.checkboxes)
        && isEmpty(checkboxes)
      ) {
        console.error(`Error: at least one checkbox of ${this.field.name} must be ticked`)
        this.$emit('input', {})
        return
      }

      if (selections) {
        selections.forEach(selection => {
          if (!isEmpty(checkboxes)) {
            checkboxes.forEach(checkbox => {
              const name = `${checkbox.name}_${selection.name}`;
              result[name] = selection.value;
            });
          }
          else {
            result[selection.name] = selection.value
          }
        });
      }

      console.log("result", result);
      this.$emit("input", result);
    }
  },
  created() {
    this.init();
  }
};
</script>

<style scoped>
.subheader {
  height: 20px;
}
.checkbox {
  height: auto;
}

* >>>.v-text-field__details {
  min-height: 0px ;
}

* >>>.v-messages {
  min-height: 0px ;
}

</style>