<template>
  <v-combobox
    multiple
    hide-no-data
    small-chips
    deletable-chips
    :label="label"
    :dense="dense"
    :rules="rules"
    :class="classes"
    :color="color"
    :disabled="disabled"
    :value="field.value"
    :items="field.items"
    :outlined="outlined"
    :clearable="clearable"
    :delimiters="field.delimiters"
    :hint="field.hint"
    :persistent-hint="field.persistentHint"
    @input="$emit('input', $event)"
  >
  </v-combobox>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'MultiInput',
  mixins: [fieldMixin]
}
</script>

