<template>
  <v-autocomplete
    chips
    multiple
    small-chips
    deletable-chips
    hide-no-data
    :value="field.value"
    :label="label"
    :items="field.items"
    :item-text="itemText"
    :item-value="itemValue"
    :rules="rules"
    :class="classes"
    :dense="dense"
    :color="color"
    loader-height=4
    :loading="loading"
    :disabled="disabled"
    :item-color="color"
    :readonly="readonly"
    :outlined="outlined"
    :clearable="clearable"
    :hint="field.hint"
    :hide-details="hideDetails"
    :single-line="field.singleLine"
    :prepend-icon="field.prependIcon"
    @focus="$emit('click')"
    @keyup.enter="$emit('click')"
    @click.prevent="$emit('click')"
    @input="$emit('input', $event)"
  ></v-autocomplete>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'MultiSelect',
  mixins: [fieldMixin]
}
</script>
