<template>
  <v-text-field
    type="number"
    :step="step"
    :min="min"
    :dense="dense"
    :color="color"
    :rules="rules"
    :class="classes"
    :disabled="disabled"
    :label="label"
    :value="field.value"
    :loading="loading"
    :readonly="readonly"
    :outlined="outlined"
    :clearable="clearable"
    :hint="field.hint"
    :suffix="field.suffix"
    :persistent-hint="field.persistentHint"
    :hide-details="hideDetails"
    @input="$emit('input', strToNum($event))"
  >
  </v-text-field>
</template>

<script>
import has from 'lodash/has'
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'NumberInput',
  mixins: [fieldMixin],
  computed: {
    // Sets step interval (must be greater than 0), default is 1
    step () {
      if (
        typeof this.field.step !== 'undefined'
        && this.field.step > 0
      ) {
          return this.field.step
      }
      return 1
    },
    // Sets the minimum allowed value, default is 0
    min () {
      return (typeof this.field.min !== 'undefined') ? this.field.min : 0
    },
    // Sets the numeric data type, accepting 'integer' (default) and 'float'
    numericDataType () {
      if (typeof this.field.numericDataType !== 'undefined') {
        return this.field.numericDataType
      }
      return 'integer'
    }
  },
  methods: {
    // Parses a string and returns an integer or a floating point number
    strToNum (str) {
      let parsed = 0
      if (this.numericDataType === 'float') {
        parsed = parseFloat(str)
      } else {
        parsed = parseInt(str)
      }
      if (isNaN(parsed)) { return this.min }
      return parsed
    }
  }
}
</script>
