<template>
  <div>
    <v-subheader class="pl-0 subheader">
      {{ field.label }}
    </v-subheader>
    <v-container class="pa-0">
      <v-row>
        <v-col
          v-for="subfield of subfields"
          :key="subfield.name"
          :cols="subfield.col || 12"
        >
          <component
            :is="subfield.type"
            :field="subfield"
            @input="onInputChanged(subfield, $event)"
          />
        </v-col>
        <slot name="append-outer" />
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { has, filter, isEmpty } from 'lodash'
import NumberInput from '@/components/general/form/fields/NumberInput'
import Checkbox from '@/components/general/form/fields/Checkbox'

export default {
  name: 'NumberRangeCombo',
  components: { NumberInput, Checkbox },
  props: {
    field: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data () {
    return {
      subfields: [
        // Min number
        {
          name: `${this.field['name']}_min`,
          label: 'Min',
          type: 'NumberInput',
          min: this.field.min,
          step: this.field.step,
          rules: this.field.rules,
          suffix: this.field.suffix,
          numericDataType: this.field.numericDataType, // 'float' or 'integer'
          hideDetails: true,
          col: (this.field.singleLine && 6) || this.field.cols,
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
          readonly: has(this.field, 'readonly') ? this.field.readonly[0] : false
        },
        // Max numbers
        {
          name: `${this.field['name']}_max`,
          label: 'Max',
          type: 'NumberInput',
          min: this.field.min,
          step: this.field.step,
          rules: this.field.rules,
          suffix: this.field.suffix,
          numericDataType: this.field.numericDataType,
          hideDetails: true,
          col: (this.field.singleLine && 6) || this.field.cols,       
          outlined: has(this.field, 'outlined') ? this.field.outlined : false,
          readonly: has(this.field, 'readonly') ? this.field.readonly[0] : false
        }
      ]
    }
  },
  computed: {
    min () {
      return (has(this.field, 'min')) ? this.field.min : 0
    }
  },
  created () {
    this.init()
  },
  methods: {
    init() {
      // init checkbox fields (if any)
      if (has(this.field, 'checkboxes')) {
        this.field.checkboxes.forEach(checkbox => {
          this.subfields.push({
            type: 'Checkbox',
            col: checkbox.col,
            name: checkbox.name,
            label: checkbox.label,
            default: checkbox.default, 
            value: checkbox.default
          })
        })
      }
      // init values of subfields
      if (has(this.field, 'value')) {
        const values = this.field.value
        this.subfields.forEach(subfield => {
          const name = subfield.name
          const found = Object.keys(values).find(key => {
            return key.includes(name)
          })
          if (subfield.type === 'Checkbox') {
            subfield.value = (typeof found !== 'undefined') ? true : false
            subfield.default = subfield.value
          }
          if (subfield.type === 'NumberInput') {
            subfield.value = (typeof found !== 'undefined') ? values[found] : ''
          }
        })
      }
    },
    /**
     * If has checkboxes, at least one checkbox should be ticked. Otherwise, returns {}
     * If has no checkboxes or at least one checkbox is ticked, returns the numbers set to 
     * greater than the minimum value in an object:
     * {
     *  actual_field_name_min: 
     *  anticipated_field_name_min: 
     *  actual_field_name_max: 
     *  anticipated_field_name_max: 
     * }
     */
    onInputChanged(subfield, value) {
      this.$set(subfield, 'value', value)

      const result = {}
      const numbers = filter(this.subfields, (subfield) => {
        return subfield.type === 'NumberInput' && subfield.value > this.min
      })
      const checkboxes = filter(this.subfields, { 'type': 'Checkbox', 'value': true })

      // if has checkboxes, at least one checkbox must be ticked; otherwise, return {}
      if (
        has(this.field, 'checkboxes')
        && !isEmpty(this.field.checkboxes)
        && isEmpty(checkboxes)
      ) {
        console.error(`Error: at least one checkbox of ${this.field.name} must be ticked`)
        this.$emit('input', {})
        return
      }

      numbers.forEach(num => {
        if (!isEmpty(checkboxes)) {
          checkboxes.forEach(checkbox => {
            const name = `${checkbox.name}_${num.name}`
            result[name] = num.value
          })
        } else {
          result[num.name] = num.value
        }
      })
      this.$emit('input', result)
    }
  }
}
</script>

<style scoped>
.subheader {
  height: 20px;
}
</style>
