<template>
  <v-radio-group
    column
    :mandatory="field.mandatory"
    v-if="visible"
    :dense="dense"
    :rules="rules"
    :label="field.label"
    :disabled="disabled"
    :hint="field.hint"
    :readonly="readonly"
    :hide-details="hideDetails"
    v-model="field.value"
    :background-color="color"
    :append-icon="field.appendIcon"
    :class="`mt-0 pt-0 pl-2 ${classes}`"
    :persistent-hint="field.persistentHint"
    @change="$emit('input', $event)"
    @click.prevent="$emit('click')"
  >
    <template v-for="option of field.options">
      <v-radio
        :key="option.value"
        :color="option.color"
        :label="option.label"
        :value="option.value"
        :disabled="option.disabled"
        :class="option.classes"
        :readonly="option.readonly"
      >
      </v-radio>
    </template>
  </v-radio-group>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'RadioGroup',
  mixins: [fieldMixin],
  computed: {
    visible() {
      return (
        this.field &&
        Array.isArray(this.field.options) &&
        this.field.options.length > 0
      )
    },
  },
}
</script>
