<template>
  <v-col cols="12" class="pa-0">
    <v-subheader class="pl-0 mb-4">
      {{ label }} (Min: {{ field.value[0] }} Max: {{ field.value[1] }})
    </v-subheader>
    <v-range-slider
      class="px-2"
      :value="field.value"
      :min="field.min"
      :max="field.max"
      :rules="rules"
      :class="classes"
      :color="color"
      :disabled="disabled"
      :dense="dense"
      :loading="loading"
      :readonly="readonly"
      :thumb-size="22"
      hide-details
      thumb-label="always"
      @input="$emit('input', $event)"
    ></v-range-slider>
  </v-col>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'RangeSlider',
  mixins: [fieldMixin]
}
</script>
