<template>
  <div>
    <v-tooltip :disabled="tooltipDisabled" right>
      <template v-slot:activator="{ on, attrs }">
        <v-autocomplete
          hide-no-data
          :label="label"
          :value="field.value"
          :items="field.items"
          :item-text="itemText"
          :item-value="itemValue"
          :rules="rules"
          :class="classes"
          :dense="dense"
          :color="color"
          :loading="loading"
          :disabled="disabled"
          :item-color="color"
          :readonly="readonly"
          :outlined="outlined"
          :clearable="clearable"
          :hide-details="hideDetails"
          :prepend-icon="field.prependIcon"
          @keyup.enter="$emit('click')"
          @click="$emit('click')"
          @input="$emit('input', $event)"
          v-on="on"
          v-bind="attrs"
        ></v-autocomplete>
        <!-- @click:append="$emit('click')" -->
      </template>
      <span>{{ field.value }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'SingleSelect',
  mixins: [fieldMixin],
  computed: {
    tooltipDisabled() {
      return (
        !this.field.value ||
        (typeof this.field.value === 'string' &&
          this.field.value.trim().length < 40)
      )
    },
  },
}
</script>
