<template>
  <v-autocomplete
    ref="autocomplete"
    chips
    multiple
    :label="label"
    :dense="dense"
    :rules="rules"
    :color="color"
    :disabled="disabled"
    :value="field.value"
    :items="field.items"
    :item-text="itemText"
    :item-value="itemValue"
    :outlined="outlined"
    :clearable="clearable"
    :hide-details="hideDetails"
    :delimiters="field.delimiters"
    :hint="field.hint"
    :return-object="returnObject"
    :persistent-hint="field.persistentHint"
    @input="onInputChanged"
  >
    <template v-slot:selection="data">
      <v-chip
        close
        class="mt-2"
        v-bind="data.attrs"
        :input-value="data.selected"
        :key="JSON.stringify(data.item.text)"
        @click:close="data.parent.selectItem(data.item)"
      >
        <v-avatar
          left
          class="white--text"
          :color="`${getTagProp('color', data.item.tag)}`"
          v-text="getTagProp('avatar', data.item.tag)"
        />
        {{ data.item.text }}
      </v-chip>
    </template>
    <template v-slot:item="data">
      <v-list-item-avatar class="mr-2">
        <v-avatar
          size="28"
          class="white--text"
          :color="`${getTagProp('color', data.item.tag)}`"
          v-text="getTagProp('avatar', data.item.tag)"
        />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="data.item.text" />
      </v-list-item-content>
      <v-list-item-action @click.stop="">
        <v-menu
          bottom
          right
          offset-x
          nudge-right="20"
          :close-on-click="false"
          :close-on-content-click="false"
          transition="slide-y-transition"
        >
          <template v-slot:activator="{ on: menu }">
            <v-tooltip
              top
              nudge-top="-5"
            >
              <template v-slot:activator="{ on: tooltip }">
                <v-btn 
                  text
                  icon
                  small
                  v-on="{ ...tooltip, ...menu }"
                >
                  <v-icon small>
                    mdi-pencil
                  </v-icon>
                </v-btn>
              </template>
              <span>Edit tag</span>
            </v-tooltip>
          </template>
          <v-list
            dense
            rounded
          >
            <v-list-item-group
              :color="color"
              :value="getActiveTag(data.item.tag)"
            >
              <v-list-item
                v-for="(tag, index) in tags"
                :key="index"
                @click.stop.prevent="onTagChanged(data.item, tag.value)"
              >
                <v-list-item-avatar class="mr-2 my-0">
                  <v-avatar
                    size="26"
                    class="white--text"
                    :color="tag.color"
                    v-text="tag.avatar"
                  />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ tag.text }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </v-list-item-action>      
    </template>
  </v-autocomplete>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'
import { find, cloneDeep, findIndex } from 'lodash'

export default {
  name: 'TaggedMultiSelect',
  mixins: [fieldMixin],
  data () {
    return {
      /**
       * Note: the field must include the definition of tags in an array like: 
       * tags: [{ text: 'optional', value: 'optional', avatar: 'O', color: '#F5D684' }]
       */
      tags: cloneDeep(this.field.tags)
    }
  },
  methods: {
    getTagProp(prop, value) {
      const tag = find(this.tags, { 'value': value })
      return tag[prop]
    },
    // Returns the index of active tag
    getActiveTag(value) {
      return findIndex(this.tags, { 'value': value })
    },
    onTagChanged(item, newTag) {
      // Bug-to-fix: :close-on-click="false" does not work on <v-autocomplete>
      // const autocomplete = this.$refs.autocomplete
      // console.log('menu: ', autocomplete.$refs.menu)
      // autocomplete.$refs.menu.isActive = true
      if (item.tag !== newTag) {
        const newItem = { text: item.text, tag: newTag }
        const indexOfItem = findIndex(this.field.value, ['text', item.text])
        if (indexOfItem > -1) {
          const newValue = [...this.field.value]
          newValue.splice(indexOfItem, 1, newItem)
          this.onInputChanged(newValue)
        }
        this.$emit('item-changed', newItem)
      }
    },
    onInputChanged(newValue) {
      this.$emit('input', newValue)
    }
  }
}
</script>
