<template>
  <v-text-field
    :dense="dense"
    :color="color"
    :rules="rules"
    :class="classes"
    :label="label"
    :disabled="disabled"
    :value="field.value"
    :loading="loading"
    :readonly="readonly"
    :outlined="outlined"
    :clearable="clearable"
    :hint="field.hint"
    :suffix="field.suffix"
    :persistent-hint="field.persistentHint"
    :hide-details="hideDetails"
    :prepend-icon="field.prependIcon"
    @keyup.enter="$emit('click')"
    @click.prevent="$emit('click')"
    @input="$emit('input', $event)"
  ></v-text-field>
</template>


<script>
import fieldMixin from '@/mixins/fieldMixin'

export default {
  name: 'TextInput',
  mixins: [fieldMixin]
}
</script>
