<template>
  <div v-if="visible">
    <v-row>
      <v-col class="py-0">
        <span>Feature</span>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="auto" class="py-0" align-self="end">
        <span>Weight</span>
      </v-col>
    </v-row>
    <v-divider class="my-2"></v-divider>
    <v-row
      v-for="(category, categoryIndex) of field.categories"
      :key="`${category.name}_${categoryIndex}`"
    >
      <v-col cols="12" class="py-0">
        <v-row style="padding: 3px 0;">
          <v-col cols="12" class="py-0">
            <base-slider
              :field="category"
              @input="onInputChanged(category, $event)"
            >
              <template #label>
                <span class="primary--text">
                  {{ category.label }}
                </span>
              </template>
            </base-slider>
          </v-col>
        </v-row>
        <div v-if="isCatChildVisible(category)">
          <v-row
            v-for="(child, childIndex) of category.children"
            :key="`${child.name}_${childIndex}`"
            style="padding: 2px 0;"
          >
            <v-col cols="12" class="pl-6 py-0">
              <base-slider
                :field="child"
                @input="onInputChanged(child, $event)"
              >
                <template #label>
                  <span class="text-body-2">
                    {{ child.label }}
                  </span>
                </template>
              </base-slider>
            </v-col>
          </v-row>
          <v-row v-if="childRemainVisible(category.children)">
            <v-col class="py-0"> </v-col>
            <v-spacer></v-spacer>
            <v-col cols="auto" class="py-0" align-self="end">
              <span class="text-body-2 red--text">
                {{ catChildrenPctRemain(category.children) }}% remaining
              </span>
            </v-col>
          </v-row>
          <v-divider class="my-1"></v-divider>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="py-0"> </v-col>
      <v-spacer></v-spacer>
      <v-col cols="auto" class="py-0" align-self="end">
        <span :class="`text-body-1 ${catPctRemain === 0 ? '' : 'red--text'}`">
          {{ catPctRemain }}% remaining
        </span>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import fieldMixin from '@/mixins/fieldMixin'
import BaseSlider from '@/components/general/form/fields/BaseSlider'
import { sum, map, has, isEmpty, find } from 'lodash'
import { isEmptyArray } from '@/utils'

export default {
  name: 'WeightsDistribution',
  mixins: [fieldMixin],
  components: { BaseSlider },
  computed: {
    visible() {
      return (
        this.field &&
        Array.isArray(this.field.categories) &&
        this.field.categories.length > 0
      )
    },
    catPctRemain() {
      return (
        100 -
        sum(map(this.field.categories, (category) => Number(category.value)))
      )
    },
    catChildrenPctRemain() {
      return (children) => {
        return 100 - sum(map(children, (child) => Number(child.value)))
      }
    },
    childRemainVisible() {
      return (children) => {
        return (
          Array.isArray(children) &&
          children.length > 0 &&
          100 - sum(map(children, (child) => Number(child.value))) !== 0
        )
      }
    },
  },
  methods: {
    init() {
      const context = this
      // init the values of weights
      if (has(context.field, 'value')) {
        const childrenValues = {}
        for (const [key, value] of Object.entries(context.field.value)) {
          if (!key || !context.field || isEmptyArray(context.field.categories))
            return

          const catField = find(context.field.categories, { name: key })
          if (catField) {
            context.$set(catField, 'value', value * 100)
          } else {
            childrenValues[key] = value
          }
        }
        for (const [key, value] of Object.entries(childrenValues)) {
          if (!key || !context.field || isEmptyArray(context.field.categories))
            return

          for (let i = 0; i < context.field.categories.length; i++) {
            if (!isEmpty(context.field.categories[i].children)) {
              const childField = find(
                context.field.categories[i].children,
                (child) => {
                  if (
                    child &&
                    child.name &&
                    context.field.categories[i]['name'] &&
                    `${context.field.categories[i]['name']}_${child['name']}` ===
                      key
                  )
                    return true
                  else return false
                }
              )
              if (childField) {
                context.$set(
                  childField,
                  'value',
                  (value / context.field.categories[i]['value']) * 100 * 100
                )
              }
            }
          }
        }
      }
      const fieldValue = context.formatWeightData(context.field)
      // context.$set(context.field, 'value', fieldValue)
      context.$emit('input', fieldValue)
    },
    isCatChildVisible(category) {
      return (
        category &&
        Array.isArray(category.children) &&
        category.children.length > 0
      )
    },
    onInputChanged(field, value) {
      this.$set(field, 'value', value)

      const result = this.formatWeightData(this.field)
      this.$emit('input', result)
    },
    findWeightField(field, key) {
      if (!key || !field || isEmptyArray(field.categories)) return

      let result = find(field.categories, { name: key })
      if (result) return result

      for (let i = 0; i < field.categories.length; i++) {
        if (!isEmpty(field.categories[i].children)) {
          result = find(field.categories[i].children, (child) => {
            if (
              child &&
              child.name &&
              field.categories[i]['name'] &&
              `${field.categories[i]['name']}_${child['name']}` === key
            )
              return true
            else return false
          })
          if (result) return result
        }
      }
    },
    formatWeightData(field) {
      const result = {}
      if (!field || isEmptyArray(field.categories)) return result

      field.categories.forEach((catItem) => {
        if (has(catItem, 'name') && catItem['name'] && has(catItem, 'value')) {
          result[catItem['name']] = Number(
            (Number(catItem['value']) || 0) / 100
          )
          if (
            has(catItem, 'children') &&
            Array.isArray(catItem['children']) &&
            catItem['children'].length > 0
          ) {
            catItem.children.forEach((childItem) => {
              if (
                has(childItem, 'name') &&
                childItem['name'] &&
                has(childItem, 'value')
              ) {
                result[`${catItem['name']}_${childItem['name']}`] =
                  (Number(Number(catItem['value']) || 0) *
                    (Number(childItem['value']) || 0)) /
                  (100 * 100)
              }
            })
          }
        }
      })
      return result
    },
  },
  created() {
    this.init()
  },
}
</script>
