<template>
  <v-row
    v-if="alert"
    no-gutter
    justify="center"
  >
    <v-col
      cols="12"
      class="py-0"
    >
      <v-alert
        class="mb-0 font-weight-medium"
        :tile="tile"
        :text="text"
        :icon="alert.type === 'warning' ? 'mdi-alert' : icon"
        :dense="dense"
        :type="alert.type"
        :dismissible="dismissible"
        transition="fade-transition"
        @input="onInputChanged"
      >
        {{ alert.message }}
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    alert: {
      type: Object,
      default: function() {
        return null
      },
      validator: function(value) {
        return (
          !value
          || (
            value.type
            && value.message
            && ['success', 'info', 'error', 'warning'].indexOf(value.type) !== -1
          )
        )
      }
    },
    icon: {
      type: String
    },
    tile: {
      type: Boolean,
      default: false
    },
    text: {
      type: Boolean,
      default: true
    },
    dense: {
      type: Boolean,
      default: true
    },
    dismissible: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    onInputChanged(value){
      if(!value) this.$emit('close')
    }
  }
}
</script>
