<template>
  <v-breadcrumbs 
    :items="breadcrumbs" 
    class="px-3 py-0"
  >
    <template v-slot:divider>
      <v-icon>mdi-chevron-right</v-icon>
    </template>
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        exact
        :to="item.to"
        :disabled="item.disabled"
        class="font-weight-bold text-capitalize"
      >
        {{ item.text }}
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
</template>

<script>
import { has, find } from 'lodash'
import { getRouteByName } from '@/utils/route'

export default {
  name: 'BreadCrumbs',
  data() {
    return {
      breadcrumbs: []
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        this.getBreadcrumbs(to)
      }
    }
  },
  methods: {
    getBreadcrumbs(route) {
      const self = this
      const routes = []

      function getParent(route) {
        if (route) {
          if (!find(routes, ['name', route.name])) {
            routes.unshift(route)
          }
          if (has(route, 'meta.breadcrumb.parent')) {
            let name = self.getParentRouteName(route)
            const parent = self.getBreadcrumbParent(name)
            return getParent(parent)
          }
        }
      }

      if (has(route, 'meta.breadcrumb.parentList')) {
        routes.unshift(route)
        for (const name of route.meta.breadcrumb.parentList) {
          const parent = self.getBreadcrumbParent(name)
          routes.unshift(parent)
        }
        const rootParent = routes[0]
        getParent(rootParent)
      } else {
        getParent(route)
      }

      this.breadcrumbs = routes.map((route, i) => {
        return {
          to: { name: route.name },
          text: this.getBreadcrumbLabel(route),
          disabled: i === routes.length - 1
        }
      })
    },
    getBreadcrumbLabel(route) {
      const meta = route.meta
      if (!meta || !meta.breadcrumb || !meta.breadcrumb.label) {
        return (meta && meta.title) || route.name
      }

      const label = meta.breadcrumb.label
      if (typeof label === 'function') {
        return label(route)
      }
      return label
    },
    getBreadcrumbParent(name) {
      const routes = this.$router.options.routes
      return getRouteByName(routes, name)
    },
    getParentRouteName(route) {
      let name = route.meta.breadcrumb.parent
      if (typeof name === 'function') {
        return name(route)
      }
      return name
    }
  }
}
</script>
