<template>
  <v-container
    fluid
    class="pa-0"
  >
    <alert
      v-if="
        alert 
          && alertPosition === 'above-header'"
      :tile="true"
      :text="false"
      :alert="alert"
    />
    
    <slot name="page-header.before" />

    <page-header
      :key="$route.name"
      :show-default="showDefaultPageHeader"
    > 
      <template v-slot:page-header>
        <slot name="page-header" />
      </template>
      <template v-slot:title>
        <slot name="page-header.title" />
      </template>
      <template v-slot:subtitle>
        <slot name="page-header.subtitle" />
      </template>
      <template v-slot:header.right>
        <slot name="page-header.right" />
      </template>
      <template v-slot:tabs>
        <slot name="page.tabs" />
      </template>
    </page-header>

    <alert
      v-if="
        alert
          && alertPosition === 'below-header'"
      :tile="true"
      :text="false"
      :alert="alert"
    />

    <slot name="page-header.after" />

    <v-card
      flat
      tile
      :class="spacing"
      color="transparent"
      :height="`${loading ? '500' : ''}`"
    >
      <alert
        v-if="
          alert
            && alertPosition === 'above-content'"
        class="px-2"
        :text="false"
        :alert="alert"
      />
      <slot />
      <base-loader
        :absolute="true"
        :loading="loading"
      />
    </v-card>
  </v-container>
</template>

<script>
import Alert from '@/components/general/notifs/Alert'
import BaseLoader from '@/components/general/BaseLoader'
import PageHeader from '@/components/general/page-wrapper/PageHeader'

export default {
  name: 'PageWrapper',
  components: {
    Alert,
    BaseLoader,
    PageHeader
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    alert: {
      type: Object,
      default: null
    },
    spacing: {
      type: String,
      default: 'px-8 py-4'
    },
    showDefaultPageHeader: {
      type: Boolean,
      default: true
    },
    alertPosition: {
      type: String,
      default: 'below-header',
      validator: function(value) {
        return (
          ['above-header', 'below-header', 'above-content'].indexOf(value) !== -1
        )
      }
    }
    // customOptions: {
    //   type: Object
    // }
  },
  // data () {
  //   return {
  //     defaultOptions: {
  //       fluid: true
  //     }
  //   }
  // },
  // computed: {
  //   options () {
  //     return Object.assign(this.defaultOptions, this.customOptions)
  //   }
  // }
}
</script>
