<template>
  <v-card flat tile color="white" class="pt-6 px-6">
    <bread-crumbs class="mb-n2" />
    <v-container fluid class="ma-0">
      <v-row
        no-gutters
        v-if="showDefault"
        justify="space-between"
        style="height: 100%;"
      >
        <v-col sm="5" md="6">
          <v-card flat tile color="transparent">
            <v-card-title class="page-title px-0">
              <slot name="title">
                {{ meta.title }}
              </slot>
              <v-tooltip right>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-if="meta.document"
                    fab
                    color="grey darken-1"
                    outlined
                    max-width="18"
                    max-height="18"
                    class="mx-3"
                    target="_blank"
                    :href="`/public/assets/docs/${meta.document}`"
                    v-on="on"
                  >
                    <v-icon size="16">
                      mdi-information-variant
                    </v-icon>
                  </v-btn>
                </template>
                <span>User Manual</span>
              </v-tooltip>
            </v-card-title>
            <slot name="subtitle">
              <v-card-subtitle
                v-if="meta.description"
                class="text-wrap px-0 pb-1"
              >
                {{ meta.description }}
              </v-card-subtitle>
            </slot>
          </v-card>
        </v-col>
      </v-row>
      <slot name="page-header" v-else></slot>
    </v-container>
    <slot name="tabs">
      <page-tabs v-if="tabs.length" :items="tabs" />
    </slot>
  </v-card>
</template>

<script>
import { has } from 'lodash'
import { getRouteMeta } from '@/utils/route'
import PageTabs from '@/components/general/page-wrapper/PageTabs'
import BreadCrumbs from '@/components/general/page-wrapper/BreadCrumbs'

export default {
  name: 'PageHeader',
  components: {
    PageTabs,
    BreadCrumbs,
  },
  props: {
    showDefault: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      tabs: [],
      meta: null,
    }
  },
  computed: {},
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        this.meta = getRouteMeta(to)
        if (has(this.meta, 'tabs')) {
          this.tabs = this.meta.tabs
        }
      },
    },
  },
}
</script>

<style scoped>
.page-title {
  font-size: 1.6rem;
  font-weight: 600;
}
.page-subtitle {
  font-size: 0.65rem !important;
}
</style>
