<template>
  <v-tabs
    class="px-3"
    slider-size="3"
    background-color="transparent"
    active-class="black--text"
  >
    <v-tabs-slider color="primary" />
    <v-tab
      v-for="({ title, location, menu }, index) in items"
      :key="index"
      :to="location"
      class="px-1 mr-6 text-capitalize font-weight-bold black--text"
    >
      <base-dropdown-menu
        v-if="menu"
        :menu="menu"
        :activator="{ 
          title,
          class: 'font-weight-bold black--text px-0'
        }"
        :menuProps="{
          nudgeBottom: 5
        }"
      >
      </base-dropdown-menu>
      <span v-else>
        {{ title }}
      </span>
    </v-tab>
  </v-tabs>
</template>

<script>
import BaseDropdownMenu from '@/components/general/menus/BaseDropdownMenu'

export default {
  name: 'PageTabs',
  components: {
    BaseDropdownMenu
  },
  props: {
    /**
     * items: [
     *  {
     *    title: 'must',
     *    location: 'must', // eg: { name: 'name of route' }
     *    menu: [ // optional
     *      {
     *        title: 'must',
     *        items: [ // must
     *          {
     *            title: 'must',
     *            icon: 'optional'
     *            location: 'must'
     *          } 
     *        ]
     *      }
     *    ]
     *  }
     * ]
     */
    items: {
      type: Array,
      required: true,
      validator: function(val) {
        return !(
          val.some((item) => {
            return !item.title || !item.location
          })
        )
      }
    }
  }
}
</script>
