<template>
  <v-card
    flat
    :width="width"
    color="transparent"
  >
    <v-container
      fluid
      class="ma-0 pb-0"
    >
      <slot name="form.header" />
      <v-row
        align="center"
        justify="start"
      >
        <slot name="form-generator.prepend" />
        <v-col class="py-0">
          <v-row>
            <template v-for="(field, index) of formFields">
              <slot :name="`field.${field.name}.prepend`" />
              <v-col
                :key="index"
                class="py-0"
                :cols="field.cols || 12"
                align-self="center"
              >
                <component
                  :is="field.type"
                  :field="field"
                  @click="$emit('click', field.name)"
                  @input="$emit('input', field.name, $event)"
                />
              </v-col>
              <slot :name="`field.${field.name}.append`" />
            </template>
          </v-row>
        </v-col>
        <slot name="form-generator.append" />
      </v-row>
      <slot name="form.footer" />
    </v-container>
  </v-card>
</template>

<script>
import SingleSelect from '@/components/general/form/fields/SingleSelect'
import MultiSelect from '@/components/general/form/fields/MultiSelect'
import RangeSlider from '@/components/general/form/fields/RangeSlider'
import DatePicker from '@/components/general/form/fields/DatePicker'
import TextInput from '@/components/general/form/fields/TextInput'
import InputSelect from '@/components/general/form/fields/InputSelect'
import FileInput from '@/components/general/form/fields/FileInput'
import NumberRangeCombo from '@/components/general/form/fields/NumberRangeCombo'
import DateRangeComboFlat from '@/components/general/form/fields/DateRangeComboFlat'

export default {
  name: 'FormGenerator',
  components: {
    TextInput,
    FileInput,
    InputSelect,
    SingleSelect,
    MultiSelect,
    DatePicker,
    RangeSlider,
    NumberRangeCombo,
    DateRangeComboFlat
  },
  props: {
    width: {
      type: [String, Number],
      default: '100%'
    },
    formFields: {
      type: Array,
      required: true
    }
  }
}
</script>
