<template>
  <v-dialog
    v-model="dialog"
    :max-width="maxWidth"
    :persistent="persistent"
  >
    <template v-slot:activator="{ on: dialog }">
      <v-tooltip top>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn
            icon
            x-small
            color="primary"
            :disabled="disabled"
            class="ellipsis-btn mr-2"
            v-on="{ ...tooltip, ...dialog }"
          >
            <v-icon small>
              {{ icon }}
            </v-icon>
          </v-btn>
        </template>
        <span>{{ tooltip }}</span>
      </v-tooltip>
    </template>

    <v-card raised>
      <v-app-bar
        dark
        flat
        color="error"
        class="font-weight-bold px-4"
      >
        {{ title }}
        <v-spacer />
        <v-btn
          icon
          small
          @click="dialog = false"
        >
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </v-app-bar>

      <v-card-text>
        <v-list-item three-line>
          <v-list-item-avatar size="100">
            <v-img
              contain
              alt="delete"
              :src="require('@/assets/delete_popup.svg')"
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title
              class="text-wrap mt-2"
              style="max-width: 90%; line-height: 24px;"
              v-text="message"
            />
            <v-list-item-subtitle e v-text="submessage" />
          </v-list-item-content>
        </v-list-item>
      </v-card-text>

      <v-card-actions class="px-6 pb-6">
        <v-spacer />
        <v-btn
          rounded
          outlined
          color="error"
          @click.prevent="dialog = false"
        >
          {{ cancelBtnText }}
        </v-btn>
        <v-btn
          rounded
          depressed
          color="error"
          @click.prevent="$emit('accepted', true)"
        >
          {{ submitBtnText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BaseDeleteConfirmDialog',
  props: {
    icon: {
      type: String,
      default: 'mdi-trash-can'
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tooltip: {
      type: String,
      default: 'Delete'
    },
    title: {
      type: String,
      default: 'Confirm Deletion'
    },
    message: {
      type: String,
      default: 'Are you sure you want to permanently delete this record? This action CANNOT be undone.'
    },
    submessage: {
      type: String,
      default: ''
    },
    maxWidth: {
      type: [Number, String],
      default: '650px'
    },
    persistent: {
      type: Boolean,
      default: true,
    },
    cancelBtnText: {
      type: String,
      default: 'Cancel'
    },
    submitBtnText: {
      type: String,
      default: 'Delete'
    }
  },
  data() {
    return {
      dialog: false
    }
  }
}
</script>

<style scoped>
.ellipsis-btn {
  background-color: transparent !important;
}
</style>