<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="320"
    >
      <v-card
        class="pb-5"
        :class="`${type}-border-top`"
      >
        <v-card-title class="justify-center">
          <v-avatar size="62">
            <v-icon 
              size="56"
              :class="`${type}--text ${color}`"
            >
              {{ icon }}
            </v-icon>
          </v-avatar>
        </v-card-title>
        <v-card-subtitle 
          style="font-size: 22px"
          :class="`${type}--text`"
          class="pt-6 text-center text-capitalize alert-title"
        >
          {{ type }}!
        </v-card-subtitle>
        <v-card-text class="text-center">
          {{ message }}
        </v-card-text>
        <v-card-actions>
          <v-row
            align="center"
            justify="center"
          >
            <v-btn
              dark
              small
              rounded
              depressed
              :color="type"
              @click="$emit('update:dialog', false)"
            >
              Dismiss
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
const ALERT_TYPE_CONFIG = {
  success: {
    icon: 'mdi-check-circle',
    color: 'green lighten-4'
  },
  error: {
    icon: 'mdi-close-circle',
    color: 'red lighten-4'
  },
  warning: { 
    icon: 'mdi-alert-circle',
    color: 'orange lighten-4'
  }
}

export default {
  name: 'BaseAlertDialog',
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      required: true,
      validator: function (value) {
        return Object.keys(ALERT_TYPE_CONFIG).indexOf(value) !== -1
      }
    },
    message: {
      type: String,
      required: true
    }
  },
  computed: {
    icon() {
      return ALERT_TYPE_CONFIG[this.type]['icon']
    },
    color() {
      return ALERT_TYPE_CONFIG[this.type]['color']
    }
  }
}
</script>

<style scoped>
.alert-title {
  font-size: 22px;
  font-weight: 700;
}
.warning-border-top {
  border-top: 6px solid #fb8c00;
}
.success-border-top {
  border-top: 6px solid #4caf50;
}
.error-border-top {
  border-top: 6px solid #ff5252;
}
</style>
