<template>
  <v-dialog
    v-model="dialog"
    :height="height"
    :max-width="maxWidth"
    :persistent="persistent"
    :scrollable="scrollable"
  >
    <template v-slot:activator="{ on: dialog, attrs }">
        <v-tooltip top>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn
              icon
              x-small
              v-bind="attrs"
              color="primary"
              :disabled="disabled"
              class="ellipsis-btn mr-2"
              v-on="{ ...tooltip, ...dialog }"
            >
              <v-icon small>
                {{ btnIcon }}
              </v-icon>
            </v-btn>
          </template>
          <span>{{ btnTooltipText }}</span>
        </v-tooltip>
    </template>
    <v-card>
      <v-card-title class="justify-center primary--text font-weight-bold">
        {{ dialogTitle }}
      </v-card-title>
      <v-card-text class="text-center">
        {{ dialogMsg }}
        <slot name="confirm.dialog.content" />
      </v-card-text>
      <v-divider />
      <v-card-actions class="justify-center py-4">
        <slot name="confirm.dialog.actions.start" />
        <slot name="confirm.dialog.actions.before.default" />
        <v-btn
          small
          rounded
          depressed
          color="primary"
          @click="dialog = false"
        >
          Disagree
        </v-btn>
        <slot name="confirm.dialog.actions.after.default" />
        <v-btn
          dark
          small
          rounded
          depressed
          color="grey"
          @click="onAcceptClicked"
        >
          Agree
        </v-btn>
        <slot name="confirm.dialog.actions.end" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BaseConfirmDialog',
  props: {
    dialogTitle: {
      type: String,
      default: 'Confirmation',
    },
    dialogMsg: {
      type: String,
      default: 'Are you sure?',
    },
    persistent: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    scrollable: {
      type: Boolean,
      default: true,
    },
    maxWidth: {
      type: Number,
      default: 400,
    },
    height: {
      type: Number,
      default: 600,
    },
    btnText: {
      type: String,
      default: '',
    },
    btnIcon: {
      type: String,
      default: '',
    },
    btnTooltipText: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    onAcceptClicked() {
      this.dialog = false
      this.$emit('accepted', true)
    },
  },
}
</script>

<style scoped></style>
