<template>
  <div>
    <slot name="activator" />
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card raised>
        <slot name="title-bar"> 
          <v-app-bar
            dark
            flat
            color="primary"
            class="form-header px-4"
          >
            {{ title }}
            <v-spacer />
            <v-btn
              icon
              small
              @click="onCancel"
            >
              <v-icon>
                mdi-close
              </v-icon>
            </v-btn>
          </v-app-bar>
        </slot>

        <slot name="content" />

        <slot name="actions">
          <v-card-actions class="pa-6">
            <v-spacer />
            <v-btn
              small
              rounded
              outlined
              color="primary"
              :disabled="cancelBtnDisabled"
              @click="onCancel"
            >
              {{ cancelBtnText }}
            </v-btn>
            <v-btn
              small
              rounded
              depressed
              color="primary"
              :disabled="submitBtnDisabled"
              @click.prevent="$emit('submit')"
            >
              {{ submitBtnText }}
            </v-btn>
          </v-card-actions>
        </slot>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'BaseDialog',
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    maxWidth: {
      type:  [Number, String],
      default: '650'
    },
    title: {
      type: String,
      default: ''
    },
    cancelBtnText: {
      type: String,
      default: 'cancel'
    },
    submitBtnText: {
      type: String,
      default: 'submit'
    },
    cancelBtnDisabled: {
      type: Boolean,
      default: false
    },
    submitBtnDisabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      show: false
    }
  }
}
</script>
