<template>
  <v-card
    v-if="data"
    width="100%"
    elevation="3"
  >
    <v-card-subtitle
      v-if="title"
      class="text-capitalize font-weight-medium"
    >
      <v-icon left>
        mdi-table
      </v-icon>
      {{ title }}
    </v-card-subtitle>
    <v-card-text>
      <v-data-table
        class="px-4"
        :items="items"
        :headers="headers"
        :search="search"
        :options="options"
      >
        <template v-slot:top>
          <v-text-field
            v-model="search"
            dense
            clearable
            single-line
            hide-details
            class="pb-6"
            color="primary"
            label="Search"
            prepend-icon="mdi-magnify"
          />
          <v-spacer />
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import { parseJSON } from '@/utils'

export default {
  name: 'BaseTable',
  props: {
    title: {
      type: String,
      default: ''
    },
    data: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    },
    customOptions: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      search: '',
      defaultOptions: {
        itemsPerPage: 5,
        multiSort: true
      }
    }
  },
  computed: {
    rawData() {
      return parseJSON(this.data)
    },
    // Returns an array of objects, each describing a header column
    headers() {
      if (this.rawData) {
        return this.rawData.columnDefs.map(colDef => {
          return {
            value: colDef['field'],
            text: colDef['headerName']
          }
        })
      }
      return []
    },
    // Returns an array of items to display
    items() {
      return (this.rawData && this.rawData.rowData) || []
    },
    // Returns a combined object for options
    options() {
      return {
        ...this.defaultOptions,
        ...this.customOptions
      }
    }
  }
}
</script>
