<template>
  <div>
    <base-render-card
      :title="title"
      :prepend-icon="'mdi-table'"
    >
      <template v-slot:body.prepend>
        <slot name="body.prepend">
          <ag-table-toolbar
            class="px-2"
            :searchable="false"
            v-bind="toolbarOptions"
            :menu-list="columnDefs"
            :grid-options="gridOptions"
            :dataset-name="datasetName"
            @col-selection-changed="setColumnVisible"
          >
            <template v-slot:toolbar.before.start>
              <slot name="toolbar.before.start" />
            </template>
          </ag-table-toolbar>
        </slot>
      </template>
      <template v-slot:default>
        <div class="text-left">
          <ag-grid-vue
            :class="theme"
            :style="{ width, height }"
            :column-defs="columnDefs"
            :components="components"
            :grid-options="gridOptions"
            :row-model-type="rowModelType"
            :default-col-def="defaultColDef"
            :overlay-no-rows-template="overlayNoRowsTemplate"
            @grid-ready="onGridReady"
            @column-resized="onColumnResized"
            @viewport-changed="onViewportChanged"
            @selection-changed="onSelectionChanged"
            @pagination-changed="onPaginationChanged"
            @first-data-rendered="onFirstDataRendered"
            @row-data-changed="onRowDataChanged"
            @row-data-update="onRowDataUpdated"
          />
        </div>
      </template>
    </base-render-card>
  </div>
</template>

<script>
import agGridMixin from '@/mixins/agGridMixin'
import BaseRenderCard from '@/components/general/BaseRenderCard'
import AgTableToolbar from '@/components/general/tables/controls/AgTableToolbar'
import LinkCellRenderer from '@/components/general/tables/cell-renderers/LinkCellRenderer'
import RankCellRenderer from '@/components/general/tables/cell-renderers/RankCellRenderer'
import CountryCellRenderer from '@/components/general/tables/cell-renderers/CountryCellRenderer'
import ProgressCellRenderer from '@/components/general/tables/cell-renderers/ProgressCellRenderer'
import ShowMoreCellRenderer from '@/components/general/tables/cell-renderers/ShowMoreCellRenderer'

export default {
  name: 'BaseServerPaginatedAgTable',
  components: {
    AgTableToolbar,
    BaseRenderCard,
    LinkCellRenderer,
    RankCellRenderer,
    CountryCellRenderer,
    ProgressCellRenderer,
    ShowMoreCellRenderer
  },
  mixins: [agGridMixin],
  props: {
    title: {
      type: String,
      default: ''
    },
    theme: {
      type: String,
      default: 'ag-theme-balham'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '500px'
    },
    columnDefs: {
      type: Array,
      required: true
    },
    customGridOptions: {
      type: Object,
      default: function() {
        return {}
      }
    },
    customDefaultColDef: {
      type: Object,
      default: function() {
        return {}
      }
    },
    toolbarOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    noRowsText: {
      type: String,
      default: 'No Data To Show'
    },
    datasetName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      rowModelType: null,
      components: {
        LinkCellRenderer,
        ShowMoreCellRenderer
      },
      defaultColDef: {
        sortable: true,
        resizable: true,
        wrapText: true,
        autoHeight: true
      },
      gridOptions: {
        animateRows: true,
        cacheBlockSize: 50,
        blockLoadDebounceMillis: 100
      }
    }
  },
  computed: {
    overlayNoRowsTemplate() {
      return `
        <span class="overlay grey--text text--darken-1 text-capitalize">
          ${this.noRowsText}
        </span>`
    }
  },
  beforeMount() {
    this.rowModelType = 'serverSide'
    Object.assign(this.gridOptions, this.customGridOptions)
    Object.assign(this.defaultColDef, this.customDefaultColDef)
  },
  methods: {
    onGridReady(params) {
      this.$emit('grid-ready', params)
    },
    onColumnResized(params) {
      params.api.resetRowHeights()
    },
    onSelectionChanged() {
      const selectedRows = this.gridApi.getSelectedRows()
      this.$emit('row-selection-changed', selectedRows)
    },
    onFirstDataRendered(params) {
      this.$emit('first-data-rendered', params)
    },
    onPaginationChanged(params) {
      this.$emit('pagination-changed', params)
    },
    onViewportChanged(params) {
      this.$emit('viewport-changed', params)
    },
    onRowDataChanged(params) {
      this.$emit('row-data-changed', params)
    },
    onRowDataUpdated(params) {
      this.$emit('row-data-update', params)
    }
  }
}
</script>

<style>
@import '~ag-grid-enterprise/dist/styles/ag-grid.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-balham.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-alpine.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-material.css';

.ag-header-cell-label .ag-header-cell-text {
  text-transform: capitalize;
}
.cell-wrap-text {
  white-space: normal !important;
}
</style>
