<template>
  <base-render-card
    :title="title"
    :alert="alert"
    :loading="loading"
    :prepend-icon="'mdi-table'"
    :custom-options="cardOptions"
    :text-options="cardTextOptions"
  >
    <template v-slot:body.prepend>
      <slot name="body.prepend">
        <ag-table-toolbar
          class="px-2"
          v-bind="toolbarOptions"
          :menu-list="columnMenuList"
          :grid-options="gridOptions"
          :dataset-name="datasetName"
          :show-text="showText"
          @col-selection-changed="onColSelectionChanged"
        >
          <template v-slot:toolbar.before.start>
            <slot name="toolbar.before.start" />
          </template>
        </ag-table-toolbar>
        <slot name="toolbar.prepend" />
      </slot>
    </template>
    <template v-slot:default>
      <div class="text-left">
        <ag-grid-vue
          :class="classes"
          :style="{ width, height, 'max-height': maxHeight }"
          :row-data="rowData"
          :column-defs="columnDefs"
          :components="components"
          :grid-options="gridOptions"
          :default-col-def="gridDefaultColDef"
          :is-external-filter-present="isExternalFilterPresent"
          :does-external-filter-pass="doesExternalFilterPass"
          :header-height="headerHeight"
          :pivot-header-height="pivotHeaderHeight"
          :group-header-height="groupHeaderHeight"
          :floating-filters-height="floatingFiltersHeight"
          :pivot-group-header-height="pivotGroupHeaderHeight"
          @selection-changed="onRowSelectionChanged"
          @grid-ready="onGridReady"
        />
      </div>
      <slot name="body.append" />
    </template>
  </base-render-card>
</template>

<script>
import agMixin from '@/mixins/agMixin'
import { has, find, cloneDeep } from 'lodash'
import { RVA_DEFAULT_PAGE_SIZE } from '@/utils/constants'
import { parseJSON, findColDef, isEmptyArray, appendCellRenders } from '@/utils'
import BaseRenderCard from '@/components/general/BaseRenderCard'
import AgTableToolbar from '@/components/general/tables/controls/AgTableToolbar'
import LinkCellRenderer from '@/components/general/tables/cell-renderers/LinkCellRenderer'
import RankCellRenderer from '@/components/general/tables/cell-renderers/RankCellRenderer'
import CountryCellRenderer from '@/components/general/tables/cell-renderers/CountryCellRenderer'
import ProgressCellRenderer from '@/components/general/tables/cell-renderers/ProgressCellRenderer'
import PinnedRowCellRenderer from '@/components/general/tables/cell-renderers/PinnedRowCellRenderer'
import ShowMoreCellRenderer from '@/components/general/tables/cell-renderers/ShowMoreCellRenderer'

export default {
  name: 'BaseAgTable',
  components: {
    AgTableToolbar,
    BaseRenderCard,
    LinkCellRenderer,
    RankCellRenderer,
    CountryCellRenderer,
    ProgressCellRenderer,
    PinnedRowCellRenderer,
    ShowMoreCellRenderer,
  },
  mixins: [agMixin],
  props: {
    title: {
      type: String,
      default: '',
    },
    datasetName: {
      type: String,
      default: '',
    },
    data: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Object,
      default: function () {
        return {}
      },
    },
    width: {
      type: String,
      default: '100%',
    },
    height: {
      type: String,
    },
    maxHeight: {
      type: String,
    },
    defaultColDef: {
      type: Object,
    },
    classes: {
      type: String,
      default: 'ag-theme-balham',
    },
    columnAttrs: {
      type: Object,
      default: function () {
        return {}
      },
    },
    toolbarOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    /**
     * the index should be Numbers and small than length -1 and same index cannot be duplicated,
     * fex. table has 3 rows, the index range should be `-length` to `length -1` (-3 -> 2),
     * -3 is same to 0, -2 is same to 1, -1 is same to 2, ....
     */
    pinnedTopRowIndexes: {
      type: Array,
      default: () => [],
    },
    pinnedBottomRowIndexes: {
      type: Array,
      default: () => [],
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    cardTextOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    // External filter must be given in an object with 'present' set to true if external
    // filtering is active or false otherwise. Note that doesExternalFilterPass() method
    // must be provided if external filtering is enabled
    externalFilter: {
      type: Object,
      validator: function (value) {
        if (!value) return true
        return (
          has(value, 'value') &&
          has(value, 'present') &&
          typeof value['present'] === 'boolean' &&
          has(value, 'compare') &&
          typeof value['compare'] === 'function'
        )
      },
    },
    showText: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      alert: null,
      gridOptions: null,
      gridDefaultColDef: null,
      components: {
        LinkCellRenderer,
        RankCellRenderer,
        CountryCellRenderer,
        ProgressCellRenderer,
        PinnedRowCellRenderer,
        ShowMoreCellRenderer,
      },
      defaultOptions: {
        width: 250,
        pagination: true,
        paginationPageSize: RVA_DEFAULT_PAGE_SIZE,
        autoGridHeight: true,
        sideBar: true,
        statusBar: true,
      },
      pivotHeaderHeight: 60,
      groupHeaderHeight: 45,
      floatingFiltersHeight: 45,
      pivotGroupHeaderHeight: 45,
    }
  },
  computed: {
    rawData() {
      return parseJSON(this.data)
    },
    rowData() {
      return (this.rawData && this.rawData.rowData) || null
    },
    columnDefs() {
      let columnDefs = cloneDeep(
        (this.rawData && this.rawData.columnDefs) || []
      )
      for (const [field, attrs] of Object.entries(this.columnAttrs)) {
        let colDef = findColDef(columnDefs, field)
        if (colDef) {
          colDef = Object.assign(colDef, attrs)
        }
      }
      // columnDefs = appendCellRenders(columnDefs)
      // return columnDefs
      return appendCellRenders(columnDefs)
    },
    columnMenuList() {
      return (
        (this.toolbarOptions.menuList &&
          this.toolbarOptions.menuList(this.columnDefs)) ||
        this.columnDefs
      )
    },
    headerHeight() {
      let headerHeight = '45' //ag-grid default value
      if (this.columnDefs && this.columnDefs.length > 1) {
        if (
          this.columnDefs[0].headerName === 'field' &&
          this.columnDefs[1].headerName === 'value'
        ) {
          headerHeight = '0'
        }
      }
      return headerHeight
    },
  },
  watch: {
    externalFilter: {
      deep: true,
      handler: 'onExternalFilterChanged',
    },
  },
  beforeMount() {
    this.gridOptions = this.getGridOptions(
      Object.assign(this.defaultOptions, this.options)
    )
    this.gridDefaultColDef = {
      ...this.gridOptions.defaultColDef,
      ...this.defaultColDef,
    }
  },
  methods: {
    onRowSelectionChanged() {
      const selectedRows = this.gridApi.getSelectedRows()
      this.$emit('row-selection-changed', selectedRows)
    },
    onColSelectionChanged(field, isVisible) {
      this.setColumnVisible(field, isVisible)
      const selectedCols = this.gridColumnApi
        .getAllDisplayedColumns()
        .map((col) => {
          return col.colDef.field
        })
      this.$emit('col-selection-changed', selectedCols)
    },
    isExternalFilterPresent() {
      return (
        typeof this.externalFilter !== 'undefined' &&
        this.externalFilter['present']
      )
    },
    // call api.onFilterChanged() to tell the grid, if the external filter changes
    onExternalFilterChanged() {
      this.gridApi.onFilterChanged()
    },
    // doesExternalFilterPass() will be called for each row node if isExternalFilterPresent returns true
    doesExternalFilterPass(node) {
      return this.externalFilter.compare(node)
    },
    onGridReady(params) {
      if (
        this.pinnedTopRowIndexes.length > 0 ||
        this.pinnedBottomRowIndexes.length > 0
      ) {
        const pinnedTopRows = this.getPinnedRows(
          this.pinnedTopRowIndexes,
          params
        )
        const pinnedBottomRows = this.getPinnedRows(
          this.pinnedBottomRowIndexes,
          params
        )
        params.api.setPinnedTopRowData(pinnedTopRows)
        params.api.setPinnedBottomRowData(pinnedBottomRows)
      }
      this.$emit('on-grid-ready', params)
    },
    getPinnedRows(indexes, gridParmas) {
      if (isEmptyArray(indexes)) return []

      const resultIndexes = []
      const rowSize = this.rowData.length
      const formattedPinnedTopIndexes = indexes
        .map((index) => Number(index))
        .sort()
        .reverse()
        .filter((item) => item <= rowSize - 1)
      formattedPinnedTopIndexes.forEach((item) => {
        const tempItem = find(
          resultIndexes,
          (resultItem) => resultItem === item || resultItem === rowSize + item
        )
        if (tempItem === undefined) {
          resultIndexes.push(item)
        }
      })
      const resultRows = resultIndexes.map((index) => {
        if (index < 0) return this.rowData[rowSize + index]
        return this.rowData[index]
      })

      // remove pinned items from rows
      resultIndexes.forEach((item) => this.rowData.splice(item, 1))
      gridParmas.api.setRowData(this.rowData)
      return resultRows.reverse()
    },
  },
}
</script>

<style lang="scss">
@import '~ag-grid-enterprise/dist/styles/ag-grid.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-balham.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-alpine.css';

// Apply when the checkbox selection is enabled
.ag-theme-material .ag-icon-checkbox-checked {
  color: #009688;
}

// Apply when the checkbox selection is not enabled
.ag-theme-material .ag-row-selected {
  background-color: #c5cae9;
}

.cell-wrap-text {
  white-space: normal !important;
}

.ag-header-cell-label .ag-header-cell-text {
  text-transform: capitalize;
  white-space: normal !important;
}
</style>
