<template>
  <base-render-card
    :title="title"
    :alert="alert"
    :loading="loading"
    :custom-options="cardOptions"
    :text-options="cardTextOptions"
    :prepend-icon="'mdi-table'"
  >
    <template v-slot:body.prepend>
      <slot name="body.prepend">
        <!-- Quick Filter is not supported for infinite ag grid-->
        <ag-table-toolbar
          :searchable="false"
          :menuList="columnMenuList"
          :menuLabel="toolbarOptions.menuLabel"
          :gridOptions="gridOptions"
          :datasetName="datasetName"
          :columnsVisible="false"
          :pageSizeResizable="false"
          @col-selection-changed="onColSelectionChanged"
          style="padding: 0 8px;"
        >
          <template #toolbar.after.start>
            <b style="margin-left: 0.5em;">Total Records: {{ size }}</b>
          </template>
        </ag-table-toolbar>
        <slot name="toolbar.prepend"></slot>
      </slot>
    </template>
    <template v-slot:default>
      <div class="text-left" style="height: 600px;">
        <ag-grid-vue
          style="width: 100%; height: 100%;"
          class="ag-theme-balham"
          :gridOptions="gridOptions"
          :columnDefs="columnDefs"
          :defaultColDef="defaultColDef"
          :components="components"
          :isExternalFilterPresent="isExternalFilterPresent"
          :doesExternalFilterPass="doesExternalFilterPass"
          :getRowNodeId="getRowNodeId"
          :getRowHeight="getRowHeight"
          @grid-ready="onGridReady"
          @selection-changed="onRowSelectionChanged"
        ></ag-grid-vue>
      </div>
      <slot name="body.append"></slot>
    </template>
  </base-render-card>
</template>

<script>
import { has, findIndex, cloneDeep } from 'lodash'
import agMixin from '@/mixins/agMixin'
import { isValidString, findColDef, appendCellRenders } from '@/utils'
import AgTableToolbar from '@/components/general/tables/controls/AgTableToolbar'
import BaseRenderCard from '@/components/general/BaseRenderCard'
import LinkCellRenderer from '@/components/general/tables/cell-renderers/LinkCellRenderer'
import RankCellRenderer from '@/components/general/tables/cell-renderers/RankCellRenderer'
import CountryCellRenderer from '@/components/general/tables/cell-renderers/CountryCellRenderer'
import ProgressCellRenderer from '@/components/general/tables/cell-renderers/ProgressCellRenderer'
import PinnedRowCellRenderer from '@/components/general/tables/cell-renderers/PinnedRowCellRenderer'
import ShowMoreCellRenderer from '@/components/general/tables/cell-renderers/ShowMoreCellRenderer'

const MAX_COL_WIDTH = 300

export default {
  name: 'BaseInfiniteAgTable',
  mixins: [agMixin],
  components: {
    AgTableToolbar,
    BaseRenderCard,
    LinkCellRenderer,
    RankCellRenderer,
    CountryCellRenderer,
    ProgressCellRenderer,
    PinnedRowCellRenderer,
    ShowMoreCellRenderer,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    size: {
      type: Number,
      default: 0,
    },
    colDefs: {
      type: Array,
      required: true,
    },
    datasetName: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Object,
      default: function () {
        return {}
      },
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    cardTextOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    defaultColDef: {
      type: Object,
      default: function () {
        return {
          flex: 1,
          sortable: true,
          resizable: true,
          // filter: false, // Needs to enhance in the future.
          maxWidth: MAX_COL_WIDTH,
          wrapText: true,
          filter: 'agTextColumnFilter',
          filterParams: {
            buttons: ['clear', 'reset'],
          },
        }
      },
    },
    columnAttrs: {
      type: Object,
      default: function () {
        return {}
      },
    },
    toolbarOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    // External filter must be given in an object with 'present' set to true if external
    // filtering is active or false otherwise. Note that doesExternalFilterPass() method
    // must be provided if external filtering is enabled
    externalFilter: {
      type: Object,
      validator: function (value) {
        if (!value) return true
        return (
          has(value, 'value') &&
          has(value, 'present') &&
          typeof value['present'] === 'boolean' &&
          has(value, 'compare') &&
          typeof value['compare'] === 'function'
        )
      },
    },
  },
  data() {
    return {
      alert: null,
      defaultOptions: {
        minWidth: 150,
        rowSelection: 'multiple',
        pagination: true,
        paginationPageSize: 100,
        paginationAutoPageSize: true,
        cacheOverflowSize: 2,
        rowModelType: 'infinite',
        maxConcurrentDatasourceRequests: 2,
        infiniteInitialRowCount: 1,
        maxBlocksInCache: 2,
        autoHeight: true,
        autoSizeColumns: true,
        sideBar: true,
        statusBar: false,
        enableRangeSelection: true,
        cellStyle: function () {
          return {
            'white-space': 'normal !important',
            'text-align': 'left',
          }
        },
      },
      components: {
        LinkCellRenderer,
        loadingCellRenderer: (params) => {
          if (params.value !== undefined) {
            return params.value
          } else {
            return `<img src="require('@/assets/loading.gif'">`
          }
        },
      },
      getRowNodeId: (item) => {
        return item.id
      },
      getRowHeight(params) {
        if (!params || !params.data) return

        let rowHeight = 26
        let maxValue = ''
        for ({ key, value } in params.data) {
          if (
            isValidString(value) &&
            value.trim().length > maxValue.trim().length
          ) {
            maxValue = value
          }
        }

        rowHeight = (rowHeight * maxValue * 8) / MAX_COL_WIDTH

        return rowHeight
      },
    }
  },
  computed: {
    columnDefs() {
      const columnDefs = cloneDeep(this.colDefs || [])
      for (const [field, attrs] of Object.entries(this.columnAttrs)) {
        let colDef = findColDef(columnDefs, field)
        if (colDef) {
          colDef = Object.assign(colDef, attrs)
        }
      }
      return appendCellRenders(columnDefs)
    },
    columnMenuList() {
      return (
        (this.toolbarOptions.menuList &&
          this.toolbarOptions.menuList(this.columnDefs)) ||
        this.columnDefs
      )
    },
  },
  watch: {
    externalFilter: {
      deep: true,
      handler: 'onExternalFilterChanged',
    },
  },
  methods: {
    onRowSelectionChanged() {
      const selectedRows = this.gridApi.getSelectedRows()
      this.$emit('row-selection-changed', selectedRows)
    },
    onColSelectionChanged(field, isVisible) {
      this.setColumnVisible(field, isVisible)
      const selectedCols = this.gridColumnApi
        .getAllDisplayedColumns()
        .map((col) => {
          return col['colId'].split('_')[0]
        })
      this.$emit('col-selection-changed', selectedCols)
    },
    isExternalFilterPresent() {
      return (
        typeof this.externalFilter !== 'undefined' &&
        this.externalFilter['present']
      )
    },
    setColumnVisible(field, isVisible) {
      const clonedAllColDefs = cloneDeep(this.columnDefs)
      const displayedColDefs = this.gridColumnApi
        .getAllDisplayedColumns()
        .map((item) =>
          findColDef(clonedAllColDefs, item['colId'].split('_')[0])
        )
      if (isVisible) {
        const colItemIndex = findIndex(
          clonedAllColDefs,
          (item) => item['field'] === field
        )
        if (colItemIndex > -1)
          displayedColDefs.splice(
            colItemIndex,
            0,
            findColDef(clonedAllColDefs, field)
          )
        else displayedColDefs.push({ field, headerName: field })
      } else {
        displayedColDefs.splice(
          findIndex(displayedColDefs, (item) => item['field'] === field),
          1
        )
      }
      this.gridOptions.api.setColumnDefs(displayedColDefs)
    },
    // call api.onFilterChanged() to tell the grid, if the external filter changes
    onExternalFilterChanged() {
      this.gridApi.onFilterChanged()
    },
    // doesExternalFilterPass() will be called for each row node if isExternalFilterPresent returns true
    doesExternalFilterPass(node) {
      return this.externalFilter.compare(node)
    },
    onGridReady(params) {
      this.$emit('on-grid-ready', params)
    },
  },
  beforeMount() {
    this.gridOptions = this.getGridOptions(
      Object.assign(this.defaultOptions, this.options)
    )
    this.gridOptions.paginationAutoPageSize = true
  },
}
</script>

<style lang="scss" scoped>
@import '~ag-grid-enterprise/dist/styles/ag-grid.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-balham.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-alpine.css';

// Apply when the checkbox selection is enabled
.ag-theme-material .ag-icon-checkbox-checked {
  color: #009688;
}

// Apply when the checkbox selection is not enabled
.ag-theme-material .ag-row-selected {
  background-color: #c5cae9;
}
</style>
