<template>
  <div>
    <base-loader :loading="loading" />
    <base-render-card
      :title="title"
      :prepend-icon="'mdi-table'"
    >
      <template v-slot:body.prepend>
        <slot name="body.prepend">
          <ag-table-toolbar
            class="px-2"
            :searchable="false"
            :menuList="columnDefs"
            :gridOptions="gridOptions"
            :datasetName="datasetName"
            @col-selection-changed="setColumnVisible"
          >
            <template v-slot:toolbar.before.start>
              <slot name="toolbar.before.start" />
            </template>
          </ag-table-toolbar>
        </slot>
      </template>
      <template v-slot:default>
        <div class="text-left">
          <ag-grid-vue
            v-if="!loading"
            class="ag-theme-balham"
            :gridOptions="gridOptions"
            :columnDefs="formattedColDefs"
            :rowData="rowData"
            :components="components"
            style="width: 100%; height: 700px;"
            @filter-changed="onFilterChanged"
            @viewportChanged="onViewportChanged"
            @selection-changed="onSelectionChanged"
            @pagination-changed="onPaginationChanged"
            @first-data-rendered="onFirstDataRendered"
          />
        </div>
      </template>
    </base-render-card>
  </div>
</template>

<script>
import agMixin from '@/mixins/agMixin'
import { union, has, isEmpty } from 'lodash'
import BaseLoader from '@/components/general/BaseLoader'
import BaseRenderCard from '@/components/general/BaseRenderCard'
import AgTableToolbar from '@/components/general/tables/controls/AgTableToolbar'
import LinkCellRenderer from '@/components/general/tables/cell-renderers/LinkCellRenderer'
import RankCellRenderer from '@/components/general/tables/cell-renderers/RankCellRenderer'
import CountryCellRenderer from '@/components/general/tables/cell-renderers/CountryCellRenderer'
import ProgressCellRenderer from '@/components/general/tables/cell-renderers/ProgressCellRenderer'
import ShowMoreCellRenderer from '@/components/general/tables/cell-renderers/ShowMoreCellRenderer'

export default {
  name: 'SearchHighlightTable',
  components: {
    BaseLoader,
    AgTableToolbar,
    BaseRenderCard,
    LinkCellRenderer,
    RankCellRenderer,
    CountryCellRenderer,
    ProgressCellRenderer,
    ShowMoreCellRenderer
  },
  mixins: [agMixin],
  props: {
    title: {
      type: String,
      default: ''
    },
    rowData: {
      type: Array,
      required: true
    },
    columnDefs: {
      type: Array,
      required: true
    },
    datasetName: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    loading: {
      type: Boolean,
      default: false
    },
    selectedRows: {
      type: Object,
      default: function() {
        return {}
      },
      validator: function (value) {
        return isEmpty(value) || (has(value, 'field') && has(value, 'values'))
      }
    }
  },
  data() {
    return {
      components: {
        LinkCellRenderer,
        ShowMoreCellRenderer,
      },
      data: this.copyRowData(this.rowData),
      defaultOptions: {
        width: 350,
        resizable: false,
        pagination: true,
        paginationPageSize: 10,
        autoRowHeight: true,
        floatingFilter: true,
        cellClass: 'cell-wrap-text',
        valueFormatter: this.longTextFormatter,
        cellRendererFramework: 'ShowMoreCellRenderer'
      },
      lastRefreshCells: {},
      maxChar: 200
    }
  },
  computed: {
    formattedColDefs() {
      return this.columnDefs.map(colDef => {
        Object.assign(colDef, { autoHeight: true, filter: 'agTextColumnFilter' })
        return colDef
      })
    }
  },
  beforeMount() {
    this.gridOptions = this.getGridOptions(
      Object.assign(this.defaultOptions, this.options)
    )
  },
  methods: {
    onFirstDataRendered() {
      this.pinFirstVisibleColumn()
      this.setRowsSelected()
    },
    onSelectionChanged() {
      const selectedRows = this.gridApi.getSelectedRows()
      this.$emit('selection-changed', selectedRows)
    },
    // Refreshs all the cells in the columns where currently have filters applied and also the cells in the columns where just have filters cleared
    onFilterChanged(params) {
      this.refreshCells(params)
      this.lastRefreshCells = this.getFilterParams(params)
    },
    onPaginationChanged(params) {
      this.refreshCells(params)
    },
    onViewportChanged(params) {
      this.refreshCells(params)
    },
    refreshCells(params) {
      const { rowNodes, columns } = this.getFilterParams(params)
      const refreshCellsParams = {
        rowNodes,
        columns: union(columns, this.lastRefreshCells.columns),
        force: true
      }
      params.api.refreshCells(refreshCellsParams)
    },
    setRowsSelected() {
      if (isEmpty(this.selectedRows)) return
      const { field, values } = this.selectedRows
      this.gridApi.forEachNode(node => {
        if (values.includes(node.data[field])) {
          node.setSelected(true)
        }
      })
    },
    // Returns the columns where currently have filters applied and all the row nodes in these columns
    getFilterParams(params) { 
      const rowNodes = []
      const filters = params.api.getFilterModel()
      params.api.forEachNode(node => {
        rowNodes.push(node)
      })
      return {
        rowNodes,
        columns: Object.keys(filters)
      }
    },
    longTextFormatter(params) {
      if (typeof params.value !== 'string') {
        return params.value
      }

      let maxChar = params.colDef.autoHeight ? this.maxChar + 30 : this.maxChar
      let formattedValue =
        params.value.length > maxChar
          ? params.value.substring(0, maxChar)
          : params.value

      // avoid last word from being cut off
      formattedValue =
        formattedValue.length === maxChar
          ? formattedValue.substring(
              0,
              Math.min(formattedValue.length, formattedValue.lastIndexOf(' '))
            ) + ' ...'
          : formattedValue
      return formattedValue
    }
  }
}
</script>

<style>
@import '~ag-grid-enterprise/dist/styles/ag-grid.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-balham.css';
@import '~ag-grid-enterprise/dist/styles/ag-theme-alpine.css';

.ag-header-cell-label .ag-header-cell-text {
  text-transform: capitalize;
}
.cell-wrap-text {
  white-space: normal !important;
}
</style>
