<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="600px">
      <template v-slot:activator="{}">
        <v-list-item :key="itemData.key" link @click.stop="dialog = true">
          <v-list-item-icon>
            <v-icon v-text="itemData.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="itemData.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Revel Vuetify Admin</span>
        </v-card-title>
        <v-card-subtitle>
          <span>Version 1.0</span>
        </v-card-subtitle>
        <v-card-text>
          <div>
            Revel Vuetify Admin is a ...................
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import HelpMenuMixin from '@/components/help/mixins/help-menu';

export default {
  name: 'ClientHelpMenuItem',
  mixins: [HelpMenuMixin],
  components: {},
  props: {},
  data() {
    return { dialog: false };
  },
};
</script>

<style scoped></style>
