<template>
  <v-row justify="center">
    <v-list-item link :key="itemData.key" :href="itemData.href" target="_blank">
      <v-list-item-icon>
        <v-icon v-text="itemData.icon"></v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title v-text="itemData.text"></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-row>
</template>

<script>
import HelpMenuMixin from '@/components/help/mixins/help-menu';

export default {
  name: 'HelpMenuItem',
  mixins: [HelpMenuMixin],
  components: {},
  props: {},
  data: function () {
    return {};
  },
};
</script>
