<template>
  <v-menu
    left
    bottom
    offset-y
    open-on-hover
    z-index="100"
    nudge-bottom="5"
    transition="scroll-y-transition"
  >
    <template v-slot:activator="{ on: menu, attrs }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn text small v-on="{ ...tooltip, ...menu }" v-bind="attrs">
            <v-icon small left>{{ menuIcon }}</v-icon>
            {{ menuTitle }}
          </v-btn>
        </template>
        <span>Help</span>
      </v-tooltip>
    </template>
    <v-list shaped dense class="text-center px-5 pt-5">
      <template v-for="(item, i) in items">
        <component :key="i" :is="item.component" :itemData="item"></component>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import HelpMenuItem from '@/components/help/HelpMenuItem';
import HelpMenuItemAboutCi from '@/components/help/HelpMenuItemAboutCi';

export default {
  name: 'HelpMenu',
  components: { HelpMenuItem, HelpMenuItemAboutCi },
  props: {
    menuIcon: {
      type: String,
      default: 'mdi-help',
    },
    menuTitle: {
      type: String,
      default: '',
    },
    items: {
      type: Array,
      default: function() {
        return [
          {
            text: `What's New`,
            icon: 'mdi-new-box',
            href: '',
            key: 'whats-new',
            component: 'HelpMenuItem',
          },
          {
            text: 'User Guide',
            icon: 'mdi-book',
            href: '/public/assets/docs/RVA User Guide.pdf',
            key: 'user-guide',
            component: 'HelpMenuItem',
          },
          {
            text: 'About Revel Vuetify Admin',
            icon: 'mdi-information-variant',
            href: '/',
            key: 'about-rva',
            component: 'HelpMenuItemAboutCi',
          },
        ];
      },
    },
  },
  data: function() {
    return {};
  },
};
</script>
