<template>
  <v-menu v-bind="menuProps">
    <template v-slot:activator="{ on }">
      <v-btn
        text
        class="text-capitalize"
        :class="activator.class"
        v-on="on"
      >
        {{ activator.title }}
        <v-icon right>
          {{ activator.appendIcon || 'mdi-chevron-down' }}
        </v-icon>
      </v-btn>
    </template>
    <v-list
      nav
      dense
    >
      <v-subheader
        v-if="menu.title"
        class="black--text menu-header mb-2"
      >
        {{ menu.title }}
      </v-subheader>
      <v-list-item-group color="primary">
        <template v-for="(item, i) of menu.items">
          <v-list-item
            :key="i"
            :to="item.location"
            @click="$emit('menu-item-click', $event)"
          >
            <v-list-item-icon v-if="item.icon">
              <v-icon v-text="item.icon" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
import { isEmpty } from 'lodash'

export default {
  name: 'BaseDropdownMenu',
  props: {
    /**
     * activator: {
     *  title: 'must',
     *  appendIcon: 'optional',
     *  class: 'string of classes apply to the activate button'
     * }
     */
    activator: {
      type: Object,
      required: true,
      validator: function(val) {
        return val && val.title
      }
    },
    /**
     * menu: [
     *  {
     *    title: 'must',
     *    icon: 'optional'
     *    location: 'must', // eg: { name: 'name of route' }
     *  }
     * ]
     */
    menu: {
      type: Object,
      required: true,
      validator: function(val) {
        return !(
          !val ||
          isEmpty(val.items) ||
          val.items.some((item) => !item.title)
        )
      }
    },
    customMenuProps: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  computed: {
    menuProps() {
      return Object.assign(
        {
          bottom: true,
          offsetY: true,
          openOnHover: true,
          transition: 'slide-y-transition'
        },
        this.customMenuProps
      )
    }
  }
}
</script>

<style scoped>
.menu-header {
  font-size: 0.875rem;
  font-weight: 600;
}
</style>