<template>
  <v-navigation-drawer
    v-model="drawer"
    width="100%"
    :fixed="fixed"
    :absolute="absolute"
    :floating="floating"
    :permanent="permanent"
    :mini-variant.sync="mini"
    :mini-variant-width="0"
    hide-overlay
    color="transparent"
    @transitionend="onTransitionEnd"
  >
    <!--The reason is loading progress cannot shown when set color to transparent-->
    <div style="width: 100%; height: 0px;">
      <v-progress-linear
        :active="loading"
        :indeterminate="true"
        style="width: calc(100% - 44px);"
        class="ml-6"
        absolute
      />
    </div>
    <v-card
      v-show="!mini"
      tile
      flat
      color="transparent"
      :disabled="loading"
    >
      <alert
        :alert="alert"
        class="mx-1"
        @close="$emit('close-alert')"
      />
      <v-form
        ref="form"
        :key="formKey"
      >
        <v-list
          v-if="formVisible"
          dense
          class="py-0 ml-n2"
        >
          <v-divider class="mr-4 ml-6 mb-3" />
          <slot name="vertical.filter.menu.before" />
          <div
            v-for="(filterItem, index) of formFilters"
            v-show="paramVisible(filterItem)"
            :key="filterItem.category"
          >
            <div
              v-if="isGroup(filterItem)"
              :class="index > 0 ? 'mt-2' : ''"
            >
              <v-list-group
                :key="filterItem.category"
                color="primary"
                :append-icon="filterItem.appendIcon"
                :prepend-icon="filterItem.prependIcon"
                :value="filterItem.expand"
                no-action
                sub-group
              >
                <template #activator>
                  <v-list-item-content>
                    <v-list-item-title
                      class="font-weight-bold"
                      v-text="filterItem.category"
                    />
                  </v-list-item-content>
                </template>

                <v-list-item
                  v-for="(field, index) of filterItem.params"
                  v-show="paramVisible(field)"
                  :key="field.name + index"
                  class="pl-6"
                >
                  <v-list-item-content>
                    <component
                      :is="field.type"
                      :field="field"
                      @click="$emit('click', field, $event)"
                      @input="$emit('input', field, $event)"
                      @item-changed="$emit('item-changed', field, $event)"
                    />
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
            </div>
            <div v-else>
              <v-list-item
                :key="filterItem.name"
                class="pl-6 pr-4"
              >
                <v-list-item-content>
                  <component
                    :is="filterItem.type"
                    :field="filterItem"
                    @click="$emit('click', filterItem, $event)"
                    @input="$emit('input', filterItem, $event)"
                    @item-changed="$emit('item-changed', filterItem, $event)"
                  />
                </v-list-item-content>
              </v-list-item>
            </div>
          </div>
          <slot name="vertical.filter.menu.after" />
        </v-list>
      </v-form>
    </v-card>

    <v-divider class="mr-4 ml-6" />
    
    <v-toolbar
      v-show="!mini"
      flat
      color="transparent"
    >
      <slot name="vertical.filter.menu.actions.start" />
      <v-spacer />
      <slot name="vertical.filter.menu.actions.before.default" />
      <v-btn
        small
        depressed
        color="indigo lighten-5"
        class="primary--text mx-2"
        @click="onResetFormClicked"
      >
        Clear filters
      </v-btn>
      <v-btn
        small
        depressed
        color="primary"
        :disabled="!clickable"
        @click="onSubmitClicked"
      >
        Submit
      </v-btn>
      <slot name="vertical.filter.menu.actions.after.default" />
    </v-toolbar>
    <template #append>
      <slot name="vertical.filter.menu.append" />
    </template>
    <template #prepend>
      <slot name="vertical.filter.menu.prepend" />
    </template>
  </v-navigation-drawer>
</template>

<script>
import { has } from 'lodash'
import { mapGetters } from 'vuex'
import { isValidString } from '@/utils'
import Alert from '@/components/general/notifs/Alert'
import { RVA_EVENT_TYPES } from '@/utils/constants'
import Checkbox from '@/components/general/form/fields/Checkbox'
import TextInput from '@/components/general/form/fields/TextInput'
import FileInput from '@/components/general/form/fields/FileInput'
import MultiInput from '@/components/general/form/fields/MultiInput'
import RadioGroup from '@/components/general/form/fields/RadioGroup'
import MultiSelect from '@/components/general/form/fields/MultiSelect'
import FileUploader from '@/components/general/form/fields/FileUploader'
import SingleSelect from '@/components/general/form/fields/SingleSelect'
import DateRangeCombo from '@/components/general/form/fields/DateRangeCombo'
import NumberRangeCombo from '@/components/general/form/fields/NumberRangeCombo'
import MultiSelectCombo from '@/components/general/form/fields/MultiSelectCombo'
import TaggedMultiSelect from '@/components/general/form/fields/TaggedMultiSelect'
import SaveSearchForm from '@/components/saved-searches/SaveSearchForm'
import WeightsDistribution from '@/components/general/form/fields/WeightsDistribution'

export default {
  name: 'BaseVerticalFilterMenu',
  components: {
    Alert,
    Checkbox,
    TextInput,
    FileInput,
    MultiInput,
    RadioGroup,
    MultiSelect,
    SingleSelect,
    FileUploader,
    SaveSearchForm,
    DateRangeCombo,
    MultiSelectCombo,
    NumberRangeCombo,
    TaggedMultiSelect,
    WeightsDistribution,
  },
  mixins: [],
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
    absolute: {
      type: Boolean,
      default: false,
    },
    permanent: {
      type: Boolean,
      default: false,
    },
    floating: {
      type: Boolean,
      default: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    alert: {
      type: Object,
      default: () => null,
    },
    drawer: {
      type: Boolean,
      default: true,
    },
    formFilters: {
      type: Array,
      required: true,
    },
    // used to force rerender the form elements, change it if needed
    formKey: {
      type: String,
      required: true,
      default: '',
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters('user', ['userId']),
    mini() {
      return !this.drawer
    },
    clickable() {
      return !this.alert && !this.loading && isValidString(this.userId)
    },
    formVisible() {
      return Array.isArray(this.formFilters) && this.formFilters.length > 0
    },
    paramVisible() {
      return (field) =>
        (has(field, 'visible') && field.visible === true) ||
        !has(field, 'visible')
    },
  },
  mounted() {},
  methods: {
    isGroup(filterItem) {
      return filterItem && Array.isArray(filterItem['params'])
    },
    onResetFormClicked() {
      if (this.$refs['form']) this.$refs['form'].reset()
      this.$emit('reset')
    },
    onSubmitClicked() {
      if (this.$refs['form'] && this.$refs.form.validate()) {
        this.$emit('submit')
      } else {
        console.warn('Please provide valid parameters.')
      }
    },
    onTransitionEnd() {
      this.bus.$emit(RVA_EVENT_TYPES.RENDER_CONTAINER_SIZE_CHANGED)
    },
  },
}
</script>

<style scoped></style>