<template>
  <v-navigation-drawer
    right
    fixed
    clipped
    floating
    permanent
    :width="width"
    color="transparent"
    style="height: 100vh; z-index: 0"
  >
    <template v-slot:prepend>
      <v-subheader class="menu-header">
        {{ title }}
      </v-subheader>
    </template>
    <scrollactive
      active-class="v-list-item--active"
      @itemchanged="onActiveItemChanged"
    >
      <v-treeview
        dense
        open-all
        activatable
        :hoverable="false"
        color="transparent"
        :items="items"
        :item-key="itemKey"
        :item-text="itemText"
        :active.sync="active"
        :expand-icon="expandIcon"
      >
        <template v-slot:label="{ item, active }">
          <v-list-item
            dense
            class="scrollactive-item"
            :to="item.name | formatId | formatHashLink"
          >
            <v-list-item-content>
              <v-list-item-title
                :class="{ 'font-weight-black' : active }"
              >
                {{ item.name }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-treeview>
    </scrollactive>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'BaseContentMenu',
  props: {
    width: {
      type: [String, Number],
      default: 300
    },
    title: {
      type: String,
      default: 'Contents'
    },
    items: {
      type: Array,
      required: true
    },
    itemKey: {
      type: String,
      default: 'name'
    },
    itemText: {
      type: String,
      default: 'name'
    },
    expandIcon: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      active: []
    }
  },
  methods: {
    onActiveItemChanged(_, item) {
      if (!item) {
        this.active = []
        return
      }
      this.active = [item.innerText]
    }
  }
}
</script>

<style scoped>
.menu-header {
  font-weight: 700;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}
.v-list-item--active {
  border-left-color: #3f51b5 !important;
}
.v-list-item--active:hover::before, 
.v-list-item--active::before {
  opacity: 0 !important;
}
.scrollactive-item {
  border-left: 2px solid #e5e5e5;
}
.v-treeview-node--active:hover::before,
.v-treeview-node--active::before {
  opacity: 0 !important;
  background-color: transparent !important
}
</style>
