<template>
  <v-menu
    v-model="menu"
    bottom
    max-height="400"
    nudge-bottom="30"
    :close-on-content-click="false"
    transition="slide-y-transition"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        outlined
        color="primary"
        :x-small="xSmall"
        :height="height"
        :small="small"
        :large="large"
        :x-large="xLarge"
        :fab="!showText"
        :disabled="disabled"
        :show-text="showText"
        class="mr-2 text-capitalize"
        v-on="on"
      >
        <div v-if="showText">
          <v-icon
            v-if="prependIcon"
            small
            left
          >
            {{ prependIcon }}
          </v-icon>
          {{ label }}
        </div>
        <div v-else>
          <v-icon
            v-if="prependIcon"
            small
          >
            {{ prependIcon }}
          </v-icon>
        </div>
      </v-btn>
    </template>
    <v-card>
      <div style="padding: 1em 1em 0 1em;">
        <v-text-field
          dense
          clearable
          outlined
          hide-details
          @input="onSearchInputChanged"
          @click:clear="onSearchClearClicked"
        >
          <template v-slot:label>
            <v-icon style="vertical-align: middle;">
              mdi-magnify
            </v-icon>
            Search
          </template>
        </v-text-field>
      </div>
      <v-list>
        <v-list-item>
          <v-checkbox
            v-model="allSelected"
            label="Select All"
            dense
            hide-details
            class="mt-2"
            @click="onSelectAllChanged"
          />
        </v-list-item>
        <v-list-item
          v-for="(item, index) in menuItems"
          :key="`${index}_${item.name}`"
          :style="item.style"
        >
          <v-checkbox
            v-model="item.value"
            :label="item.label"
            dense
            hide-details
            class="mt-2"
            @click="onItemChanged(item)"
          />
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
import find from 'lodash/find'

export default {
  name: 'CheckboxMenu',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      required: true,
    },
    label: {
      type: String,
      default: 'menu',
    },
    prependIcon: {
      type: String,
      default: '',
    },
    height: {
      type: Number,
    },
    xSmall: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: true,
    },
    large: {
      type: Boolean,
      default: false,
    },
    xLarge: {
      type: Boolean,
      default: false,
    },
    showText: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      menu: false,
      allSelected: false,
    }
  },
  computed: {
    menuItems() {
      const items = this.items.map((item) => {
        if (item) {
          if (item.style === undefined) {
            return { ...item, style: `` }
          } else if (item.style) {
            return item
          }
        }
      })
      return items
    },
  },
  watch: {
    menuItems: {
      deep: true,
      handler: function () {
        this.allSelected = this.calcAllSelected()
      },
    },
  },
  mounted() {
    this.allSelected = this.calcAllSelected()
  },
  methods: {
    onSelectAllChanged() {
      this.menuItems.forEach((entry) => {
        if (entry && entry.name) {
          entry.value = this.allSelected
          this.$emit('input', entry.name, this.allSelected, this.menuItems)
        }
      })
      this.$forceUpdate()
    },
    onItemChanged(item) {
      if (!item || !item.name) return
      this.$emit('input', item.name, item.value, this.menuItems)
      this.allSelected = this.calcAllSelected()
    },
    calcAllSelected() {
      const nonSelected = find(this.menuItems, { value: false })
      return !nonSelected
    },
    onSearchInputChanged(value) {
      if (!value || typeof value !== 'string') return
      if (value.trim().length === 0) {
        this.menuItems.forEach((item) => {
          item.style = ``
          return item
        })
        this.$forceUpdate()
        return
      }

      this.menuItems.forEach((item) => {
        if (
          item &&
          item.name &&
          typeof item.name === 'string' &&
          item.name.trim().toLowerCase().indexOf(value.trim().toLowerCase()) >=
            0
        ) {
          item.style = ``
        } else {
          item.style = `display: none;`
        }
        return item
      })

      this.$forceUpdate()
    },
    onSearchClearClicked() {
      this.menuItems.forEach((item) => {
        item.style = ``
        return item
      })
      this.$forceUpdate()
    },
  },
}
</script>
