<template>
  <div>
    <slot name="activator">
      <v-btn
        text
        color="primary"
        :class="activator.class || 'mx-1'"
        @click="show = !show"
      >
        <v-icon 
          v-if="activator.prependIcon"
          left
          small
        >
          {{ activator.prependIcon }}
        </v-icon>
        {{ activator.title }}
        <v-icon right>
          {{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
        </v-icon>
      </v-btn>
    </slot>

    <v-expand-transition>
      <v-card
        flat
        v-show="show"
        class="px-2 pb-4"
        color="transparent"
        :disabled="disabled"
      >
        <slot name="menu" />
        <v-card-actions class="pt-0 px-3">
          <slot name="actions" />
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </div>
</template>

<script>
export default {
  name: 'ExpansionMenu',
  props: {
    expand: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * activator: {
     *  title: 'required',
     *  prependIcon: 'optional',
     *  class: 'optional'
     * }
     */
    activator: {
      type: Object,
      required: true,
      validator: function(val) {
        return val && val.title
      }
    }
  },
  data() {
    return {
      show: this.expand
    }
  }
}
</script>
