<template>
  <expansion-menu
    :expand="expand"
    :disabled="disabled"
    :activator="{
      title: 'filters',
      prependIcon: 'mdi-filter-variant',
      class: 'mx-1 text-capitalize font-weight-bold'
    }"
  >
    <template v-slot:menu>
      <slot name="filter-menu.prepend" />
      <slot name="filter-menu">
        <form-generator
          :form-fields="filters"
          @click="onFieldClick"
          @input="onFieldChange"
        >
          <template v-slot:form-generator.append>
            <slot name="filter-menu.form.append" />
          </template>
        </form-generator>
      </slot>
      <slot name="filter-menu.append" />
    </template>
    <template v-slot:actions>
      <slot name="actions">
        <v-row 
          no-gutters 
          :class="hideDetails ? 'mt-4' : ''"
        >
          <v-btn
            v-if="submitBtn"
            small
            depressed
            color="primary"
            class="mr-2 text-capitalize"
            @click="$emit('submit')"
          >
            {{ submitBtnText }}
          </v-btn>
          <v-btn
            v-if="clearBtn"
            small
            outlined
            color="primary"
            class="text-capitalize"
            @click="$emit('reset')"
          >
            {{ clearBtnText }}
          </v-btn>
        </v-row>
      </slot>
    </template>
  </expansion-menu>
</template>

<script>
import FormGenerator from '@/components/general/form/FormGenerator'
import ExpansionMenu from '@/components/general/menus/ExpansionMenu'

export default {
  name: 'FilterMenu',
  components: {
    ExpansionMenu,
    FormGenerator
  },
  props: {
    filters: {
      type: Array,
      default: function () {
        return []
      }
    },
    expand: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    hideDetails: {
      type: Boolean,
      default: false
    },
    submitBtn: {
      type: Boolean,
      default: true
    },
    clearBtn: {
      type: Boolean,
      default: true
    },
    submitBtnText: {
      type: String,
      default: 'apply filters'
    },
    clearBtnText: {
      type: String,
      default: 'clear'
    },
    submitBtnDisabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onFieldClick(name) {
      this.$emit('click', name)
    },
    onFieldChange(name, value) {
      this.$emit('input', name, value)
    }
  }
}
</script>
