<template>
  <div class="rva-gg-line-chart">
    <p v-if="title" class="title my-0">
      {{ title }}
    </p>
    <p v-if="explanations" class="explanations my-0">
      {{ explanations }}
    </p>
    <GChart
      type="LineChart"
      :data="data"
      :settings="chartSettings"
      :options="chartOptions"
      :events="chartEvents"
    ></GChart>
    <div class="text-item-block" v-if="pointDetails.length">
      <div
        v-for="(rowItem, rowItemIndex) in pointDetails"
        :key="`point_detail_${rowItemIndex}`"
        :class="`text-item-line ${
          rowItemIndex === rowItem.length - 1 ? 'mb-2' : ''
        }`"
      >
        <div
          v-for="(textItem, textItemIndex) in rowItem"
          :key="`${textItem.label}_${textItemIndex}`"
        >
          <div v-if="textItem.type === 'list'" class="text-item-list">
            <div class="list-label">{{ textItem.label }}:</div>
            <ul class="list-value">
              <li
                v-for="(value, index) in textItem.value"
                :key="`${textItemIndex}_${index}`"
                class="value"
              >
                {{ value }}
              </li>
            </ul>
          </div>
          <div
            v-else-if="textItem.type === 'category'"
            class="text-left font-weight-bold mt-2"
          >
            <div class="text-h6 primary--text">{{ textItem.label }}:</div>
            <div class="subtitle-1 primary--text">
              {{ textItem.value }}
            </div>
          </div>
          <div v-else class="normal-text-item">
            <div class="label">{{ textItem.label }}:</div>
            <div class="value">
              {{ textItem.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { isEmptyArray } from '@/utils'
import { GChart } from 'vue-google-charts'

export default {
  name: 'BaseGgLineChart',
  components: {
    GChart,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    explanations: {
      type: String,
      default: '',
    },
    data: {
      type: Array,
      default() {
        return []
      },
    },
    pointDetailKeys: {
      type: Array,
      default() {
        return []
      },
    },
    rawData: {
      type: Object,
    },
    options: {
      type: Object,
      default() {
        return {}
      },
    },
    settings: {
      type: Object,
      default() {
        return {}
      },
    },
    events: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      pointDetails: [],
      defaultOptions: {
        pointSize: 5,
      },
      defaultSettings: { packages: ['corechart', 'table', 'line'] },
    }
  },
  watch: {
    data: {
      deep: true,
      immediate: true,
      handler: function () {
        this.pointDetails = []
      },
    },
  },
  computed: {
    chartOptions() {
      return {
        ...this.defaultOptions,
        ...this.options,
      }
    },
    chartSettings() {
      return {
        ...this.defaultSettings,
        ...this.settings,
      }
    },
    chartEvents() {
      return {
        click: this.onDataPointClicked.bind(this),
        ...this.events,
      }
    },
  },
  created() {},
  mounted() {},
  methods: {
    onDataPointClicked(datum) {
      if (
        datum &&
        this.rawData &&
        !isEmptyArray(this.data) &&
        !isEmptyArray(this.pointDetailKeys) &&
        typeof datum['targetID'] === 'string' &&
        this.data.length > 1 // the first element is the line definition
      ) {
        const tempArr = datum['targetID'].trim().split('#')
        if (tempArr.length > 2) {
          const dataPoint = this.data[Number(tempArr[2]) + 1]
          if (Array.isArray(dataPoint) && dataPoint.length > 0) {
            const dataPointKey = dataPoint[0]
            const rawPointData = this.rawData[dataPointKey]
            if (!isEmptyArray(rawPointData)) {
              this.pointDetails = rawPointData.map((rawPointItem) => {
                const tempData = this.pointDetailKeys.map((item) => {
                  const textItem = {
                    label: item['label'],
                    value: rawPointItem[item['key']],
                  }
                  return textItem
                })
                return tempData
              })
            }
          }
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.text-item-block {
  width: 100%;
  .text-item-line {
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: #d3d6d9 1px solid;
    border-radius: 4px;
    overflow-y: scroll;
    max-height: 1000px;
    margin-bottom: 1em;
    .normal-text-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      .label {
        font-weight: bold;
        margin-right: 3px;
        min-width: 100px;
        // width: auto;
        color: #000;
      }
      .value {
        color: #666;
      }
    }
    .text-item-list {
      text-align: left;

      .list-label {
        font-weight: bold;
        width: 100px;
        color: #000;
      }
      .list-value {
        width: 100%;

        .value {
          color: #666;
        }
      }
    }
  }
}
.rva-gg-line-chart .title {
  font-size: 16px !important;
  font-weight: bold;
  color: #000;
}
.rva-gg-line-chart .explanations {
  font-size: 12px !important;
  font-weight: normal;
  color: #97969b;
}
</style>
