<template>
  <div
    class="rva-d3-map-tooltip overflow-y-auto"
    :style="`max-height: ${maxHeight}px`"
  >
    <slot name="prepend"></slot>
    <div v-if="!textsVisible" class="default-text">
      Click a country or site to view more details
    </div>
    <div v-else class="text-item-block">
      <div
        v-for="(textItem, textItemIndex) in texts"
        :key="`${textItem.label}_${textItemIndex}`"
        class="text-item-line"
      >
        <div v-if="textItem.type === 'list'" class="text-item-list">
          <div class="list-label">{{ textItem.label }}:</div>
          <ul class="list-value">
            <li
              v-for="(value, index) in textItem.value"
              :key="`${textItemIndex}_${index}`"
              class="value"
            >
              {{ value }}
            </li>
          </ul>
        </div>
        <div
          v-else-if="textItem.type === 'category'"
          :class="`text-left font-weight-bold ${textItemIndex > 0 ? 'mt-2' : ''}`"
        >
          <div v-if="textItem.label" class="text-h6 primary--text">
            {{ textItem.label }}:
          </div>
          <div v-if="textItem.value" class="subtitle-1 primary--text">
            {{ textItem.value }}
          </div>
        </div>
        <div v-else class="normal-text-item">
          <div v-if="textItem.label" class="label">{{ textItem.label }}:</div>
          <div v-if="textItem.value" class="value">
            {{ textItem.value }}
          </div>
        </div>
      </div>
    </div>
    <slot name="charts.before"></slot>
    <div v-if="chartsVisible" class="mt-2">
      <div v-for="(chartItem, index) of charts" :key="`chart_${index}`">
        <component
          style="width: 100%;"
          v-bind="chartItem"
          :is="components[chartItem.type]"
          v-if="chartItem.type && chartItem.data && chartItem.data.length"
        >
        </component>
      </div>
    </div>
    <slot name="append"></slot>
  </div>
</template>

<script>
import { filter, has } from 'lodash'
import { RVA_D3_TT_CHART_TYPES } from '@/utils/constants'
import BaseD3LineChart from '@/components/general/map/d3/BaseD3LineChart'
import BaseGgLineChart from '@/components/general/map/d3/BaseGgLineChart'

export default {
  name: 'BaseD3MapTooltip',
  components: {
    BaseGgLineChart,
    BaseD3LineChart,
  },
  props: {
    maxHeight: {
      type: Number,
      default: 1000,
    },
    texts: {
      type: Array,
      default() {
        return []
      },
    },
    charts: {
      type: Array,
      default() {
        return []
      },
      validator: function (value) {
        if (!value) return true
        return (
          value.length === 0 ||
          filter(value, (item) => {
            return has(item, 'data') && has(item, 'type')
          }).length === value.length
        )
      },
    },
  },
  data() {
    return {
      components: {
        [RVA_D3_TT_CHART_TYPES.D3_LINE_CHART]: 'BaseD3LineChart',
        [RVA_D3_TT_CHART_TYPES.GG_LINE_CHART]: 'BaseGgLineChart',
      },
    }
  },
  computed: {
    textsVisible() {
      return Array.isArray(this.texts) && this.texts.length > 0
    },
    chartsVisible() {
      return Array.isArray(this.charts) && this.charts.length > 0
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.rva-d3-map-tooltip {
  width: 350px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.default-text {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
}
.text-item-block {
  .text-item-line {
    .normal-text-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      .label {
        font-weight: bold;
        margin-right: 3px;
        min-width: 100px;
        // width: auto;
        color: #000;
      }
      .value {
        color: #666;
      }
    }
    .text-item-list {
      text-align: left;

      .list-label {
        font-weight: bold;
        width: 100px;
        color: #000;
      }
      .list-value {
        width: 100%;

        .value {
          color: #666;
        }
      }
    }
  }
}
</style>
