<template>
  <div v-if="mapData && geoData" style="width: 100%;">
    <base-render-card
      :title="title"
      :alert="alert"
      :loading="loading"
      :prepend-icon="prependIcon"
      :custom-options="cardOptions"
      :text-options="cardTextOptions"
    >
      <template v-slot:default>
        <component
          :geo-data="geoData"
          :map-data="mapData"
          :is="components[componentName]"
          @map-clicked="$emit('map-clicked', $event)"
        >
        </component>
      </template>
    </base-render-card>
  </div>
</template>

<script>
import { parseJSON } from '@/utils'
import BaseRenderCard from '@/components/general/BaseRenderCard'
import VaccineMap from '@/components/covid-dashboard/us-map/us-covid-vaccine/VaccineMap'
import CovidCasesMap from '@/components/covid-dashboard/us-map/us-covid-cases/CovidCasesMap'
import SiteDistributionD3Map from '@/components/site-performance/search-sites/SiteDistributionD3Map'

export default {
  name: 'BaseD3Map',
  components: {
    VaccineMap,
    CovidCasesMap,
    BaseRenderCard,
    SiteDistributionD3Map,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    componentName: {
      type: String,
      required: true,
    },
    data: {
      type: String,
      default: '',
    },
    geoDataGetter: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    prependIcon: {
      type: String,
      default: 'mdi-earth',
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    cardTextOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  data() {
    return {
      alert: null,
      components: {
        VaccineMap,
        CovidCasesMap,
        SiteDistributionD3Map,
      },
    }
  },
  computed: {
    geoData() {
      return this.$store.getters[this.geoDataGetter]
    },
    mapData() {
      const data = parseJSON(this.data)
      if (!data) {
        this.alert = {
          type: 'error',
          message: 'Invalid data.',
        }
      }
      return data
    },
  },
  methods: {},
}
</script>
