<template>
  <router-link
    :to="route"
    :target="target"
  >
    {{ value }}
  </router-link>
</template>

<script>
export default {
  name: 'LinkCellRenderer',
  data() {
    return {
      value: '',
      route: '',
      target: '_self'
    }
  },
  mounted() {
    this.value = this.params.value
    this.route = this.params.route
    if (typeof this.params.target !== 'undefined') {
      this.target = this.params.target
    }
  }
}
</script>
