<template>
  <div v-if="items">
    <ul>
      <li
        v-for="({ text, link }, index) of items"
        :key="index"
      >
        <router-link
          :to="link"
          target="_blank"
        >{{ text }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MultiLinkCellRenderer',
  data() {
    return {
      items: null
    }
  },
  created() {
    this.items = this.params.valueFormatted
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
}
ul li:not(:last-child):after {
  content: ',';
}
ul > li:not(:first-child) {
  padding-left: 0.25rem;
}
</style>