<template>
  <div class="text-wrapper">
    {{ content }}
  </div>
</template>

<script>
export default {
  name: 'MultiParagraphCellRenderer',
  data() {
    return {
      content: ''
    }
  },
  methods: {
    formatData() {
      this.content = this.params.value || 'N/A'
    }
  },
  created() {
    this.formatData()
  }
}
</script>

<style scoped>
.text-wrapper {
  white-space: pre-line;
  text-align: justify;
}
</style>