<template>
  <base-dropdown-menu
    :menu="menu"
    :activator="{ 
      title: $t('navHeader.explore'),
      class: 'ml-6' 
    }"
  />
</template>

<script>
import { getMenuFromRoutes } from '@/utils/route'
import { EXPLORE_MENU } from '@/components/general/nav-header/config'
import BaseDropdownMenu from '@/components/general/menus/BaseDropdownMenu'

export default {
  name:  'ExploreMenu',
  components: {
    BaseDropdownMenu
  },
  data() {
    return {
      menu: {
        title: 'Explore Revel Vuetify Admin'
      }
    }
  },
  created() {
    this.menu = {
      ...this.menu,
      items: getMenuFromRoutes(EXPLORE_MENU)
    }
  }
}
</script>
