<template>
  <v-app-bar v-bind="navbarProps">
    <v-img
      contain
      class="mr-4"
      alt="kck"
      max-width="32"
      max-height="32"
      :src="require('@/assets/logo.png')"
    />
    <v-toolbar-title class="font-weight-bold primary--text">
      <router-link tag="span" class="router-link" :to="{ name: 'home' }">
        Revel Vuetify Admin
      </router-link>
    </v-toolbar-title>

    <explore-menu />

    <v-spacer />

    <base-full-screen class="mr-2" />

    <translate-menu class="mr-2" />

    <v-btn
      v-if="!isSignedIn"
      small
      rounded
      depressed
      color="primary"
      :to="{ name: 'login' }"
      class="text-capitalize ml-3"
    >
      Sign In
    </v-btn>
    <avatar-menu v-else :user="user" @click="signOut" />
  </v-app-bar>
</template>

<script>
import pageMixin from '@/mixins/pageMixin'
import { mapState, mapActions } from 'vuex'
import AvatarMenu from '@/components/general/AvatarMenu'
import BaseFullScreen from '@/components/general/BaseFullScreen'
import ExploreMenu from '@/components/general/nav-header/ExploreMenu'
import TranslateMenu from '@/components/general/nav-header/TranslateMenu'

export default {
  name: 'NavHeader',
  mixins: [pageMixin],
  components: {
    AvatarMenu,
    ExploreMenu,
    TranslateMenu,
    BaseFullScreen,
  },
  props: {
    customNavbarProps: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  data() {
    return {
      isSignedIn: false,
    }
  },
  computed: {
    ...mapState('user', ['user']),
    navbarProps() {
      return Object.assign(
        {
          app: true,
          color: 'transparent',
        },
        this.customNavbarProps
      )
    },
  },
  created() {
    this.checkLogin()
      .then(() => {
        this.isSignedIn = true
      })
      .catch((err) => {
        console.error(err)
      })
  },
  methods: {
    ...mapActions('user', ['checkLogin', 'logout']),
    signOut() {
      this.setLoading()
      this.logout()
        .then(() => {
          // clear all of values in local storage
          localStorage.setItem('vuex', '{}')
          this.$router.go({ path: this.$router.path })
        })
        .finally(this.unsetLoading)
    },
  },
}
</script>