<template>
  <div v-if="locales.length > 1" class="text-center">
    <v-menu open-on-hover rounded="md" bottom offset-y>
      <template v-slot:activator="{ on: menu, attrs }">
        <v-tooltip left>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn
              icon
              dense
              :small="small"
              :color="color"
              v-bind="attrs"
              v-on="{ ...tooltip, ...menu }"
            >
              <v-icon>{{ icon }}</v-icon>
            </v-btn>
          </template>
          <span>Change the language</span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in locales"
          :key="index"
          link
          @click="setLocale(item)"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { locales } from '@/i18n'
import { setLocale } from '@/i18n/vue-i18n/'

export default {
  name: 'TranslateMenu',
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'primary',
    },
    icon: {
      type: String,
      default: 'mdi-translate',
    },
  },
  data() {
    return {
      locales: locales,
    }
  },
  computed: {},
  mounted() {},
  destroyed() {},
  methods: {
    setLocale(item) {
      if (item && item['locale']) {
        this.$vuetify.lang.current = item['locale']
        if (typeof setLocale === 'function') {
          setLocale(item['locale'])
        }
      }
    },
  },
}
</script>

<style scoped></style>
