<template>
  <div>
    <nav-header
      :custom-navbar-props="{
        app: false,
        color: 'white',
        dense: true,
        elevation: 0,
        class: 'px-4 mt-2',
        clippedLeft: true,
        color: 'background',
      }"
    />
    <v-container fluid class="pa-8">
      <v-row align="center" justify="center">
        <v-col cols="12" class="px-8">
          <v-card flat align="center" justify="center">
            <v-card-text>
              <v-row class="mx-1" align="center" justify="center">
                <v-col cols="4">
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                    height="200px"
                  >
                  </v-img>
                </v-col>
                <v-col cols="4">
                  <v-card flat>
                    <v-list class="text-center">
                      <avatar
                        :size="42"
                        :avatar="user.Avatar"
                        :firstname="user['First'] || ''"
                        :lastname="user['Last'] || ''"
                        use-default-avatars="true"
                      />
                      <v-list-item>
                        <!-- to="https://github.com" target="_blank" -->
                        <v-list-item-content>
                          <v-list-item-title>
                            {{ $t('home.sections.hello') }} {{ userName }}
                          </v-list-item-title>
                          <v-list-item-subtitle>
                            {{ $t('home.sections.welcome') }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-col>
                <v-col cols="4">
                  <v-card flat>
                    <v-row align="center" justify="center">
                      <v-col cols="6">
                        <v-list-item>
                          <v-list-item-icon>
                            <v-btn icon>
                              <v-icon color="orange">
                                mdi-apps
                              </v-icon>
                            </v-btn>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ $t('home.sections.traffic') }}
                            </v-list-item-title>
                            <v-list-item-subtitle>
                              31122
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                      <v-col cols="6">
                        <v-list-item>
                          <v-list-item-icon>
                            <v-btn icon>
                              <v-icon color="blue">
                                mdi-account
                              </v-icon>
                            </v-btn>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ $t('home.sections.totalUsers') }}
                            </v-list-item-title>
                            <v-list-item-subtitle>
                              343
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                    </v-row>
                    <v-row align="center" justify="center">
                      <v-col cols="6">
                        <v-list-item>
                          <v-list-item-icon>
                            <v-btn icon>
                              <v-icon color="yellow">
                                mdi-star
                              </v-icon>
                            </v-btn>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ $t('home.sections.favorableRate') }}
                            </v-list-item-title>
                            <v-list-item-subtitle>
                              298
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                      <v-col cols="6">
                        <v-list-item>
                          <v-list-item-icon>
                            <v-btn icon>
                              <v-icon color="primary">
                                mdi-star-outline
                              </v-icon>
                            </v-btn>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ $t('home.sections.negativeRate') }}
                            </v-list-item-title>
                            <v-list-item-subtitle>
                              45
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="12" class="px-8">
          <v-card flat align="center" justify="center">
            <v-card-title class="mx-4">
              {{ $t('home.sections.functions') }}
            </v-card-title>
            <v-card-text>
              <v-row align="center" justify="center">
                <v-col cols="4">
                  <v-list-item to="https://github.com">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="orange" size="64">
                              mdi-account-supervisor
                            </v-icon>
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('home.sections.um') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="4">
                  <v-list-item to="https://github.com">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="amber" size="64">
                              mdi-account-multiple
                            </v-icon>
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('home.sections.rm') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="4">
                  <v-list-item to="https://github.com">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="indigo" size="64">mdi-apps</v-icon>
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('home.sections.mm') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="4">
                  <v-list-item to="/explore/system">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="teal" size="64">mdi-cogs</v-icon>
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('system.title') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="4">
                  <v-list-item to="/explore/about">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="cyan" size="64"
                              >mdi-information-variant</v-icon
                            >
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('about.title') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="4">
                  <v-list-item to="/home">
                    <v-list-item-content>
                      <v-card
                        outlined
                        elevation="3"
                        align="center"
                        justify="center"
                      >
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-icon color="lime" size="64">mdi-home</v-icon>
                          </v-row>
                          <v-row align="center" justify="center">
                            <v-list-item-title>
                              {{ $t('home.title') }}
                            </v-list-item-title>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-if="audioList.length > 0" align="center" justify="center">
        <v-col cols="12" class="px-8">
          <v-card flat align="center" justify="center">
            <v-card-title class="mx-4">
              {{ $t('home.sections.music') }}
            </v-card-title>
            <v-card-text>
              <v-row align="center" justify="center">
                <base-music-player
                  class="ma-6"
                  :audio-list="audioList"
                ></base-music-player>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="12" class="px-8">
          <v-card flat align="center" justify="center">
            <v-card-title class="mx-4">
              {{ $t('home.sections.tutorial') }}
            </v-card-title>
            <v-card-text>
              <v-row align="center" justify="center">
                <video class="ma-6 px-6" width="100%" controls>
                  <source src="public/assets/img/tutorial.mp4" />
                  Your browser does not support the video tag.
                </video>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import pageMixin from '@/mixins/pageMixin'
import Avatar from '@/components/general/Avatar'
import BaseMusicPlayer from '@/components/general/BaseMusicPlayer'
import NavHeader from '@/components/general/nav-header/Index'
import { AUDIO_LIST } from '@/views/home/config'

export default {
  name: 'Index',
  components: {
    Avatar,
    NavHeader,
    BaseMusicPlayer,
  },
  mixins: [pageMixin],
  data() {
    return {
      audioList: AUDIO_LIST || [],
    }
  },
  computed: {
    ...mapState('user', ['user']),
    userName() {
      if (this.user) {
        return `${this.user['First'] || 'undefined'}, ${
          this.user['Last'] || 'undefined'
        }`
      } else {
        return 'User'
      }
    },
  },
}
</script>

<style scoped>
.page-title {
  font-size: 3.5rem;
  line-height: 4.25rem;
}
.page-description {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
}
.card-title {
  font-size: 2rem;
  text-transform: capitalize;
}
.card-subtitle {
  font-size: 1rem;
}
.card-background {
  background-image: url('~@/assets/landing-page/main.png');
  background-position: right bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}
</style>
