<template>
  <div>
    <nav-header
      :custom-navbar-props="{
        color: 'white',
        dense: true,
        class: '',
        clippedLeft: true,
        style: 'box-shadow: 0 1px 5px 0 rgb(41 85 115 / 21%)'
      }"
    />
    <nav-drawer :key="$route.name" />
    <keep-alive>
      <router-view />
    </keep-alive>
  </div>
</template>

<script>
import NavHeader from '@/components/general/nav-header/Index'
import NavDrawer from '@/components/general/nav-drawer/Index'

export default {
  name: 'Index',
  components: {
    NavHeader,
    NavDrawer
  }
}
</script>
