<template>
  <div>
    <particles
      id="tsparticles"
      class="particles-vue"
      :options="particlesOptions"
    >
    </particles>
    <v-row justify="center" align="center" class="login-row">
      <v-col cols="4" class="pa-0">
        <v-card elevation="4" dark class="pa-0">
          <v-app-bar flat tile color="transparent">
            <v-spacer></v-spacer>
            <v-btn
              icon
              class="mr-3 close-btn"
              color="black"
              :to="{ name: 'home' }"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-app-bar>

          <v-row justify="center" style="height: 100%;">
            <base-loader
              :loading="loading"
              :opacity="0"
              :absolute="true"
            ></base-loader>
            <v-col sm="12" md="10" align-self="center">
              <v-form ref="form">
                <v-card flat color="transparent" :disabled="loading">
                  <v-card-title class="justify-center font-weight-bold">
                    Welcome to Revel Vuetify Admin!
                  </v-card-title>
                  <v-card-subtitle class="text-center pb-6">
                    Sign in with your own account
                  </v-card-subtitle>
                  <v-card-text>
                    <alert :alert="alert" class="text-left" />
                    <v-text-field
                      v-model="account"
                      label="Account ID"
                      required
                      outlined
                      color="primary"
                      class="py-3"
                      prepend-icon="mdi-account"
                      :rules="[(v) => !!v || 'Enter your account ID']"
                    />
                    <v-text-field
                      v-model="password"
                      label="Password"
                      type="password"
                      required
                      outlined
                      color="primary"
                      prepend-icon="mdi-lock-question"
                      :rules="[(v) => !!v || 'Enter your password']"
                      @keyup.enter="submit"
                    />
                  </v-card-text>
                  <v-card-actions class="justify-center">
                    <v-btn
                      rounded
                      depressed
                      color="primary"
                      class="text-capitalize"
                      @click.prevent="submit"
                    >
                      <span class="px-6">Sign In</span>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import pageMixin from '@/mixins/pageMixin'
import NavFooter from '@/components/general/NavFooter'
import particlesSnow from '@/utils/particles-snow'

export default {
  name: 'Login',
  mixins: [pageMixin],
  components: {
    NavFooter,
  },
  data() {
    return {
      account: '',
      password: '',
      particlesOptions: particlesSnow,
    }
  },
  methods: {
    ...mapActions('user', ['login']),
    submit() {
      if (this.$refs.form.validate()) {
        this.setLoading()
        const formData = new FormData()
        formData.append('account', this.account)
        formData.append('password', this.password)
        this.login(formData)
          .then(() => {
            this.$router.push({ name: 'home' })
            // this.$router.go({ path: this.$router.path })
          })
          .catch(this.onFailure)
          .finally(() => {
            setTimeout(() => {
              this.unsetLoading()
            }, 2000)
          })
      }
    },
  },
}
</script>

<style scoped>
.particles-vue {
  position: absolute;
  top: 0;
  left: 0;
}
.login-row {
  width: 100% !important;
  height: 100% !important;
}
.close-btn:before {
  background-color: transparent !important;
}
.card-background {
  height: 100vh;
  background-image: url('~@/assets/login.png');
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-repeat: no-repeat;
}
.page-title {
  font-size: 1.375rem;
  letter-spacing: 0.2px;
}
.page-subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.2px;
}
</style>
