<template>
  <page-wrapper spacing="px-1 py-4">
    <v-row align="center" justify="center">
      <v-col cols="12" class="px-8">
        <v-card flat align="center" justify="center">
          <v-app-bar flat tile color="transparent">
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>{{ $t('about.sections.github') }}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon>
              <v-icon>mdi-heart</v-icon>
            </v-btn>

            <v-menu left bottom disabled>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
            </v-menu>
          </v-app-bar>

          <v-divider></v-divider>

          <v-card-text>
            <v-row align="center" justify="center">
              <v-col cols="4">
                <a
                  target="blank"
                  href="https://github.com/kangchengkun/revel-vuetify-admin"
                >
                  <img
                    class="align-center"
                    src="https://img.shields.io/github/watchers/kangchengkun/revel-vuetify-admin.svg?label=Watch"
                    alt=""
                  />
                </a>
              </v-col>
              <v-col cols="4">
                <a
                  target="blank"
                  href="https://github.com/kangchengkun/revel-vuetify-admin"
                >
                  <img
                    class="dom-center"
                    src="https://img.shields.io/github/stars/kangchengkun/revel-vuetify-admin.svg?style=social"
                    alt=""
                  />
                </a>
              </v-col>
              <v-col cols="4">
                <a
                  target="blank"
                  href="https://github.com/kangchengkun/revel-vuetify-admin"
                >
                  <img
                    class="dom-center"
                    src="https://img.shields.io/github/forks/kangchengkun/revel-vuetify-admin.svg?label=Fork"
                    alt=""
                  />
                </a>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" class="px-8">
        <v-card flat align="center" justify="center">
          <v-app-bar flat tile color="transparent">
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>{{
              $t('about.sections.members')
            }}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-menu left bottom disabled>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
            </v-menu>
          </v-app-bar>

          <v-divider></v-divider>

          <v-card-text>
            <v-row align="center" justify="center">
              <v-col cols="4" v-for="(item, index) in members" :key="index">
                <v-card class="mx-auto">
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                    height="200px"
                  ></v-img>

                  <v-card-title>
                    {{ item.login }}
                  </v-card-title>

                  <v-card-subtitle>
                    {{ item.login }}
                  </v-card-subtitle>

                  <v-card-actions>
                    <v-btn color="orange lighten-2" text>
                      More
                    </v-btn>

                    <v-spacer></v-spacer>

                    <v-btn icon @click="show = !show">
                      <v-icon>
                        {{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
                      </v-icon>
                    </v-btn>
                  </v-card-actions>

                  <v-expand-transition>
                    <div v-show="show">
                      <v-divider></v-divider>

                      <v-card-text>
                        {{ item.desc || 'Member self introduction' }}
                      </v-card-text>
                    </div>
                  </v-expand-transition>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" class="px-8">
        <v-card flat align="center" justify="center">
          <v-app-bar flat tile color="transparent">
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>{{
              $t('about.sections.commits')
            }}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-menu left bottom disabled>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
            </v-menu>
          </v-app-bar>

          <v-divider></v-divider>

          <v-card-text>
            <v-row align="center" justify="center">
              <Timeline
                :timeline-items="dataTimeline"
                :message-when-no-items="messageWhenNoItems"
                :unique-timeline="true"
                :unique-year="true"
                :show-day-and-month="true"
                order="desc"
                date-locale="zh-CN"
              />
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="deep-purple accent-4" @click="loadMore">
              {{ $t('about.sections.loadMore') }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </page-wrapper>
</template>

<script>
import Timeline from 'timeline-vuejs'
import pageMixin from '@/mixins/pageMixin'
import { Commits, Members } from '@/api/github'

export default {
  name: 'About',
  mixins: [pageMixin],
  components: {
    Timeline,
  },
  data() {
    return {
      messageWhenNoItems: 'There arent commits',
      members: [],
      dataTimeline: [],
      page: 0,
    }
  },
  created() {
    this.loadCommits()
    this.loadMembers()
  },
  methods: {
    loadMore() {
      this.page++
      this.loadCommits()
    },
    loadCommits() {
      Commits(this.page).then(({ data }) => {
        data.forEach((element) => {
          if (element.commit.message) {
            this.dataTimeline.push({
              from: new Date(element.commit.author.date),
              title: element.commit.author.name,
              showDayAndMonth: true,
              description: `<a style="color: #26191b" href="${element.html_url}">${element.commit.message}</a>`,
            })
          }
        })
      })
    },
    loadMembers() {
      Members().then(({ data }) => {
        this.members = data
        this.members.sort()
      })
    },
  },
}
</script>

<style scoped>
.load-more {
  margin-left: 120px;
}

.avatar-img {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 15px;
}

.org-img {
  height: 150px;
  width: 150px;
}

.author-name {
  float: left;
  line-height: 65px !important;
  margin-left: 10px;
  color: darkblue;
  line-height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dom-center {
  margin-left: 50%;
  transform: translateX(-50%);
}
</style>
