<template>
  <v-row>
    <v-col cols="12">
      <v-boilerplate
        class="px-4"
        v-if="loading"
        type="table-thead, table-row-divider@3, table-tfoot"
      >
      </v-boilerplate>
      <ag-grid-vue 
        v-else
        :gridOptions="gridOptions"
        :columnDefs="columnDefs"
        :rowData="rowData"
        style="width: 100%;"
        class="ag-theme-alpine-custom"
      >
      </ag-grid-vue>
    </v-col>
  </v-row>
</template>

<script>
import agMixin from '@/mixins/agMixin'
import VBoilerplate from '@/components/general/VBoilerplate'

export default {
  name: 'AppTable',
  mixins: [agMixin],
  components: { VBoilerplate },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    rowData: Array,
    columnDefs: Array,
    filter: Boolean,
    sortable: Boolean,
    pagination: {
      type: Boolean,
      default: true
    },
    rowSelection: String,
    checkboxSelection: {
      type: Boolean,
      default: false
    },
    // autoSizeColumns will be applied if set to true
    sizeToFitContent: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onSelectionChanged () {
      const selectedRows = this.gridOptions.api.getSelectedRows()
      this.$emit('selection-changed', selectedRows)
    }
  },
  beforeMount() {
    this.gridOptions = this.getGridOptions({
      filter: this.filter,
      sortable: this.sortable,
      pagination: this.pagination,
      paginationPageSize: 10,
      autoGridHeight: true,
      rowSelection: this.rowSelection,
      autoSizeColumns: this.sizeToFitContent,
      checkboxSelection: this.checkboxSelection,
      suppressRowClickSelection: this.checkboxSelection
    })
    // console.log('AppTable beforeMount: ', this.gridOptions)
  }
}
</script>