<template>
  <v-menu
    left
    bottom
    offset-y
    z-index="1200"
    open-on-hover
    transition="scroll-y-transition"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        fab
        icon
        v-on="on"
      >
        <avatar
          :avatar="user.Avatar"
          :firstname="user.First"
          :lastname="user.Last"
          :use-default-avatar="useDefaultAvatar"
        />
      </v-btn>
    </template>
    <v-card>
      <v-list
        class="text-center px-5 pt-5"
        width="320"
      >
        <avatar
          :size="42"
          :avatar="user.Avatar"
          :firstname="user.First"
          :lastname="user.Last"
          :use-default-avatars="useDefaultAvatar"
        />
        <v-list-item
          three-line
          class="px-0"
        >
          <v-list-item-content class="px-0">
            <v-list-item-title>{{ user.Last }}, welcome to Revel Vuetify Admin</v-list-item-title>
            <v-list-item-subtitle>{{ user.Mail }}</v-list-item-subtitle>
            <v-list-item-subtitle>{{ user.Depart }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider class="mx-4" />
      <v-card-actions>
        <v-row
          align="center"
          justify="center"
        >
          <v-btn
            text
            color="primary"
            @click.prevent="$emit('click')"
          >
            Sign out
          </v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
import Avatar from '@/components/general/Avatar'

export default {
  name: 'AvatarMenu',
  components: { Avatar },
  props: {
    user: {
      type: Object,
      required: true
    },
    useDefaultAvatar: {
      type: Boolean,
      default: false
    }
  }
}
</script>
