<template>
  <div>
    <v-snackbar
      app
      v-model="visible"
      :color="color"
      :top="top"
      :bottom="bottom"
      :centered="centered"
      :multi-line="multiLine"
      :timeout="timeout"
      :vertical="vertical"
      :content-class="contentClass"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn dark text v-bind="attrs" @click="onCloseBtnClicked">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'BaseSnackbar',
  props: {
    text: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'info', // https://vuetifyjs.com/zh-Hans/styles/colors/#material-colors
    },
    top: {
      type: Boolean,
      default: false,
    },
    bottom: {
      type: Boolean,
      default: false,
    },
    centered: {
      type: Boolean,
      default: false,
    },
    multiLine: {
      type: Boolean,
      default: true,
    },
    outlined: {
      type: Boolean,
      default: false,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
    timeout: {
      type: [Number, String],
      default: 5000, // Use -1 to keep open indefinitely
    },
    contentClass: {
      type: String,
      default: '',
    },
  },
  computed: {
    visible() {
      return Boolean(this.text);
    },
  },
  methods: {
    onCloseBtnClicked() {
      this.text = '';
    },
  },
  mounted() {},
  created() {},
  activated() {},
};
</script>
