<template>
  <div style="width: 100%;">
    <span
      :id="title | formatId"
      class="hash-link"
    />
    <v-card
      v-bind="options"
      class="px-2"
      :loading="loading"
      :disabled="loading"
    >
      <!-- 
        <base-loader
        :absolute="true"
        :loading="loading"
      /> -->
      <slot name="header">
        <v-toolbar
          color="transparent"
          class="base-section-toolbar pt-1"
          flat
        >
          <slot name="section.toolbar.start.prepend" />
          <v-btn
            v-if="icon"
            class="ml-1"
            icon
          >
            <v-icon>{{ icon }}</v-icon>
          </v-btn>
          <v-card-title
            v-if="titleVisible"
            class="text-capitalize font-weight-bold card-title"
          >
            {{ titleAlias || title }}
          </v-card-title>
          <slot name="section.toolbar.start.append" />
          <v-spacer />
          <slot name="section.toolbar.end" />
        </v-toolbar>
      </slot>
      <alert
        class="mx-1"
        :alert="alert"
        @close="alert = null"
      />
      <slot name="section.prepend" />
      <slot>
        <v-container
          fluid
          class="py-0"
        >
          <v-row>
            <div
              v-if="contents.length > 0"
              style="width: 100%;"
            >
              <v-col
                v-for="(content, index) of contents"
                :key="`${index}_${content.title}`"
                cols="12"
                class="px-6"
                :md="content.cols || 12"
              >
                <v-row
                  align="center"
                  justify="center"
                >
                  <component
                    :is="components[content.type]"
                    v-bind="content"
                    @vega-view-changed="
                      $emit('vega-view-changed', content.title, $event)
                    "
                    @row-selection-changed="
                      $emit('row-selection-changed', content.title, $event)
                    "
                    @col-selection-changed="
                      $emit('col-selection-changed', content.title, $event)
                    "
                  >
                    <template v-slot:toolbar.before.start>
                      <slot :name="`content.${index}.toolbar.before.start`" />
                    </template>
                    <template v-slot:body.prepend>
                      <slot :name="`content.${index}.prepend`" />
                    </template>
                    <template v-slot:body.append>
                      <slot :name="`content.${index}.append`" />
                    </template>
                  </component>
                </v-row>
              </v-col>
            </div>
            <div
              v-else
              style="width: 100%;"
            >
              <v-col
                cols="12"
                class="px-4"
              >
                <v-card
                  outlined
                  :height="`${blankHeight}px`"
                >
                  <v-card-subtitle>No Data</v-card-subtitle>
                </v-card>
              </v-col>
            </div>
          </v-row>
        </v-container>
      </slot>
      <slot name="section.append" />
    </v-card>
  </div>
</template>

<script>
import { filter, has } from 'lodash'
import Alert from '@/components/general/notifs/Alert'
import BaseLoader from '@/components/general/BaseLoader'
import BaseTable from '@/components/general/tables/BaseTable'
import BaseChart from '@/components/general/BaseChart'
import BaseD3Map from '@/components/general/BaseD3Map'
import BaseLMap from '@/components/general/map/BaseLMap'
import BaseAgTable from '@/components/general/tables/BaseAgTable'
import BaseTextCard from '@/components/general/BaseTextCard'

export default {
  name: 'BaseSectionBuilder',
  components: {
    Alert,
    BaseLoader,
    BaseLMap,
    BaseD3Map,
    BaseChart,
    BaseTable,
    BaseAgTable,
    BaseTextCard,
  },
  props: {
    icon: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    titleAlias: {
      type: String,
      default: '',
    },
    blankHeight: {
      type: Number,
      default: 400,
    },
    contents: {
      type: Array,
      default: function () {
        return []
      },
      // validator: function (value) {
      //   console.log('validate content: ', value)
      //   return (
      //     value.length === 0 
      //     || filter(value, (item) => {
      //       // TODO: should has title in the future has(item, 'title')
      //       return has(item, 'data') && has(item, 'type')
      //     }).length === value.length
      //   )
      // },
    },
    options: {
      type: Object,
      default: function () {
        return {
          flat: true,
          color: 'transparent',
        }
      },
    },
    alert: {
      type: Object,
      default: function () {
        return null
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      components: {
        map: 'BaseLMap',
        chart: 'BaseChart',
        table: 'BaseAgTable',
        text: 'BaseTextCard',
        'd3-map': 'BaseD3Map',
      },
    }
  },
  computed: {
    titleVisible() {
      if (typeof this.options['showTitle'] === 'undefined')
        return this.title || this.titleAlias
      return Boolean(this.options['showTitle'])
    },
  },
}
</script>

<style>
.card-title {
  font-size: 1rem;
}
/* solve the navigation bar padding issue */
.hash-link::before {
  display: block;
  content: ' ';
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
  pointer-events: none;
}
.base-section-toolbar .v-toolbar__content {
  padding: 0;
}
</style>