<template>
  <div style="width: 100%; height: 100%;">
    <span
      :id="title | formatId"
      class="hash-link"
    />
    <v-card
      v-bind="options"
      class="px-2"
      :loading="loading"
      :disabled="loading"
    >
      <slot name="section.header">
        <v-toolbar
          color="transparent"
          flat
          dense
          class="pt-4"
        >
          <slot name="section.toolbar.start.prepend" />
          <v-card-title
            v-if="titleVisible"
            class="render-card-title px-0"
          >
            <!-- font-weight-bold card-title -->
            <v-icon left>
              {{ icon }}
            </v-icon>
            {{ titleAlias || title }}
          </v-card-title>
          <slot name="section.toolbar.start.append" />
          <v-spacer />
          <slot name="section.toolbar.end" />
          <template
            v-if="tabs.length > 1"
            v-slot:extension
          >
            <v-tabs
              v-model="tabsModel"
              class="mx-1"
            >
              <v-tabs-slider />
              <v-tab
                v-for="(tabItem, index) of tabs"
                :key="tabItem.key"
                :href="`#tab-${tabItem.key}`"
                class="px-10 text-capitalize font-weight-bold"
                @click="
                  $emit('tab-clicked', {
                    title: tabItem.title,
                    key: tabItem.key,
                    index,
                  })
                "
              >
                <span>
                  {{ tabItem.title }}
                </span>
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>
      </slot>
      <alert
        :alert="alert"
        class="mx-1 pt-4"
        @close="alert = null"
      />
      <slot name="section.prepend" />
      <slot>
        <div
          v-if="tabs.length > 1"
          class="pt-4"
          style="width: 100%;"
        >
          <v-divider class="mx-5" />
          <v-tabs-items v-model="tabsModel">
            <v-tab-item
              v-for="(tabItem, index) of tabs"
              :key="tabItem.key"
              :value="`tab-${tabItem.key}`"
            >
              <v-row>
                <v-col
                  :cols="tabItem.cols || 12"
                  :md="tabItem.cols || 12"
                  class="px-6"
                >
                  <v-row
                    align="center"
                    justify="center"
                  >
                    <v-card
                      v-bind="tabContentOptions"
                      class="px-2"
                      width="100%"
                    >
                      <slot :name="`section.tab.${index}.content.header`">
                        <v-card-title
                          v-if="tabContentOptions.showTitle"
                          class="text-capitalize font-weight-bold card-title"
                        >
                          {{ tabItem.title }}
                        </v-card-title>
                      </slot>
                      <slot :name="`section.tab.${index}.content.prepend`" />
                      <slot>
                        <v-container
                          fluid
                          class="pa-0"
                        >
                          <v-row v-if="tabItem.contents.length > 0">
                            <v-col
                              v-for="(content,
                                      contentIndex) of tabItem.contents"
                              :key="content.key"
                              :cols="content.cols || 12"
                              :md="content.cols || 12"
                              class="px-5"
                            >
                              <v-row
                                align="center"
                                justify="center"
                              >
                                <keep-alive>
                                  <component
                                    :is="components[content.type]"
                                    :key="content.key"
                                    v-bind="content"
                                    @vega-view-changed="
                                      $emit(
                                        'tab-vega-view-changed',
                                        tabItem.title,
                                        index,
                                        content.title,
                                        contentIndex,
                                        $event
                                      )
                                    "
                                    @on-grid-ready="
                                      $emit(
                                        'tab-grid-ready',
                                        tabItem.title,
                                        index,
                                        content.title,
                                        contentIndex,
                                        $event
                                      )
                                    "
                                    @row-selection-changed="
                                      $emit(
                                        'tab-row-selection-changed',
                                        tabItem.title,
                                        index,
                                        content.title,
                                        contentIndex,
                                        $event
                                      )
                                    "
                                    @col-selection-changed="
                                      $emit(
                                        'tab-col-selection-changed',
                                        tabItem.title,
                                        index,
                                        content.title,
                                        contentIndex,
                                        $event
                                      )
                                    "
                                  >
                                    <template v-slot:toolbar.before.start>
                                      <slot
                                        :name="`section.tab.${index}.content.${contentIndex}.toolbar.before.start`"
                                      />
                                    </template>
                                    <template v-slot:body.prepend>
                                      <slot
                                        :name="`section.tab.${index}.content.${contentIndex}.prepend`"
                                      />
                                    </template>
                                    <template v-slot:body.append>
                                      <slot
                                        :name="`section.tab.${index}.content.${contentIndex}.append`"
                                      />
                                    </template>
                                  </component>
                                </keep-alive>
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-container>
                      </slot>
                      <slot :name="`section.tab.${index}.content.append`" />
                    </v-card>
                  </v-row>
                </v-col>
              </v-row>
            </v-tab-item>
          </v-tabs-items>
        </div>
        <div
          v-else-if="tabs.length === 1"
          class="pt-0"
          style="width: 100%;"
        >
          <v-row>
            <v-col
              :cols="tabs[0].cols || 12"
              :md="tabs[0].cols || 12"
              class="px-6"
            >
              <v-row
                align="center"
                justify="center"
              >
                <v-card
                  v-bind="tabContentOptions"
                  class="px-2"
                  width="100%"
                >
                  <slot :name="`section.tab.0.content.header`">
                    <v-card-title
                      v-if="tabContentOptions.showTitle"
                      class="text-capitalize font-weight-bold card-title"
                    >
                      {{ tabs[0].title }}
                    </v-card-title>
                  </slot>
                  <slot :name="`section.tab.0.content.prepend`" />
                  <slot>
                    <v-container
                      fluid
                      class="pa-0"
                    >
                      <v-row v-if="tabs[0].contents.length > 0">
                        <v-col
                          v-for="(content, contentIndex) of tabs[0].contents"
                          :key="content.key"
                          :cols="content.cols || 12"
                          :md="content.cols || 12"
                          class="px-5"
                        >
                          <v-row
                            align="center"
                            justify="center"
                          >
                            <keep-alive>
                              <component
                                :is="components[content.type]"
                                :key="content.key"
                                v-bind="content"
                                @vega-view-changed="
                                  $emit(
                                    'tab-vega-view-changed',
                                    tabs[0].title,
                                    0,
                                    content.title,
                                    contentIndex,
                                    $event
                                  )
                                "
                                @row-selection-changed="
                                  $emit(
                                    'tab-row-selection-changed',
                                    tabs[0].title,
                                    0,
                                    content.title,
                                    contentIndex,
                                    $event
                                  )
                                "
                                @col-selection-changed="
                                  $emit(
                                    'tab-col-selection-changed',
                                    tabs[0].title,
                                    0,
                                    content.title,
                                    contentIndex,
                                    $event
                                  )
                                "
                              >
                                <template v-slot:toolbar.before.start>
                                  <slot
                                    :name="`section.tab.0.content.${contentIndex}.toolbar.before.start`"
                                  />
                                </template>
                                <template v-slot:body.prepend>
                                  <slot
                                    :name="`section.tab.0.content.${contentIndex}.prepend`"
                                  />
                                </template>
                                <template v-slot:body.append>
                                  <slot
                                    :name="`section.tab.0.content.${contentIndex}.append`"
                                  />
                                </template>
                              </component>
                            </keep-alive>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </slot>
                  <slot :name="`section.tab.0.content.append`" />
                </v-card>
              </v-row>
            </v-col>
          </v-row>
        </div>
        <div
          v-else
          style="width: 100%;"
        >
          <v-container
            fluid
            class="py-0"
          >
            <v-row>
              <v-col
                cols="12"
                :class="alert ? 'px-4' : 'px-4 pt-7'"
              >
                <v-card
                  outlined
                  :height="`${blankHeight}px`"
                >
                  <v-card-subtitle>No Data</v-card-subtitle>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </slot>
      <slot name="section.append" />
    </v-card>
  </div>
</template>

<script>
import { has, filter } from 'lodash'
import Alert from '@/components/general/notifs/Alert'
import BaseChart from '@/components/general/BaseChart'
import BaseD3Map from '@/components/general/BaseD3Map'
import BaseLMap from '@/components/general/map/BaseLMap'
import BaseAgTable from '@/components/general/tables/BaseAgTable'
import BaseTextCard from '@/components/general/BaseTextCard'

export default {
  name: 'BaseTabSectionBuilder',
  components: {
    Alert,
    BaseLMap,
    BaseD3Map,
    BaseAgTable,
    BaseTextCard,
    BaseChart,
  },
  props: {
    icon: {
      type: String,
      default: 'mdi-file-document',
    },
    title: {
      type: String,
      default: '',
    },
    titleAlias: {
      type: String,
      default: '',
    },
    tabs: {
      type: Array,
      default: function () {
        return []
      },
      validator: function (value) {
        return (
          value.length === 0 ||
          filter(value, (item) => {
            return has(item, 'title') && has(item, 'contents')
          }).length === value.length
        )
      },
    },
    options: {
      type: Object,
      default: function () {
        return {
          flat: true,
        }
      },
    },
    tabContentOptions: {
      type: Object,
      default: function () {
        return {
          flat: true,
        }
      },
    },
    alert: {
      type: Object,
      default: function () {
        return null
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
    blankHeight: {
      type: Number,
      default: 400,
    },
  },
  data() {
    return {
      tabsModel: this.$uuid.v4(),
      components: {
        map: 'BaseLMap',
        table: 'BaseAgTable',
        text: 'BaseTextCard',
        chart: 'BaseChart',
        'd3-map': 'BaseD3Map',
      },
    }
  },
  computed: {
    titleVisible() {
      if (typeof this.options['showTitle'] === 'undefined')
        return this.title || this.titleAlias
      return Boolean(this.options['showTitle'])
    },
  },
  methods: {},
}
</script>

<style>
.render-card-title {
  font-size: .875rem;
  font-weight: 700 !important;
  text-transform: capitalize;
}
/* solve the navigation bar padding issue */
.hash-link::before {
  display: block;
  content: ' ';
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
  pointer-events: none;
}
</style>
