<template>
  <div class="rva-d3-map-tooltip">
    <slot name="prepend"></slot>
    <div v-if="!textsVisible" class="default-text">
      Click a site
    </div>
    <div v-else class="text-item-block">
      <div
        v-for="(textItem, textItemIndex) in texts"
        :key="`${textItem.label}_${textItemIndex}`"
        :class="`text-item-line ${
          textItemIndex === texts.length - 1 ? 'mb-2' : ''
        }`"
      >
        <div v-if="textItem.type === 'list'" class="text-item-list">
          <div class="list-label">{{ textItem.label }}:</div>
          <ul class="list-value">
            <li
              v-for="(value, index) in textItem.value"
              :key="`${textItemIndex}_${index}`"
              class="value"
            >
              {{ value }}
            </li>
          </ul>
        </div>
        <div
          v-else-if="textItem.type === 'category'"
          class="text-left font-weight-bold mt-2"
        >
          <div class="text-h6 primary--text">{{ textItem.label }}:</div>
          <div class="subtitle-1 primary--text">
            {{ textItem.value }}
          </div>
        </div>
        <div v-else class="normal-text-item">
          <div class="label">{{ textItem.label }}:</div>
          <div class="value">
            {{ textItem.value }}
          </div>
        </div>
      </div>
    </div>
    <slot name="charts.before"></slot>
    <div v-if="chartsVisible">
      <div v-for="(chartItem, index) of charts" :key="`chart_${index}`">
        <base-d3-line-chart
          v-if="chartItem.data && chartItem.data.length"
          class="rva-d3-mini-line-chart"
          :data="chartItem.data"
          :title="chartItem.title"
          :point="chartItem.point"
          :values="chartItem.values"
          :y-format="chartItem.yFormat"
          :y-axis-title="chartItem.yAxisTitle"
          :explanations="chartItem.explanations"
        >
        </base-d3-line-chart>
      </div>
    </div>
    <slot name="append"></slot>
  </div>
</template>

<script>
import { filter, has } from 'lodash'
import BaseD3LineChart from '@/components/general/BaseD3LineChart'

export default {
  name: 'BaseD3MapTooltip',
  components: {
    BaseD3LineChart,
  },
  props: {
    texts: {
      type: Array,
      default() {
        return []
      },
    },
    charts: {
      type: Array,
      default() {
        return []
      },
      validator: function (value) {
        if (!value) return true
        return (
          value.length === 0 ||
          filter(value, (item) => {
            return has(item, 'data') && has(item, 'lineValues')
          }).length === value.length
        )
      },
    },
  },
  computed: {
    textsVisible() {
      return Array.isArray(this.texts) && this.texts.length > 0
    },
    chartsVisible() {
      return Array.isArray(this.charts) && this.charts.length > 0
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.rva-d3-map-tooltip {
  width: 350px;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  max-height: 1000px;
}
.default-text {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
}
.text-item-block {
  .text-item-line {
    .normal-text-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      .label {
        font-weight: bold;
        margin-right: 3px;
        min-width: 100px;
        // width: auto;
        color: #000;
      }
      .value {
        color: #666;
      }
    }
    .text-item-list {
      text-align: left;

      .list-label {
        font-weight: bold;
        width: 100px;
        color: #000;
      }
      .list-value {
        width: 100%;

        .value {
          color: #666;
        }
      }
    }
  }
}
.rva-d3-mini-line-chart {
  width: 100%;
}
</style>
