<template>
  <base-render-card
    :title="title"
    :alert="alert"
    :loading="loading"
    :data="data"
    :custom-options="cardOptions"
  >
    <template v-slot:default>
      <div class="text-wrapper" v-html="formattedData"></div>
    </template>
  </base-render-card>
</template>

<script>
import BaseRenderCard from '@/components/general/BaseRenderCard'

export default {
  name: 'BaseTextCard',
  components: {
    BaseRenderCard,
  },
  data() {
    return {
      alert: null,
      formattedData: '',
    }
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    data: {
      type: String,
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  methods: {
    formatContentWithUrl() {
      if (this.data === '') {
        return 'N/A'
      }
      let UrlReg = /(http[s]?:\/\/([\w-]+.)+([:\d+])?((\/)*[\w-\.\/\?%&=!]*)?)/gi
      let result = this.data.replace(UrlReg, function (a) {
        return `<a href="${a}" target="_blank">${a}</a>`
      })
      return result
    },
  },
  created() {
    this.formattedData = this.formatContentWithUrl()
  },
}
</script>

<style scoped>
.text-wrapper {
  white-space: pre-wrap;
  text-align: justify !important;
}</style
>>
