<template>
  <div v-if="enabled">
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          :small="small"
          :color="color"
          v-on="on"
          @click="toggleFullScreen"
        >
          <v-icon>{{ btnIcon }}</v-icon>
        </v-btn>
      </template>
      <span>{{ btnTooltipText }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import screenfull from 'screenfull'
export default {
  name: 'Screenfull',
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      isFullScreen: false,
      enabled: screenfull.isEnabled,
    }
  },
  computed: {
    btnIcon() {
      return this.isFullScreen ? 'mdi-fullscreen-exit' : 'mdi-fullscreen'
    },
    btnTooltipText() {
      return this.isFullScreen
        ? 'Click to exit full screen'
        : 'Click to enter full screen'
    },
  },
  mounted() {
    if (screenfull.isEnabled) {
      screenfull.on('change', this.changeFullShow)
    }
  },
  destroyed() {
    screenfull.off('change', this.changeFullShow)
  },
  methods: {
    toggleFullScreen() {
      if (screenfull.isEnabled) {
        screenfull.toggle()
      }
    },
    changeFullShow() {
      this.isFullScreen = screenfull.isFullscreen
    },
  },
}
</script>

<style scoped></style>
