<template>
  <div class="rva-d3-line-chart">
    <p class="title">
      {{ title }}
    </p>
    <p class="explanations">
      {{ explanations }}
    </p>
    <D3LineChart :config="config" :datum="data" :height="height"></D3LineChart>
  </div>
</template>

<script>
import { D3LineChart } from 'vue-d3-charts'

export default {
  name: 'BaseD3LineChart',
  components: {
    D3LineChart,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    data: {
      type: Array,
      default() {
        return []
      },
    },
    values: {
      type: [Array, String],
      default() {
        return []
      },
    },
    explanations: {
      type: String,
      default: '',
    },
    yAxisTitle: {
      type: String,
      default: '',
    },
    yFormat: {
      type: String,
      default: '',
    },
    point: {
      type: Boolean,
      default: true,
    },
    height: {
      type: [Number, String],
      default: 150,
    },
  },
  data() {
    return {
      config: {
        values: this.values,
        date: {
          key: 'Date',
          inputFormat: '%Y-%m-%d',
          outputFormat: '%m-%d',
        },
        color: {
          keys: {
            LowCB: '#bdbdbf',
            RtValue: '#ffcc00',
            UpperCB: '#bdbdbf',
          },
        },
        points: this.point,
        curve: 'curveCardinal',
        axis: {
          yTitle: this.yAxisTitle,
          yFormat: this.yFormat,
          xFormat: '%Y-%m-%d',
          yTicks: 3,
          xTicks: 3,
        },
        margin: {
          top: 10,
          right: 10,
          bottom: 30,
          left: 50,
        },
      },
    }
  },
}
</script>

<style>
.rva-d3-line-chart .title {
  font-size: 16px !important;
  font-weight: bold;
  color: #000;
}
.rva-d3-line-chart .explanations {
  font-size: 12px !important;
  font-weight: normal;
  color: #97969b;
}</style
>>
