<template>
  <base-render-card
    :title="title"
    :alert="alert"
    :loading="loading"
    :prepend-icon="prependIcon"
    :custom-options="cardOptions"
  >
    <template v-slot:body.prepend>
      <slot name="body.prepend" />
    </template>
    <template v-slot:default>
      <div
        :id="id"
        :class="{ 'initial-height': loading && !data }"
      >
        <v-card
          v-if="!loading && !data"
          flat
          color="transparent"
        >
          <v-icon
            large
            color="grey lighten-1"
          >
            mdi-image-off-outline
          </v-icon>
          <v-card-subtitle>No Data To Show</v-card-subtitle>
        </v-card>
      </div>
    </template>
  </base-render-card>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { parseJSON, formatId } from '@/utils'
import { default as vegaEmbed } from 'vega-embed'
import BaseRenderCard from '@/components/general/BaseRenderCard'

export default {
  name: 'BaseChart',
  components: {
    BaseRenderCard
  },
  props: {
    title: {
      type: String,
      required: true
    },
    data: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    },
    prependIcon: {
      type: String,
      default: 'mdi-finance'
    },
    cardOptions: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      alert: null,
      view: null
    }
  },
  computed: {
    id() {
      // To avoid same title in same document.
      return `${formatId(this.title)}-${new Date().getTime()}`
    },
    height() {
      if (this.vegaSpec) {
        return this.vegaSpec.height
      }
      return 350
    },
    vegaSpec() {
      return parseJSON(this.data)
    }
  },
  watch: {
    vegaSpec: {
      deep: true,
      immediate: true,
      handler: 'renderChart'
    }
  },
  methods: {
    renderChart() {
      if (!isEmpty(this.vegaSpec)) {
        vegaEmbed(`#${this.id}`, this.vegaSpec, {
          defaultStyle: true,
          actions: {
            export: true,
            source: false,
            compiled: false,
            editor: false
          }
        })
          .then(({ view }) => {
            this.$emit('vega-view-changed', view)
          })
          .catch(e => {
            this.alert = {
              type: 'error',
              message: `Error occurred while rendering vega chart: ${e}`
            }
            console.error(e)
          })
      }
    }
  }
}
</script>

<style>
.vega-bind-radio input[type='radio'] {
  margin-right: 0.15rem !important;
}

.vega-bind-radio label {
  color: black;
  margin-right: 0.875rem !important;
}

.vega-bind input[type='checkbox'] {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.vega-bind {
  padding: .25rem;
  display: inline-block;
}

.vega-bind label {
  color: black;
}

.vega-bind select {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.vega-bind-name {
  text-transform: capitalize;
  padding-right: 0.25rem !important;
}

.initial-height {
  height: 350px;
}
</style>
