<template>
  <v-card v-bind="options" class="px-0">
    <slot name="header"></slot>
    <slot name="content.prepend"></slot>
    <alert :alert="alert" class="mx-6"></alert>
    <slot>
      <v-container fluid class="py-0">
        <v-row>
          <v-col
            cols="12"
            class="px-6"
            v-for="(content, index) of data.contents"
            :key="`${index}_${content.title}`"
            :md="content.cols || 6"
          >
            <v-row align="center" justify="center">
              <component
                :is="components[content.type]"
                v-bind="content"
                @vega-view-changed="
                  $emit('vega-view-changed', content.title, $event)
                "
                @row-selection-changed="
                  $emit('row-selection-changed', content.title, $event)
                "
                @col-selection-changed="
                  $emit('col-selection-changed', content.title, $event)
                "
              ></component>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </slot>
    <slot name="content.append"></slot>
    <slot name="footer"></slot>
  </v-card>
</template>

<script>
import { has } from 'lodash';
import Alert from '@/components/general/notifs/Alert';
import BaseTable from '@/components/general/tables/BaseTable';
import BaseChart from '@/components/general/BaseChart';
import BaseLMap from '@/components/general/map/BaseLMap';

export default {
  name: 'BaseSection',
  components: {
    Alert,
    BaseLMap,
    BaseTable,
    BaseChart,
  },
  props: {
    data: {
      type: Object,
      validator: function(value) {
        return has(value, 'section') && has(value, 'contents');
      },
    },
    options: {
      type: Object,
    },
  },
  data() {
    return {
      alert: null,
      components: {
        map: 'BaseLMap',
        table: 'BaseTable',
        chart: 'BaseChart',
      },
    };
  },
  methods: {
    dismissAlert() {
      this.alert = null;
    },
    onSuccess(message) {
      this.alert = { type: 'info', message };
    },
    onFailure(message) {
      this.alert = { type: 'error', message };
    },
  },
};
</script>
