<template>
  <v-overlay
    :value="loading"
    :z-index="zIndex"
    :opacity="opacity"
    :absolute="absolute"
  >
    <!-- <v-progress-circular indeterminate size="64"></v-progress-circular> -->
    <v-img
      contain
      alt="loading"
      :src="require('@/assets/loading-spinning-bubbles.svg')"
    ></v-img>
  </v-overlay>
</template>

<script>
export default {
  name: 'BaseLoader',
  props: {
    absolute: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    opacity: {
      type: [Number, String],
      default: 0
    },
    zIndex: {
      type: Number,
      default: 3
    },
    absolute: {
      type: Boolean,
      default: false
    }
  }
}
</script>
