<template>
  <div style="width: 100%;">
    <aplayer
      autoplay
      :mini="mini"
      :float="float"
      :list="audioList"
      :showLrc="showLrc"
      :music="audioList[0]"
    />
  </div>
</template>

<script>
import Aplayer from 'vue-aplayer'

export default {
  name: 'BaseMusicPlayer',
  components: {
    Aplayer,
  },
  props: {
    audioList: {
      type: Array,
      default: [],
    },
    mini: {
      type: Boolean,
      default: false,
    },
    float: {
      type: Boolean,
      default: false,
    },
    theme: {
      type: String,
      default: '',
    },
    shuffle: {
      // rank display
      type: Boolean,
      default: false,
    },
    repeat: {
      // Either to 'repeat-one' 'repeat-all' or 'no-repeat', or 'music' 'list' 'none'
      type: String,
      default: '',
    },
    showLrc: {
      type: Boolean,
      default: true,
    },
    autoplay: {
      type: Boolean,
      default: true,
    },
    controls: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {}
  },
}
</script>
