<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="650px"
  >
    <template #activator="{ on }">
      <v-btn
        :disabled="disabled"
        class="ma-2"
        color="primary"
        depressed
        small
        v-on="on"
      >
        Upload
        <v-icon
          small
          right
        >
          mdi-upload
        </v-icon>
      </v-btn>
    </template>

    <v-form ref="form">
      <v-card
        raised
        :loading="loading"
        :disabled="loading"
      >
        <v-app-bar
          dark
          color="primary"
          class="font-weight-bold px-2"
        >
          Upload A File 
          <v-spacer />
          <v-btn
            icon
            @click="reset"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-app-bar>

        <alert
          :alert="alert"
          :dismissible="false"
          class="mx-2"
        />

        <v-card-text>
          <form-generator
            :form-fields="formFields"
            @input="onChange"
          />
        </v-card-text>

        <v-card-actions class="pa-6">
          <v-spacer />
          <v-btn
            small
            rounded
            outlined
            color="primary"
            @click.prevent="reset"
          >
            Cancel
          </v-btn>
          <v-btn
            small
            rounded
            depressed
            color="primary"
            @click.prevent="submit"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import find from 'lodash/find'
import Alert from '@/components/general/notifs/Alert'
import FormGenerator from '@/components/general/form/FormGenerator'
import { baseClient } from '@/service/http-client/grpc'
import { mapGetters } from 'vuex'

const UPLOAD_FIELDS = [
  {
    value: [],
    dense: false,
    outlined: false,
    name: 'file',
    counter: true,
    showSize: true,
    multiple: false,
    type: 'FileInput',
    truncateLength: 80,
    persistentHint: true,
    placeholder: 'Select a file to upload',
    hint:
      'Only accept files in audio/*,video/*,image/*,.doc,.docx,.xml,.pdf,.csx,.xlsx,.csv format',
    rules: [(v) => !!v.length || 'Please select a file'],
    accept:
      'audio/*,video/*,image/*,.doc,.docx,.xml,.pdf,.csx,.xlsx,.csv,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
  },
] // TODO: enhance the supported file types in the future

export default {
  name: 'BaseFileUploader',
  components: { FormGenerator, Alert },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    taskId: {
      type: String,
      default: '',
      required: false,
    },
    studyId: {
      type: String,
      default: '',
      required: false,
    },
    category: {
      type: String,
      required: true,
      validator: function (value) {
        // The value must valid string
        return value && value.length > 0 && value.trim().length > 0
      },
    },
  },
  data() {
    return {
      alert: null,
      dialog: false,
      loading: false,
      formFields: UPLOAD_FIELDS,
    }
  },
  computed: {
    ...mapGetters('user', ['userId']),
    formData() {
      const data = {}
      this.formFields.forEach((field) => {
        if (field.type === 'FileInput') {
          data[field.name] = field.value.length > 0 ? field.value[0] : null
        } else {
          data[field.name] =
            !field.value || typeof field.value === 'undefined'
              ? ''
              : field.value
        }
      })
      return data
    },
    filename() {
      return this.formData['file'] ? this.formData['file'].name : ''
    },
  },
  created() {},
  methods: {
    onChange(name, value) {
      const field = find(this.formFields, { name: name })
      this.$set(field, 'value', value)
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.dismissAlert()
        this.toggleLoading()
        this.fileToBase64(this.formData['file'])
          .then((bytes) => this.uploadFile(bytes))
          .then(this.onSuccess)
          .catch(this.onFailure)
          .finally(this.toggleLoading)
      }
    },
    reset() {
      this.dialog = false
      this.$refs.form.reset()
      this.dismissAlert()
    },
    // Given a File object, convert it to a Uint8Array typed array
    fileToUint8Array(file) {
      return new Promise((resolve, reject) => {
        if (!file) {
          reject('No file found!')
          return
        }

        const reader = new FileReader()
        reader.onload = () => {
          const arrayBuffer = reader.result
          const uint8Array = new Uint8Array(arrayBuffer)
          resolve(uint8Array)
        }
        reader.onerror = (error) => reject(error)
        reader.readAsArrayBuffer(file)
      })
    },
    fileToBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = () => {
          const base64result = reader.result.split(',')[1]
          resolve(base64result)
        }
        reader.onerror = error => reject(error)
        if (file) {
          reader.readAsDataURL(file)
        }
      })
    },
    uploadFile(bytes) {
      return new Promise((resolve, reject) => {
        if (!bytes) {
          reject('No file content, please choose a file with content.')
          return
        }

        baseClient
          .post('/v1/file/upload', {
            file_name: this.filename,
            file_category: this.category,
            file_content: bytes,
            task_id: this.taskId,
            user_id: this.userId,
            study_id: this.studyId,
          })
          .then((res) => {
            if (!res || !res.data) {
              reject('Update file failed.')
            } else {
              resolve(res.data)
            }
          })
          .catch((e) => {
            console.error(e)
            reject(`Upload file failed, please try again later and contact with admin if it still exists.`)
          })
      })
    },
    onSuccess(res) {
      this.reset()
      this.$emit('success', res)
    },
    onFailure(err) {
      this.alert = { type: 'error', message: err }
    },
    dismissAlert() {
      this.alert = null
    },
    toggleLoading() {
      this.loading = !this.loading
    },
  },
}
</script>
