<template>
  <v-card
    v-bind="options"
    :loading="loading"
    :disabled="loading"
  >
    <slot name="header">
      <v-card-title
        v-if="titleVisible"
        class="render-card-title"
      >
        <v-icon
          v-if="prependIcon"
          left
        >
          {{ prependIcon }}
        </v-icon>
        {{ title }}
      </v-card-title>
    </slot>
    <slot name="body.prepend" />
    <v-card-text
      class="text-center"
      v-bind="textOptions"
    >
      <alert
        :alert="alert"
        class="text-left mb-2"
        @close="alert = null"
      />
      <slot />
      <slot name="body.append" />
    </v-card-text>
  </v-card>
</template>

<script>
import Alert from '@/components/general/notifs/Alert'

export default {
  name: 'BaseRenderCard',
  components: {
    Alert,
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    },
    alert: {
      type: Object,
      default: null
    },
    prependIcon: {
      type: String,
      default: 'mdi-collage'
    },
    customOptions: {
      type: Object,
      default: function () {
        return {}
      }
    },
    textOptions: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      defaultOptions: {
        width: '100%',
        flat: true
        // elevation: 1
      }
    }
  },
  computed: {
    options() {
      return Object.assign(this.defaultOptions, this.customOptions)
    },
    titleVisible() {
      if (!this.title) return false
      if (
        this.title &&
        (!this.customOptions ||
          typeof this.customOptions['showTitle'] === 'undefined')
      )
        return true
      return Boolean(this.customOptions['showTitle'])
    }
  }
}
</script>

<style>
.render-card-title {
  font-size: .875rem;
  font-weight: 700 !important;
  text-transform: capitalize;
}
.has-asterisk-left {
  position: relative;
  margin-left: 1em;
}

.has-asterisk-left::before {
  position: absolute;
  content: '*';
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  left: -15px;
  top: 50%;
  transform: translateY(-35%);
}
</style>