<template>
  <v-row>
    <v-col cols="12">
      <v-skeleton-loader
        type="image"
        :height="height"
        :loading="loading"
        class="skeleton-loader"
        :class="{ 'is-loading': loading }"
      >
        <div
          :id="id"
          class="text-center"
        />
      </v-skeleton-loader>
    </v-col>
  </v-row>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { default as vegaEmbed } from 'vega-embed'

export default {
  name: 'Chart',
  props: {
    id: {
      type: String,
      default: ''
    },
    cols: {
      type: Number,
      default: 12
    },
    chartSpec: Object,
    chartData: Array,
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    height() {
      if (this.chartSpec) {
        return this.chartSpec.height
      }
      return 200
    }
  },
  watch: {
    chartData: {
      deep: true,
      immediate: true,
      handler: 'renderChart',
    }
  },
  methods: {
    renderChart() {
      if (!isEmpty(this.chartSpec) && !isEmpty(this.chartData)) {
        // insert values into matched item in spec.data
        for (const data of this.chartData) {
          const item = this.chartSpec.data.find(item => {
            return item.name === data.name
          })
          if (typeof item === 'undefined') {
            console.error(
              `${this.id}, no name in spec.data matches ${data.name}`
            )
          }
          item.values = data.values
        }
        vegaEmbed(`#${this.id}`, this.chartSpec, {
          defaultStyle: false,
          actions: {
            export: false,
            source: false,
            compiled: false,
            editor: false
          }
        })
      }
    }
  }
}
</script>

<style>
/* hide vega chart when loading */
.skeleton-loader.is-loading canvas {
  display: none !important;
}
.v-skeleton-loader__image {
  height: inherit;
}
</style>
