<template>
  <div>
    <span class="hash-link" :id="title | formatId"></span>
    <base-loader :loading="loading" :opacity=0.2></base-loader>
    <v-card 
      flat
      class="px-0"
      color="transparent"
    >
      <v-card-title
        v-if="title"
        class="text-capitalize"
      >
        {{ title }}
      </v-card-title>
      <v-container fluid>
        <slot></slot>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import BaseLoader from '@/components/general/BaseLoader'

export default {
  name: 'ContentWrapper',
  components: {
    BaseLoader
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
/* solve the navigation bar padding issue */
.hash-link::before { 
  display: block; 
  content: " "; 
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}
</style>
