<template>
  <div class="rva-d3-map-zoom">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <button
          @click="$emit('reset-zoom-default')"
          class="reset-button"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon small center>mdi-rotate-3d-variant</v-icon>
        </button>
      </template>
      <span>Reset Zoom</span>
    </v-tooltip>

    <div class="button-block">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <button
            @click="$emit('zoom-in')"
            class="zoom-in-button zoom-button"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon small center>mdi-plus</v-icon>
          </button>
        </template>
        <span>Zoom In</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <button
            @click="$emit('zoom-out')"
            class="zoom-out-button zoom-button"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon small center>mdi-minus</v-icon>
          </button>
        </template>
        <span>Zoom Out</span>
      </v-tooltip>
    </div>
  </div>
</template>

<script>
export default {
  name: 'D3MapZoom',
}
</script>

<style scoped>
.rva-d3-map-zoom {
  display: flex;
}
button {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: #aaa 2px 2px 10px;
  margin-right: 5px;
  border-radius: 4px;
}
button:focus {
  outline: 0;
}
.reset-button {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.button-block {
  border-radius: 4px;
  box-shadow: #aaa 2px 2px 10px;
}
.button-block .zoom-button {
  box-shadow: none;
  margin-right: 0;
}
.button-block .zoom-out-button {
  border-left: solid #aaa 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
</style>
