<template>
  <v-navigation-drawer
    v-if="menu.length > 0"
    app
    clipped
    floating
    permanent
    :value="drawer"
    :mini-variant.sync="mini"
    @transitionend="onTransitionEnd"
  >
    <v-list
      dense
      class="py-0 px-0"
    >
      <v-list-item class="px-2 py-0">
        <v-list-item-avatar>
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-btn 
                icon
                @click.stop="mini = !mini"
                v-on="on"
              >
                <v-icon v-if="mini">
                  mdi-chevron-right
                </v-icon>
                <v-icon v-else>
                  mdi-chevron-left
                </v-icon>
              </v-btn>
            </template>
            <span>{{ drawerTooltip }}</span>
          </v-tooltip>
        </v-list-item-avatar>
      </v-list-item>

      <v-divider />
      
      <v-subheader
        v-if="subheader && !mini"
        class="font-weight-medium text-uppercase"
      >
        {{ subheader }}
      </v-subheader>
      <div
        v-for="item in menu"
        :key="item.title"
        class="py-2"
      >
        <v-list-item
          v-if="!item.sections"
          color="indigo"
          :to="item.link"
          :input-value="isActive(item)"
        >
          <v-list-item-icon>
            <v-tooltip
              right
              nudge-right="15"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  v-on="on"
                  v-text="item.icon"
                />
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title 
              class="wrap-text" 
              v-text="item.title"
            />
          </v-list-item-content>
        </v-list-item>

        <v-list-group
          v-else
          no-action
          color="indigo"
          :value="isActive(item)"
        >
          <template v-slot:prependIcon>
            <v-tooltip
              right
              nudge-right="15"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  v-on="on"
                  v-text="item.icon"
                />
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </template>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title 
                class="wrap-text" 
                v-text="item.title"
              />
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="title in item.sections"
            :key="title"
            :to="title | formatId | formatHashLink(item.link)"
          >
            <v-tooltip
              top
              nudge-top="-10"
            >
              <template v-slot:activator="{ on }">
                <v-list-item-content>
                  <v-list-item-title
                    v-on="on"
                    v-text="title"
                  />
                </v-list-item-content>
              </template>
              <span>{{ title }}</span>
            </v-tooltip>
          </v-list-item>
        </v-list-group>
      </div>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { isEmpty, debounce } from 'lodash'
import { getHash, getRouteDef } from '@/utils'
import { RVA_EVENT_TYPES } from '@/utils/constants'

export default {
  name: 'NavDrawer',
  props: {
    subheader: {
      type: String,
      default: 'Contents'
    },
    menuItems: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data() {
    return {
      mini: true,
      drawer: true,
      menu: this.menuItems
    }
  },
  computed: {
    drawerTooltip() {
      return this.mini ? "Expand Menu" : "Hide Menu"
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        if (typeof to.meta.miniVariant !== 'undefined') {
          this.mini = to.meta.miniVariant
        }
        if (isEmpty(this.menuItems)) {
          this.genMenuItems(getRouteDef(this.$router.options.routes, to))
        }
      }
    }
  },
  created() {
    // create a menu for the current path if menu items not provided
    if (isEmpty(this.menuItems)) {
      this.genMenuItems(
        getRouteDef(this.$router.options.routes, this.$route)
      )
    }
  },
  beforeDestroy() {
    this.menu = []
  },
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer
    },
    isActive(route) {
      return route.name === this.$route.name
    },
    // Generates a menu for the sections under the target route
    genMenuItems(route) {
      if (!route) return

      if (route.meta && !isEmpty(route.meta.sections)) {
        this.menu.push({
          name: route.name,
          title: route.meta.title,
          icon: route.meta.icon,
          link: { name: route.name },
          sections: route.meta.sections
        })
      }
      if (!isEmpty(route.children)) {
        route.children.forEach(item => {
          this.genMenuItems(item)
        })
      }
    },
    debounceClick: debounce((title, link, router) => {
      const hash = getHash(title)
      const anchor = router.currentRoute.hash
      if (hash !== anchor.substring(1)) {
        if (anchor && document.querySelector(anchor)) {
          location.href = `#${hash}`
        } else {
          router.push({ hash: `#${hash}`, ...link })
        }
      }
    }, 200),
    onTransitionEnd() {
      this.bus.$emit(RVA_EVENT_TYPES.RENDER_CONTAINER_SIZE_CHANGED)
    },
  }
}
</script>

<style>
.wrap-text {
  white-space: normal !important;
}
</style>
