<template>
  <v-footer fixed dark padless tile>
    <v-spacer />
    <v-row justify="end">
      <v-col cols="auto" class="text-right mr-4">
        <v-subheader>
          &copy; {{ new Date().getFullYear() }} KCK
        </v-subheader>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: 'NavFooter',
}
</script>
