<template>
  <v-app-bar
    app
    flat
    dense
    dark
    clipped-left
  >
    <v-img 
      contain
      class="mr-4"
      alt="kck"
      max-width="36"
      max-height="36"
      :src="require('@/assets/logo.png')"
    />
    <v-toolbar-title class="font-weight-medium">
      <router-link
        to="/"
        tag="span"
        class="router-link"
      >
        Revel Vuetify Admin
      </router-link>
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-items>
      <template v-for="(item, index) of navbarItems">
        <v-btn 
          v-if="!item.meta.excludeFromMenu"
          :key="item.name"
          text
          small
          :to="{ name: `${item.name}` }"
        >
          <v-icon
            left
            small
            v-text="item.meta.icon"
          />
          {{ item.meta.title }}
        </v-btn>
        <v-divider
          :key="`${item.name}_${index}`"
          inset
          vertical
        />
      </template>
      <v-divider
        inset
        vertical
      />
    </v-toolbar-items>
    <avatar-menu
      v-if="user"
      :user="user"
      @click="signOut"
    />
  </v-app-bar>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { getRoutesByNames } from '@/utils/route'
import { NAV_MENU } from '@/router/configs/common'
import AvatarMenu from '@/components/general/AvatarMenu'

const { mapActions, mapState } = createNamespacedHelpers('user')

export default {
  name: 'NavHeader',
  components: {
    AvatarMenu
  },
  data() {
    return {
      navbarItems: []
    }
  },
  computed: mapState(['user']),
  created() {
    this.getNavMenuItems()
  },
  methods: {
    ...mapActions(['logout']),
    signOut() {
      this.logout().then(() => {
        // clear all of values in local storage
        localStorage.setItem('vuex', '{}')
        // redirect to '/login' and force everything to re-render
        this.$router.go({ path: this.$router.path })
      })
    },
    getNavMenuItems() {
      this.navbarItems = getRoutesByNames(NAV_MENU)
    }
  }
}
</script>

<style scoped>
.underlined {
  border-bottom-color: rgba(0,0,0,.12)!important;
  border-width: 0 0 thin;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: thin;
  border-left-width: 0px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid
}
</style>
