<template>
  <v-card>
    <v-card-title 
      class="card-title grey lighten-3 grey--text text--darken-2 py-2 px-6"
    >
      {{ title }}
    </v-card-title>
    <v-card-text>
      <v-container fluid>
        <v-row>
          <v-col 
            v-for="(item, index) of content"
            :key="index"
          >
            <!-- TODO: title of category (if any) -->
            <component 
              :is="item.type"
              :loading="item.loading"
              v-bind="{ ...item.data }"
              :id="`${item.category} ${item.type}` | formatId"
            >
            </component>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import has from 'lodash/has'
import Chart from '@/components/general/Chart'
import AppTable from '@/components/general/AppTable'

export default {
  name: 'SectionRender',
  components: {
    Chart,
    AppTable
  },
  props: {
    title: {
      type: String,
      required: true
    },
    filters: {
      type: Array,
      default: function () {
        return []
      }
    },
    content: {
      type: Array,
      default: function () {
        return []
      }
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>
