<template>
  <v-list nav flat>
    <div v-for="item in menu" :key="item.title" class="py-2">
      <v-list-item
        v-if="!item.sections"
        exact
        color="primary"
        :to="item.location"
        :disabled="item.disabled"
        :class="item.disabled ? 'is-disabled' : ''"
        @click="onMenuChanged(item.name)"
      >
        <v-list-item-icon>
          <v-tooltip right nudge-right="15">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" v-text="item.icon" />
            </template>
            <span>{{ item.title }}</span>
          </v-tooltip>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="text-wrap" v-text="item.title" />
        </v-list-item-content>
        <v-list-item-action v-if="item.action">
          <v-icon v-text="item.action" />
        </v-list-item-action>
      </v-list-item>

      <scrollactive
        active-class="v-list-item--active"
        @itemchanged="onActiveItemChanged"
        :scroll-offset="item.scrollOffset"
        :highlight-first-item="item.highlightFirstItem"
        :scroll-container-selector="item.scrollContainerSelector"
      >
        <v-list-group
          v-if="showListGroup(item)"
          no-action
          color="indigo"
          :value="isListGroupActive(item)"
          :disabled="item.disabled"
          :class="item.disabled ? 'is-disabled' : ''"
        >
          <template v-slot:prependIcon>
            <v-tooltip right nudge-right="15">
              <template v-slot:activator="{ on }">
                <v-icon v-on="on" v-text="item.icon" />
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </template>
          <template v-slot:activator>
            <v-list-item-content @click="onListGroupClick(item.location)">
              <v-list-item-title
                class="text-wrap"
                :class="item.disabled ? 'is-disabled' : ''"
                v-text="item.title"
              />
            </v-list-item-content>
          </template>
          <template v-slot:appendIcon>
            <v-icon @click="expand = !expand">
              {{ expand ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
            </v-icon>
          </template>

          <v-list-item
            v-for="title in item.sections"
            :key="title"
            :to="title | formatId | formatHashLink(item.location)"
            :input-value="active.includes(title)"
            class="scrollactive-item"
          >
            <v-tooltip right nudge-right="10" :disabled="title.length < 22">
              <template v-slot:activator="{ on }">
                <v-list-item-content>
                  <v-list-item-title v-on="on" v-text="title" />
                </v-list-item-content>
              </template>
              <span>{{ title }}</span>
            </v-tooltip>
          </v-list-item>
        </v-list-group>
      </scrollactive>
    </div>
  </v-list>
</template>

<script>
import { isEmpty } from 'lodash'
import { ROUTE_NAMES } from '@/router/configs/common'

export default {
  name: 'BaseSideMenu',
  props: {
    menu: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      expand: false,
      active: [],
    }
  },
  methods: {
    isListGroupActive(route) {
      return route.name === this.$route.name
    },
    onMenuChanged(name) {
      if (name === 'task-list') {
        this.$emit('menu-changed', {
          type: 'TaskMenu',
          location: { name: ROUTE_NAMES.TASKS.ROOT },
        })
      }
    },
    onListGroupClick(location) {
      this.$router.push(location)
    },
    showListGroup(item) {
      return item && !isEmpty(item.sections)
    },
    onActiveItemChanged(_, item) {
      if (!item) {
        this.active = []
        return
      }
      this.active = [item.innerText]
    },
  },
}
</script>

<style scoped>
.is-disabled {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5) !important;
}
.is-disabled .v-icon {
  color: rgba(255, 255, 255, 0.5) !important;
}
</style>
