<template>
  <v-navigation-drawer
    v-if="drawer"
    app
    dark
    clipped
    floating
    permanent
    width="230"
    color="dark"
    :mini-variant.sync="mini"
    @transitionend="onTransitionEnd"
  >
    <v-list dense>
      <v-subheader
        v-if="!mini"
        class="overline"
      >
        {{ menuTitle }}
      </v-subheader>

      <v-slide-x-transition leave-absolute>
        <component 
          :is="menuType"
          :mini="mini"
          @menu-changed="onMenuChanged"
        />
      </v-slide-x-transition>
    </v-list>

    <template v-slot:append>
      <v-divider v-if="!mini" />
      <v-toolbar
        color="dark"
      >
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn 
              icon
              v-on="on"
              @click.stop="mini = !mini"
            >
              <v-icon v-if="mini">
                mdi-chevron-right
              </v-icon>
              <v-icon v-else>
                mdi-chevron-left
              </v-icon>
            </v-btn>
          </template>
          <span>{{ mini ? 'Expand Menu' : 'Hide Menu' }}</span>
        </v-tooltip>
      </v-toolbar>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { has } from 'lodash'
import { RVA_EVENT_TYPES } from '@/utils/constants'
import { mapMutations, mapState, mapGetters } from 'vuex'
import { DEFAULT_MENU } from '@/components/general/nav-drawer/config'
import MainMenu from '@/components/general/nav-drawer/MainMenu'

export default {
  name: 'NavDrawer',
  components: {
    MainMenu,
  },
  data() {
    return {
      mini: false,
      drawer: true
    }
  },
  computed: {
    ...mapState('drawer', [
      'menuType'
    ]),
    ...mapGetters('drawer', [
      'menuTitle'
    ])
  },
  watch: {
    $route: {
      immediate: true,
      handler(to, from) {
        if ((from && from.name || '') === to.name) return
        
        if (has(to, 'meta.drawer.mini')) {
          this.mini = to.meta.drawer.mini
        }
        if (has(to, 'meta.drawer.hide')) {
          this.drawer = !to.meta.drawer.hide
        }

        let menuType = DEFAULT_MENU
        if (has(to, 'meta.drawer.menuType')) {
          menuType = to.meta.drawer.menuType
        }
        this.setMenuType(menuType)
      }
    }
  },
  methods: {
    ...mapMutations('drawer', [
      'setMenuType'
    ]),
    onMenuChanged({ type, location }) {
      this.setMenuType(type)
      this.$router.push(location)
    },
    onTransitionEnd() {
      this.bus.$emit(RVA_EVENT_TYPES.RENDER_CONTAINER_SIZE_CHANGED)
    }
  }
}
</script>
