<template>
  <base-side-menu :menu="menu" @menu-changed="$emit('menu-changed', $event)" />
</template>

<script>
import { getMenuFromRoutes } from '@/utils/route'
import { MAIN_MENU } from '@/components/general/nav-drawer/config'
import BaseSideMenu from '@/components/general/nav-drawer/BaseSideMenu'

export default {
  name: 'MainMenu',
  components: {
    BaseSideMenu,
  },
  data() {
    return {
      menu: [],
    }
  },
  created() {},
  mounted() {
    this.menu = getMenuFromRoutes(MAIN_MENU, true)
  },
}
</script>
