<template>
  <v-app id="app">
    <v-main>
      <vue-page-transition
        style="height: 100%;"
        v-if="transition"
        :name="transition"
      >
        <router-view style="height: 100%;" />
      </vue-page-transition>
      <router-view v-else />
    </v-main>
  </v-app>
</template>

<script>
import { has } from 'lodash'
import { mapActions } from 'vuex'
import { RVA_EVENT_TYPES } from '@/utils/constants'
import { COUNTRY_CODES_ACTIONS } from '@/store/modules/country-codes'

export default {
  name: 'App',
  data() {
    return {
      transition: '',
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        if (has(to, 'meta.transition')) {
          this.transition = to.meta.transition
        } else {
          this.transition = ''
        }
      },
    },
  },
  created() {
    // store the rough geo data so that can be used for anywhere
    this['getGeoData']().catch((e) => console.error(e))
    // store the country codes so that can be used for anywhere
    this[COUNTRY_CODES_ACTIONS.GET_COUNTRY_CODES]().catch((e) =>
      console.error(e)
    )
    window.addEventListener('resize', this.onWindowResize)
  },
  methods: {
    ...mapActions('geo', ['getGeoData']),
    ...mapActions('countryCodes', [COUNTRY_CODES_ACTIONS.GET_COUNTRY_CODES]),
    onWindowResize() {
      this.bus.$emit(RVA_EVENT_TYPES.RENDER_CONTAINER_SIZE_CHANGED)
    },
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f7;
  color: #1b3a57 !important;
  /* background-image: linear-gradient(257deg,#ebdce1,#aae0eb 71%,#ece1d8) */
}
.hash-link::before {
  display: block;
  content: ' ';
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
  pointer-events: none;
}
.v-chip {
  margin-top: 0.25rem !important;
  height: auto !important;
  white-space: normal !important;
}
.v-dialog {
  box-shadow: none !important;
}
.v-btn {
  text-transform: capitalize !important;
}
.router-link {
  cursor: pointer;
}
</style>
